          main * {
              border: 2px solid black;
              width: 200px;
              height: 200px;
              margin: 20px;
              display: inline-block;
          }
          
          .red {
              background-color: red;
          }
          
          .child {
              position: absolute;
              margin: 0;
              top: 20px;
              left: 50px;
          }
          
          .green {
              background-color: green;
              right: 0;
              bottom: 0;
              position: fixed;
          }
          
          .burlywood {
              background-color: burlywood;
          }