$font: 'Raleway', sans-serif;

@mixin section-top {
  background-color: white;
  opacity: 0.97;
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 100px;
  width: 80%vw;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("./images/lights.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: $font;
}

.burger {
  position: fixed;
  display: inline-block;
  width: 10%vw;
  background-color: none;
  cursor: pointer;
  margin: 4px 10px;
  z-index: 2;


  .bar1 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 1px 2px 2px black;
  }

  .bar2 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 1px 2px 2px black;
  }

  .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 1px 2px 2px black;
  }

  &.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: black;
  }

  &.change .bar2 {
    opacity: 0;
  }
  
  &.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: black;
  }
}

nav {
  font-family: $font;
  background-color: transparent;
  display: relative;

  #dropdown {
    position: fixed;
    z-index: 1;
    background-color: white;
    opacity: 0.97;
    display: flex;
    padding: 20px;
    width: 25%vw;
    height: 50%vh;
    padding: 10px;
    align-items: space-between;


    &.hide {
      display: none;
    }

    &.show {
      display: inline-flex;
      flex-direction: column;
    }

    ul {
      margin-top: 40px;
      list-style-type: none;

      a {
        text-decoration: none;    
      }

      li {
        color: black;
        font-size: 1.5em;

        &:active {
          color: black;
          background-color: lightgray;
          transition: 0.2s;
        }
      }
    }
  }
}

main {
  .jumbotron {
    background-color: transparent;
    background-image: none;
    padding-top: 350px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
  }

  .jumbotron h2 {
    font-size: 48px;
    font-weight: 100;
    margin: 30px 20px 5px;
  }

  .jumbotron p {
    color: white;
    text-align: center;
  } 

  .header {
    background-color: transparent;
    background-image: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    text-shadow: 1px 2px 2px black;

    .header h2 {
      font-size: 48px;
      font-weight: 100;
      margin: 30px 20px 5px;
      padding: 20px;
    }
  }


  .about-me {
    @include section-top;
    padding: 20%vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-top: 20px;
    }

    p {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .my-work {
    @include section-top;
    background-color: transparent;
    color: white;

    .grid {
      display: flex;
      flex-wrap: wrap;

      .column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 40px;
        height: 50%;
        width: 100%;

        div {
          height: 200px;
          width: 150px;
          background-color: darkgray;
          border: solid 2px black;
          padding: 10px;

          :active {
            background-color: red;
            box-shadow: 2px 2px 20px white;
            border: solid 2px white;
          }
        }
      }
    }
  }

  .get-in-touch {
    @include section-top;


    .icons {
      width: 400px;
      height: 100px;
      color: black;
      opacity: 1;
      background-color: lightgrey;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 1067px) {
  #dropdown &:hover {
    color: black;
    background-color: lightgray;
    transition: 0.2s;
  }

  .column &div &:hover {
    background-color: red;
    box-shadow: 2px 2px 20px white;
    border: solid 2px white;
  }
}
  
