* {
  margin: 0;
  padding: 0;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.9))), url("./images/lights.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("./images/lights.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Raleway', sans-serif;
}

.burger {
  position: fixed;
  display: inline-block;
  width: 10%vw;
  background-color: none;
  cursor: pointer;
  margin: 4px 10px;
  z-index: 2;
}

.burger .bar1 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 1px 2px 2px black;
          box-shadow: 1px 2px 2px black;
}

.burger .bar2 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 1px 2px 2px black;
          box-shadow: 1px 2px 2px black;
}

.burger .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 1px 2px 2px black;
          box-shadow: 1px 2px 2px black;
}

.burger.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: black;
}

.burger.change .bar2 {
  opacity: 0;
}

.burger.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: black;
}

nav {
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  display: relative;
}

nav #dropdown {
  position: fixed;
  z-index: 1;
  background-color: white;
  opacity: 0.97;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 25%vw;
  height: 50%vh;
  padding: 10px;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

nav #dropdown.hide {
  display: none;
}

nav #dropdown.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav #dropdown ul {
  margin-top: 40px;
  list-style-type: none;
}

nav #dropdown ul a {
  text-decoration: none;
  margin-bottom: 10px;
}

nav #dropdown ul li {
  color: black;
  font-size: 1.5em;
}

nav #dropdown ul li:active {
  color: black;
  background-color: lightgray;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .jumbotron {
  background-color: transparent;
  background-image: none;
  padding-top: 350px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

main .jumbotron h2 {
  font-size: 48px;
  font-weight: 100;
  margin: 30px 20px 5px;
}

main .jumbotron p {
  color: white;
  text-align: center;
}

main .header {
  background-color: transparent;
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: 1px 2px 2px black;
}

main .header .header h2 {
  font-size: 48px;
  font-weight: 100;
  margin: 30px 20px 5px;
  padding: 20px;
}

main .about-me {
  background-color: white;
  opacity: 0.97;
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 100px;
  width: 80%vw;
  padding: 20%vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about-me h2 {
  margin-top: 20px;
}

main .about-me p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

main .my-work {
  background-color: white;
  opacity: 0.97;
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 100px;
  width: 80%vw;
  background-color: transparent;
  color: white;
}

main .my-work .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .my-work .grid .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
  height: 50%;
  width: 100%;
}

main .my-work .grid .column div {
  height: 200px;
  width: 150px;
  background-color: darkgray;
  border: solid 2px black;
  padding: 10px;
}

main .get-in-touch {
  background-color: white;
  opacity: 0.97;
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 100px;
  width: 80%vw;
}

main .get-in-touch .icons {
  width: 400px;
  height: 100px;
  color: black;
  opacity: 1;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  #dropdown :hover {
    color: black;
    background-color: lightgray;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .frame :hover {
    background-color: red;
    -webkit-box-shadow: 2px 2px 20px white;
            box-shadow: 2px 2px 20px white;
    border: solid 2px white;
  }
}
/*# sourceMappingURL=style.css.map */