* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
header {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: darkgray;
}
#navlinks {
    list-style: none;
    color: white;
    font-size: 20px;
}
#navlinks li {
    display: inline-block;
    padding: 0 20px;
}
#navlinks li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 20px;
}
#navlinks li a:hover {
    color: darkgrey;
    font-weight: bold;
    background-color: yellow;
}
h1 {
    font-size: 100px;
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;;
}
#jobtag {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.container {
    background-image: url("northernlights.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
    height: 500px; 
}
.abtme {
    background-color: darkgrey;
    padding: 20px;
    border: 3px solid yellow;
    margin: 40px;
    padding-bottom: 40px;
}
#abouttitle h2 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    letter-spacing: 10px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    color: white;
}
.abtme p {
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
}
.portfolio h2 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    letter-spacing: 10px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    color: white;
}
.projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 70vw;
    margin: 0 auto;
}
.projects div {
    width: 500px;
    height: 250px;
    border: 3px solid darkgray;
    background-color:yellow;
    margin: 10px;
    color: black;
}
.projects div:hover {
    background-color: darkgray;
    color: #177e89;
    cursor: pointer;
}
main {
    background-color: #177e89;
}
footer h2 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    letter-spacing: 10px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    color: white;
}

footer .social i {
    font-size: 80px;
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
    align-items: center;
    color: white;
}
footer .social i:hover {
    color: yellow;
    cursor: pointer;
}
footer p {
    text-align: center;
    color: white;
    padding: 40px 0px;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    #navlinks li {
        display: block;
    }
    .projects div{
        display: grid;
        width: 200px;

    }
}
