* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

$border: 2px solid black;

.vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0.2;
  z-index: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2em;
  background-color: black;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 2;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: rgb(74, 232, 235);
  }
}

header {
  background-image: linear-gradient(rgb(112, 112, 238), rgb(170, 227, 227));
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  #photo {
    width: 200px;
    border: $border;
    border-radius: 15px 50px;
    margin: 10px;
    box-shadow: 5px 10px rgb(99, 99, 99);
  }

  #arrow {
    position: absolute;
    bottom: 40px;
    right: 40px;
  }

  h1 {
    font-size: 3em;
  }

  .typewriter {
    font-size: 2em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid rgb(154, 154, 154); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 4s steps(40, end), blink-caret 0.5s step-end infinite;

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      to {
        border-color: transparent;
      }
      50% {
        border-color: rgb(255, 255, 254);
      }
    }
  }
}

h2 {
  text-align: center;
  padding: 10px;
  font-size: 2em;
}

P {
  border: $border;
  max-width: 90vw;
  margin: 5px auto;
  text-align: justify;
  font-size: 1.5em;
}

#projects {
  padding: 25px;
  margin: 5px 40px;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
      border: $border; //remove when content is added (i.e. projects)
      border-radius: 5px;
      text-align: center;
      max-width: 90vw;
      margin: 40px auto;
      padding-bottom: 5px;
      font-size: 0.9em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .projvid {
        width: 400px;
      }

      .proj {
        width: 400px;
      }

      .text {
        text-align: center;
        border: none;
      }

      .lunchcode {
        display: flex;
        justify-content: space-evenly;
        z-index: 1;
      }
    }
  }
}

#skills {
  padding: 25px;
  // margin: 5px 10px;

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    div {
      text-align: center;
      padding: 30px;
      margin: 0 30px;
      z-index: 1;

        &:hover {
          opacity: 0.5; 
        }

      .iconname {
        border: none;
        border-radius: 5px;
      }
    }

    img {
      z-index: 1;
      width: 45px;

        &:hover {
          opacity: 0.5;
        }
    }
  }


  p {
    background-color: #cbcbcb;
    font-size: 1.3em;
    font-family: sans-serif;
  }
}

#about {
  padding: 25px;
  margin: 5px 120px;

  
  p {
    background-color: #cbcbcb;
    font-size: 1.3em;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
}


#contact {
  padding: 25px;
  margin: 5px 80px;

  .contactinfo {
    display: flex;
    justify-content: space-evenly;

    .contactdetail {
      width: 320px;

      p {
        background-color: #cbcbcb;
        font-size: 1.3em;
        font-family: sans-serif;
        padding: 10px;
        border: none;
        border-radius: 10px;
      }
    }

    .contact-icon {
      width: 320px;
      z-index: 2;

      p {
        background-color: #cbcbcb;
        font-size: 1.3em;
        font-family: sans-serif;
        padding: 10px;
        border: none;
        border-radius: 10px;

        a {
          text-decoration: none;
          color: black;
          font-family: sans-serif;

          &:hover {
            color: rgb(41, 90, 194);
          }
        }
      }
    }
  }
}
