
$primary-color: whitesmoke;
$secondary-color: #1d2227;
$tertiary-color: #536a8e;
$font-main: 14px;
$tn-width: 7vw;
$tn-height: 7vh;
$btn-width: 27vw;
$btn-height: 7vh;
$primary-border: 2px solid $primary-color;
$breakpoint-l-mobile: 425px;
$breakpoint-s-tablet: 550px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One';
  color: $primary-color;
  text-decoration: none;
}

body {
  display: flex;
}

nav {
  background-color: $secondary-color;
  padding: 5px;
  font-size: $font-main;
  height: 100vh;
    
  #burger {
    display: inline-block;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 40px;
    height: 5px;
    background-color: $primary-color;
    margin: 6px 0;
    transition: 0.4s;
  }   

  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }        

  .change .bar2 {
    opacity: 0;
  }  

  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
    
  .menu {
    display: none;
  }  

  .social {
    display: none;  
  }

  #logo {
    display: none;
  }
  
  #profile {
    display: none;
  }
}

.redline {
  min-width: 1vw;
  background-color: red;
}

/* open menu*/
/*main{
  display: none;
}

a:hover{
  color: red;
}

i:hover{
  color: red;
}

nav {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5px;   
    font-size: 25px;
    text-align: center;
    opacity: 0.7;

    .burger{
        display:none;
    }
  

    ul {
      list-style: none;
    }

    li{
      display: flex;
     margin:20px auto  15px auto;
      }

    i {
     margin:auto 15px auto 15px;
      }
    
    #logo{
          width: 60px;
          height: 60px;
          background-color: transparent;
    }

    #profile{
          width: 60px;
          height: 60px;
    }

    .redline {
    display: none;
    }
  } */

 main {
  background-image: url('./Images/web-build1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-color: $tertiary-color;
  height: 100vh;
  width:100vw;

  section {
    display: grid;
    grid-template-rows: 150px 150px;
    gap: 20px;
    margin: 20px;
    grid-template-areas: 
      "phil phil"
      "frontend frontend"
      "btn-outline btn-primary";
       
    h1 {
      grid-area: phil;
      font-size: 60px;
    }  

    h2 {
      grid-area: frontend;
      font-size: 30px;
    }  

    .btn-outline {
      grid-area: btn-outline;
      border: $primary-border;
      padding: 18px;
      font-size: $font-main;
      width: $btn-width;
      height: $btn-height;
      text-align:center;

      &:hover {
        cursor: pointer;
      }
    }  

    .btn-primary {
      grid-area: btn-primary;
      border: $primary-border;
      background-color: $primary-color;
      color: #536a8e;
      padding: 18px;
      font-size: $font-main;
      width: $btn-width;
      height: $btn-height;
      text-align: center;
    }
  }
}   

.portfolio {
  display: grid;
  grid-template-rows: 150px 50px 150px;
  gap: 20px;
  margin: 20px;
  grid-template-areas: 
    "phil phil phil"
    "frontend frontend frontend"
    "project1 project2 ."
    "project3 project4 ."
    "project5 project6 .";

  article {
    border: $primary-border;
    font-size: 18px;;
    height:15vh;
    padding: 5px;
    text-align: center;
    
  
    .project1 {
      grid-area: project1;
    }

    .project2 {
      grid-area: project2;
    }

    .project3 {
      grid-area: project3;
    }

    .project4 {
      grid-area: project4;
    }

    .project5 {
      grid-area: project5;
    }

    .project6 {
      grid-area: project6;
    }

    i {
      margin: 10px;;

    }
  }
}
.about {
  display: grid;
  grid-template-rows: 150px 50px 100px 100px 100px;
  grid-template-columns: 80px 200px;
  margin: 20px;
  grid-template-areas: 
    "phil phil phil"
    "frontend frontend frontend"
    "skills skillsp "
    ". . experience"
    "qualifications qualificationsp .";

  h3 {
    border: $primary-border;
    font-size: $font-main;
    padding: 5px;
    text-align: center;

  p {
      font-size: 23px;
      padding: 5px;
      text-align: center;
    }
    
    .skills {
      grid-area: skills;
    }

    .experience {
      grid-area: experience;
    }

    .qualifications {
      grid-area: qualifications;
    }
    .skillsp {
      grid-area: skillsp;
  
    }

    .experiencep {
      grid-area: experiencep;
    }

    .qualificationsp {
      grid-area: qualificationsp;
    }
  }
}
@media only screen and (min-width: $breakpoint-l-mobile) {

  main section .btn-primary {
    font-size: 17px;
  }

  main section .btn-outline {
    font-size: 17px;
  }

  .portfolio article{
    font-size: 20px;
  }
}
@media only screen and (min-width: $breakpoint-s-tablet) {

  main section .btn-primary {
    font-size: 20px;
  }

  main section .btn-outline {
    font-size: 20px;
  }

  .portfolio article{
    font-size: 23px;
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  main section h1 {
    font-size:72px;
  }

  main section h2{
    font-size:42px;
  }

  main section .btn-primary {
    font-size: 26px;
    padding:12px;
  }

  main section .btn-outline {
    font-size: 26px;
    padding:12px;
  }

  .portfolio article{
    font-size: 25px;
  }
}

@media only screen and (min-width: $breakpoint-laptop) {
  main section h1 {
    font-size:75px;
  }
  
  main section h2{
    font-size:45px;
  }

  main section .btn-primary {
    font-size: 29px;
  }

  main section .btn-outline {
    font-size: 29px;
  }
}

