$headerheight: 100px;
$parawidthandheight: 150px;
$desktopwidth: 200px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
}

body {
    background-color: #e6e5e3;
  // background-color: 	rgb(244,159,28);
}

header {
    
  height: $headerheight;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 26, 47);
  // border: solid 4px white;

  
  li {
  
    list-style: none;
    text-decoration: none;
    display: none;
  }

  a {
    color: white;
    font-size: 12px;
  }

  .menu-btn {
    // background-color:white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s easie-in-out;
    // border: 3px solid white;
  
  }
  
    .menu-btn_burger {
      width: 50px;
      height: 6px;
      background: white;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    
    }
    
    .menu-btn_burger::before,
    .menu-btn_burger::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background: white;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }

    .menu-btn_burger::before {
      transform: translateY(-16px);
    }
    
    .menu-btn_burger::after {
      transform: translateY(16px);
    }

    .menu-btn.open .menu-btn_burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    
    .menu-btn.open .menu-btn_burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    
    .menu-btn.open .menu-btn_burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
    
  }

main {

  #parawrapper {
    
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
      // height: calc(100% - #{$headerheight});
      height: 100vh;
      display: inline-block;
  //   width: 100vw;
  //   font-size: 40px;
  //   color: rgb(29, 26, 47);
  //   padding-top: 40px;
  }
      
  // .para1 {
  //   width: $parawidthandheight;
  //   height: $parawidthandheight;
  //   text-align: right;
  //   border-top: 3px solid rgb(29, 26, 47);
  //   border-left: 3px dashed rgb(29, 26, 47);
  //   // border-radius: 20px;
  //   margin-bottom: 200px;
  //   margin-right: 5px;
  //   padding-left: 8px;
  // }
    .parahi {
      display: block;
      padding-top: 10px;
      padding-left: 20px;
      font-size: 50px;
      

    }

    .para1 {
      display: inline-block;
      padding-left: 20px;
      font-size: 70px;
      width: 100%;
      line-height: 50pt;
      color: rgb(22, 219, 147);
    }

    .fenn {
      color: rgb(29, 26, 47);
    }

  // .para2 {
  //   width: $parawidthandheight;
  //   height: $parawidthandheight;
  //   border-bottom: 3px solid rgb(29, 26, 47);
  //   border-right: 3px dashed rgb(29, 26, 47);
  //   // border-radius: 20px;
  //   margin-left: 5px;
  //   padding-right: 8px;
  // }
    .para2 { 
      display: block;
      font-size: 30px;
      padding-left: 20px;
      color: rgb(22, 219, 147);

    }

    #insta {
      color: rgb(22, 219, 147);
      font-size: 40px;
  

    }
    
  // .bexfaceparent { 
  //   position: relative;
  //     // i {
  //     //   font-size: 40px;
  //     //   position: absolute;
  //     // }
  }


  .bexface {
    height: auto;
    width: 250px;
    position: fixed;
    right: 0;
    bottom: 0;
  }


// #projects {
//   display: grid;
// }
.projects-grid {
  display: grid;
}

article {
  display: flex;
  justify-items: center;
}
article div {
  border: dashed 2px white;
  border-radius: 20px;
  height: 300px;
  width: 220px;
  // display: inline-block;
}

/* AFTER MEDIA QUERY FOR TABLET SIZE */
@media only screen and (min-width: 768px) {


  main .bexface {
    height: auto;
    width: 300px;
  }   

  #parawrapper {
    padding-top: 90px;
  }

    // .bexfaceparent {
    //   height: 380px;
    // }
    
/* AFTER MEDIA QUERY FOR  SIZE */

@media only screen and (min-width: 991px) {
   
  

  body {
    // display: flex;
    height: 100vh;
    width: 100vw; 

  header {
      display: flex;
      float: left;
      height: 100vh;
      width: $desktopwidth;
    }

  main {
      width: calc(100% - #{$desktopwidth});
      height: 100vh;
      float: left;
  }
  #parawrapper {
        width: calc(100% - #{$desktopwidth});
        height: 100vh;
        padding-top: 150px;
      }
      
    // .bexfaceparent {
    //     height: calc(100vh - 300px);
      }
    .bexface {
          height: auto;
          width: 340px;
        }

    }
    

  }
