* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
}

body {
  background-color: #e6e5e3;
}

header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1a2f;
}

header .hide {
  display: none;
}

header .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
}

header li {
  list-style: none;
  text-decoration: none;
}

header a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 2px;
  margin: 3px;
}

header a:hover {
  border: 1px solid #16db93;
  border-radius: 10px;
}

header .menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.5s easie-in-out;
  transition: all 0.5s easie-in-out;
}

header .menu-btn-burger {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger::before,
header .menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

header .menu-btn-burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

header .menu-btn.open .menu-btn-burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .menu-btn.open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .menu-btn.open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

main #parawrapper {
  height: 100vh;
  display: inline-block;
}

main .parahi {
  display: block;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 50px;
}

main .para1 {
  display: inline-block;
  padding-left: 20px;
  font-size: 70px;
  width: 100%;
  line-height: 50pt;
  color: #16db93;
}

main .fenn {
  color: #1d1a2f;
}

main .para2 {
  display: block;
  font-size: 30px;
  padding-left: 20px;
  color: #16db93;
}

main .social {
  padding-left: 40px;
  padding-top: 30px;
  height: 50vh;
  position: relative;
}

#insta {
  color: #1d1a2f;
  font-size: 40px;
  text-decoration: none;
}

#insta:hover {
  color: #16db93;
}

#facebook {
  color: #1d1a2f;
  font-size: 40px;
  text-decoration: none;
}

#facebook:hover {
  color: #16db93;
}

#linkedin {
  color: #1d1a2f;
  font-size: 40px;
  text-decoration: none;
}

#linkedin:hover {
  color: #16db93;
}

#chevron {
  font-size: 50px;
  color: #1d1a2f;
  float: left;
  position: absolute;
  left: 40px;
  bottom: 50px;
  text-decoration: none;
}

#chevron:hover {
  color: #16db93;
}

.bexface {
  height: auto;
  width: 250px;
  position: fixed;
  right: 0;
  bottom: 0;
}

#aboutparent {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about {
  background-color: white;
  height: 85vh;
  width: 85vw;
}

#about .aboutpara, #about h1 {
  padding: 12px;
}

#about .cv {
  padding-left: 12px;
  color: #1d1a2f;
}

#about .cv a {
  color: #16db93;
  text-decoration: none;
}

#about .aboutheading {
  color: #1d1a2f;
  text-decoration: underline;
  -webkit-text-decoration-color: #16db93;
          text-decoration-color: #16db93;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#about .aboutpara {
  font-size: 16px;
  color: #1d1a2f;
}

.skills-grid {
  height: 150px;
  width: 231px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 12px;
  /* AFTER MEDIA QUERY FOR TABLET SIZE */
}

.skills-grid div i {
  font-size: 40px;
  color: #1d1a2f;
}

.skills-grid div i:hover {
  color: #16db93;
}

.skills-grid #chevronTwo {
  font-size: 50px;
  color: #1d1a2f;
  float: left;
  position: absolute;
  left: 40px;
  bottom: 50px;
  text-decoration: none;
}

.skills-grid #chevronTwo:hover {
  color: #16db93;
}

.skills-grid #projects {
  display: -ms-grid;
  display: grid;
}

.skills-grid .projects-grid {
  margin: 40px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.skills-grid article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  background: white;
}

.skills-grid article div {
  border: dashed 2px white;
  border-radius: 20px;
  height: 300px;
  width: 220px;
  background: #1d1a2f;
}

@media only screen and (min-width: 768px) {
  .skills-grid {
    /* AFTER MEDIA QUERY FOR  SIZE */
  }
  .skills-grid main .bexface {
    height: auto;
    width: 300px;
  }
  .skills-grid #parawrapper {
    padding-top: 90px;
  }
  .skills-grid #projects .projects-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) and (min-width: 991px) {
  .skills-grid body {
    height: 100vh;
    width: 100vw;
  }
  .skills-grid body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    height: 100vh;
    width: 200px;
  }
  .skills-grid body .show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80px;
  }
  .skills-grid body main {
    width: calc(100% - 200px);
    height: 100vh;
    float: left;
  }
  .skills-grid body #parawrapper {
    width: calc(100% - 200px);
    height: 100vh;
    padding-top: 150px;
  }
  .skills-grid body #chevron {
    font-size: 50px;
    color: #1d1a2f;
    float: left;
    position: absolute;
    left: 500px;
    bottom: 0;
  }
  .skills-grid body #chevron .bexface {
    height: auto;
    width: 340px;
  }
  .skills-grid body #projects .projects-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .skills-grid body #projects .projects-grid div {
    width: 340px;
  }
}
/*# sourceMappingURL=main.css.map */