* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
}

body {
  background-color: #e6e5e3;
}

header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1a2f;
}

header li {
  list-style: none;
  text-decoration: none;
  display: none;
}

header a {
  color: white;
  font-size: 12px;
}

header .menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all .5s easie-in-out;
  transition: all .5s easie-in-out;
}

header .menu-btn_burger {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .menu-btn_burger::before,
header .menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .menu-btn_burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

header .menu-btn_burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

header .menu-btn.open .menu-btn_burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .menu-btn.open .menu-btn_burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .menu-btn.open .menu-btn_burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

main #parawrapper {
  height: 100vh;
  display: inline-block;
}

main .parahi {
  display: block;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 50px;
}

main .para1 {
  display: inline-block;
  padding-left: 20px;
  font-size: 70px;
  width: 100%;
  line-height: 50pt;
  color: #16db93;
}

main .fenn {
  color: #1d1a2f;
}

main .para2 {
  display: block;
  font-size: 30px;
  padding-left: 20px;
  color: #16db93;
}

.bexface {
  height: auto;
  width: 250px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

article div {
  border: dashed 2px white;
  border-radius: 20px;
  height: 300px;
  width: 220px;
}

/* AFTER MEDIA QUERY FOR TABLET SIZE */
@media only screen and (min-width: 768px) {
  main .bexface {
    height: auto;
    width: 300px;
  }
  /* AFTER MEDIA QUERY FOR  SIZE */
}

@media only screen and (min-width: 768px) and (min-width: 991px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    height: 100vh;
    width: 200px;
  }
  body main {
    width: calc(100% - 200px);
    height: 100vh;
    float: left;
  }
  body #parawrapper {
    width: calc(100% - 200px);
    height: 100vh;
  }
  .bexface {
    height: auto;
    width: 340px;
  }
}
/*# sourceMappingURL=main.css.map */