//------------------------------------//
//--------------VARIABLES--------------//
//------------------------------------//
// GENERAL COLOURS
$dark-colour: #111;
$light-colour: #f4f4f4;
$colour1: #5fa4dc;
$colour2: #4f5b66;
$colour4: #a7adba;
$white: #c0c5ce;

// ICON COLOURS
$html5: #f06529;
$css3: #2965f1;
$sass: #cd6799;
$js: #f0db4f;
$git: #f1502f;
$npm: #cc3534;
$react: #61dbfb;
$bootstrap: #563d7c;
$node: #3c873a;
$java: #5382a1;

// LINEAR GRADIENTS
$linear-grad-3d: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
$linear-grad: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

// IMAGES
$cover-image: url('https://source.unsplash.com/1600x900/?software,developer,male');
$project1Image: url('https://source.unsplash.com/1600x900/?portfolio,website');
$project2Image: url('https://source.unsplash.com/1600x900/?application,form');
$project3Image: url('https://source.unsplash.com/1600x900/?cinema');
$project4Image: url('https://source.unsplash.com/1600x900/?news');
$project5Image: url('https://source.unsplash.com/1600x900/?gold');
