@import 'variables';

//
//------------------------------------
//--------MIX-INS--------//
//------------------------------------
//
%marginPadding {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
%background-colour {
  background: rgba(0, 0, 0, 0.05);
}
%text-adjust {
  font-size: 1rem;
  line-height: 1.5rem;
}
%tileImage {
  height: 150px;
  min-width: 250px;
  border-radius: 15px;
  cursor: pointer;
  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5) no-repeat center center/cover;
    transition: all 0.5s ease-out;
    color: set-h4-color($light-colour);

    &:hover {
      border: 1px solid orange;
      background: rgba(0, 0, 0, 0.9);
    }
  }
}

#portfolio {
  //
  //-----------------------------------------//
  //-----------MODAL OVERLAY BLACK-----------//
  //-----------------------------------------//
  //
  .modal {
    /* This is the class for the dark background around the modal. */
    display: none; /*This makes the modal hide until button click*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    // overflow: auto; /*enables the scrollbar if needed */
    background: rgba(0, 0, 0, 0.5);

    //
    //-----------------------------------//
    //-----------MODAL CONTENT-----------//
    //-----------------------------------//
    //
    /* Now to deal with the content! */
    &-content {
      article {
        display: grid;
        grid-template-columns: 1fr 2fr;
        background: rgba(255, 255, 255, 0.9);
        min-width: 30vw;
        max-height: 90vh;
        border-radius: 10px;
        box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.3), 0 7px 20px 0 rgba(255, 255, 255, 0.3);
        background: purple;

        #column-1 {
          display: flex;
          flex-direction: column;
          p {
            @extend %text-adjust;
          }
          background: yellow;

          #summary {
            // background: rgba(255, 0, 0, 0.1);
            @extend %marginPadding;
            @extend %background-colour;

            #project1Image {
              @extend %tileImage;
              background: $project1Image no-repeat center center/cover;
            }
            #project2Image {
              @extend %tileImage;
              background: $project2Image no-repeat center center/cover;
            }
            #project3Image {
              @extend %tileImage;
              background: $project3Image no-repeat center center/cover;
            }
            #project4Image {
              @extend %tileImage;
              background: $project4Image no-repeat center center/cover;
            }
            #project5Image {
              @extend %tileImage;
              background: $project5Image no-repeat center center/cover;
            }
            .buttons {
              display: flex;
              align-items: center;
              justify-content: center;
              // background: red;

              i {
                margin: 0 auto 5px auto;
                a {
                  font-size: 0.5rem;
                  padding: 5px 10px;
                  margin-left: 5px;
                }
              }
            }
          }

          #tech {
            @extend %marginPadding;
            @extend %background-colour;
            @extend %text-adjust;

            // background: rgba(0, 255, 0, 0.1);

            .table {
              display: grid;
              grid-template-columns: 1fr 1fr;
              // background: purple;
              ul {
                display: flex;
                flex-direction: column;
                // background: green;
                li {
                  padding: 5px 0px;
                  // background: blue;
                  i {
                    margin-bottom: 5px;
                    padding: 0px;
                    // background: red;
                  }
                }
              }
            }
          }
        }

        #column-2 {
          display: flex;
          flex-direction: column;
          // background: red;

          #role {
            @extend %marginPadding;
            @extend %background-colour;
            p {
              @extend %text-adjust;
            }
            // max-height: 180px;
            // background: rgba(0, 0, 255, 0.1);
          }
          #diff {
            @extend %marginPadding;
            @extend %background-colour;
            p {
              @extend %text-adjust;
            }
            // background: rgba(255, 255, 0, 0.1);
          }
          #sol {
            @extend %marginPadding;
            @extend %background-colour;
            p {
              @extend %text-adjust;
            }
            // background: rgba(255, 0, 255, 0.1);
          }
          #feat {
            @extend %marginPadding;
            @extend %background-colour;
            @extend %text-adjust;
            // background: rgba(0, 255, 255, 0.1);
            ul {
              display: flex;
              flex-direction: column;
              li {
                margin: 0px;
                padding: 0px;
              }
            }
          }
        }
      }
    }
  }
}

//
//--------------------------------------//
//-----------MODAL ANIMATIONS-----------//
//--------------------------------------//
//
@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//
//---------------------------------
//-----------MIX-IN's-----------//
//---------------------------------
//

// %modal-btn {
//   padding: 1em 2em;
//   color: white;
//   border: 0;
//   border-radius: 15px;
//   min-height: 275px;
//   max-height: 276px;
//   width: 400px;

//   h3 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     top: -11px;
//     left: -22px;
//     min-height: 276px;
//     width: 400px;
//     border-radius: 15px;
//     background: rgba(0, 0, 0, 0.5) no-repeat center center/cover;
//     transition: all 0.5s ease-out;
//     cursor: pointer;

//     &:hover {
//       border: 1px solid orange;
//       background: rgba(0, 0, 0, 0.9);
//     }
//   }
// }
//
//---------------------------------
//-----------MODAL BUTTON-----------//
//---------------------------------
//
// #modal-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   &-1 {
//     @extend %modal-btn;
//     background: $project1Image no-repeat center center/cover;
//   }
//   &-2 {
//     @extend %modal-btn;
//     background: $project2Image no-repeat center center/cover;
//   }
//   &-3 {
//     @extend %modal-btn;
//     background: $project3Image no-repeat center center/cover;
//   }
//   &-4 {
//     @extend %modal-btn;
//     background: $project4Image no-repeat center center/cover;
//     margin-top: 25px;
//   }
//   &-5 {
//     @extend %modal-btn;
//     background: $project5Image no-repeat center center/cover;
//     margin-top: 25px;
//   }
// }
