* {
  font-family: 'Quicksand', sans-serif;
  font-weight: unset;
}

h1 {
  font-size: $large-font;
  text-align: center;
}

h2,
i,
li {
  font-size: $medium-font;
  text-align: center;
  
  &#about-title {
    text-align: left;
  }
}

p {
  font-size: $small-font;
  text-align: justify;
}
