* {
  font-family: 'Quicksand', sans-serif;
  font-weight: unset;
}

h1 {
  font-size: $large-font;
  text-align: center;
}

h2,
i,
li {
  font-size: $medium-font;
  text-align: center;
}

header {
  h2 {
    text-align: left;
  }
}

.social-media-wrapper {
    i {
      font-size: $small-font * 0.8;
    }
}

p {
  font-size: $small-font;
  text-align: justify;
}


.project-links {
  i {
    font-size: $small-font * 1.25;
  }
}