* {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: $large-font;
    font-weight: unset;
}

h2, i, li {
    font-size: $medium-font;
    font-weight: unset;
}

p {
    font-size: $small-font;
}