nav {
  z-index: 998;
  position: fixed;
  height: 100vh;
  left: -100vw;
  width: 100vw;
  transition: left 1s;
  ul {
    @include flex-column-around;
    height: 80vh;
    padding-top: 10vh;
    opacity: 0;
    transition: opacity 2s;
  }
}

#fixed-header {
  @include fixed-menu($header: true);
  z-index: 999;

  div {
    margin: $margin-medium;
  };
}

h1 {
  margin: $margin-large 0;
  padding: $padding-medium;
}

h2 {
  padding: $padding-small 0;
}

p {
  margin: $margin-small;
}

section {
  @include flex-column-center;
}

.section-wrapper {
  @include flex-column-around;
  height: 75vh;
}

section,
ul {
  height: 100vh;
}


#languages-wrapper {
  @include flex-column-center;
  width: $large-width;
  p {
    text-align: center;
    width: $large-width;
  }
}


#languages-icon-wrapper {
  width: $large-width;
  text-align: center;
  i {
    width: $tiny-width;
    min-width: 40px;
    height: $tiny-height;
  }
}


.project-links {
  @include flex-row-even;
  width: $large-width;
  margin: 0 auto;
  padding: $padding-medium 0;
}


.project-header {
  @include flex-row-start;
  position: static;

  h2 {
    margin: 0 $margin-medium;
  }
}

footer {
  @include fixed-menu($header: false);
}

img {
  width: 50px;
  height: 25px;
}
