nav {
  display: none;
  z-index: 999;
  position: fixed;

  ul {
    @include flex-column-around;
    width: $full-width;
    height: $full-height;
  }

  button {
    position: absolute;
    right: 0;
    margin: $margin-medium;
  }
}

#fixed-header {
  @include fixed-menu($header: true);
  
  i {
    margin: $margin-medium;
  };
}

h1 {
  margin: $margin-large 0;
  padding: $padding-medium;
}

h2 {
  margin: $margin-large;
  padding: $padding-medium 0;
}



p {
  margin: $margin-small;
  padding: $padding-medium 0;
}

section {

  @include flex-column-around;

  &#home {
  @include flex-column-center;
  margin-top: -1vh * $multiple;
  }
}

section,
ul {
  height: 100vh;
}

.project-links {
  @include flex-row-even;
  width: $large-width;
  margin: $margin-large 0;
  padding: $padding-medium 0;
}

.project-header {
  @include flex-row-start;
  position: static;

  h2 {
    margin: 0 $margin-medium;
  }
}

footer {
  @include fixed-menu($header: false);
}
