header {
    @include fixed-menu($header: true);
    i {
        margin: $margin-medium;
    };
}

section {
    @include flex-column;
}

section, ul {
    height: 100vh;
}

.project-links {
    @include flex-row-even;
    width: $width-small;
}

footer {
   @include fixed-menu($header: false)
}

