nav {
    ul {
        @include flex-column;
        width: $full-width;
        height: $full-height;
    }
    button {
        position: absolute;
        right: 0;
        margin: $margin-medium;
    }
}

header {
    @include fixed-menu($header: true);
    i {
        margin: $margin-medium;
    };
}

h1 {
    margin: $margin-large 0;
}

h2 {
    margin: $margin-medium 0;
}

p {
    margin: $margin-small;
}

section {
    @include flex-column;
}

section, ul {
    height: 100vh;
}

.project-links {
    @include flex-row-even;
    width: $large-width;
}

.project-header {
    position: static;
    @include flex-row-start;
    h2 {
        margin: 0 $margin-medium;
    }
}

footer {
   @include fixed-menu($header: false);
}

