@mixin flex-row-even {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin fixed-menu($header: true) {
  position: fixed;
  height: $medium-height;
  width: $full-width;
  @if $header {
    @include flex-row-between;
    top: 0;
    background: $top-gradient;
  } @else {
    @include flex-row-even;
    bottom: 0;
    background: $bottom-gradient;
  }
}
