@media (min-width: $breakpoint-tablet) {
  #about {
    margin: 0 auto;
    width: 80vw;
  }
  
  article{
  width: 80vw;
    // 3 projects per 100vh, minus header height
    height: (100vh - $medium-height) / 3;
  }

}

@media (min-width: $breakpoint-desktop) {
  main {
   margin: 0 auto;
  }

  #about {
    width: 60vw;
    margin: 0 auto;
  }

  article {
    width: 40vw;
    height: auto;
    margin: 25vh;
    border: 1px solid transparent;
    border-radius: 25px;
    box-shadow: 0px 0px 16px -3px rgba(31,31,31,0.19);
  }

  article {
    header {
      border: 1px solid transparent;
      border-radius: 25px;
    }

    .project-links {
      width: 10vw;
    }
  }
}