@media (min-width: $breakpoint-tablet) {
  #about {
    margin: 0 auto;
    width: 80vw;
  }
  
  article{
  width: 80vw;
    // 3 projects per 100vh, minus header height
    height: (100vh - $medium-height) / 3;
  }

  h1 {
    font-size: $large-font * 1.25;
  }
  
  h2,
  i,
  li {
    font-size: $medium-font * 1.25;
  }

  
  p {
    font-size: $small-font * 1.25;
  }
  
  
  .project-links {
    i {
      font-size: $medium-font;
    }
  }
}