@media (min-width: $breakpoint-tablet) {
  #about {
    margin: 0 auto;
    width: 80vw;
  }

  article {
    width: 80vw;
  }
}

@media (min-width: $breakpoint-desktop) {

  main {
    margin: 0 auto;
  }

  article {
    width: 40vw;
  }

  #about {
    width: 60vw;
    margin: 0 auto;
  }
}
