$multiple: 8;

$small-font: 0.15em * $multiple;
$medium-font: 0.25em * $multiple;
$large-font: 0.35em * $multiple;

$margin-small: 2px * $multiple;
$margin-medium: 3px * $multiple;
$margin-large: 4px * $multiple;

$padding-small: 2px * $multiple;
$padding-medium: 3px * $multiple;

$width-small: 4 * $multiple;
$width-medium: 6 * $multiple;