$multiple: 8;

$small-font: 0.15em * $multiple;
$medium-font: 0.25em * $multiple;
$large-font: 0.35em * $multiple;

$margin-small: 2px * $multiple;
$margin-medium: 3px * $multiple;
$margin-large: 4px * $multiple;

$padding-small: 2px * $multiple;
$padding-medium: 3px * $multiple;

$tiny-width:1vw * $multiple;
$small-width: (100 / $multiple) * 2vw;
$medium-width: (100 / $multiple) * 3vw;
$large-width: (100 / $multiple) * 4vw;
$full-width: 100vw;

$tiny-height: 1vh * $multiple;
$small-height: (100vh / $multiple) / 2;
$medium-height: (100vh / $multiple);
$large-height: (100vh / $multiple) * 2vh;
$full-height: 100vh;

$top-gradient: linear-gradient(180deg, rgba(251, 254, 249, 1, 80%, 
rgba(251, 254, 249, 0.1) 100%));

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;
