/*---------- Fonts ----------*/

@font-face {
  font-family: 'sfalienencsolid';
  src: url('./assets/fonts/sfalienencsolid.woff2') format('woff2'),
    url('./assets/fonts/sfalienencsolid.woff') format('woff'),
    url('./assets//fonts/sfalienencsolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfalienenc';
  src: url('./assets/fonts/sfalienenc.woff2') format('woff2'),
    url('./assets/fonts/sfalienenc.woff') format('woff'),
    url('./assets/fonts/sfalienenc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'streamster';
  src: url('./assets/fonts/streamster.woff2') format('woff2'),
    url('./assets/fonts/streamster.woff') format('woff'),
    url('./assets/fonts/streamster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scriptina';
  src: url('./assets/fonts/scriptina.woff2') format('woff2'),
    url('./assets/fonts/scriptina.woff') format('woff'),
    url('./assets/fonts/scriptina.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
