@import "colors";
@import "fonts";
@import "animations";

/*---------- CSS Reset ----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

/*----------General styles----------*/

body {
  max-width: 100vw;
  background-color: #0b0014;
  background-image: url("./assets/images/backgroundsquares.svg");
  background-position: top;
  background-size: 100vw;
  background-attachment: fixed;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background-color: #363946;
    width: 4px;
    border-radius: 10px;

    &:horizontal {
      display: none;
    }
  }

  &::-webkit-scrollbar-button {
    background-color: $cadet-grey;
    border-radius: 10px;
    &:active {
      background-color: $electric-blue;
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: $cadet-grey;
    border-radius: 10px;
    &:active {
      background-color: $electric-blue;
    }
  }
}

/*---------- Homepage styles----------*/

.home.page {
  height: 100vh;
  font-family: sfalienencsolid, sans-serif;

  .page-border {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    margin-top: 7.5%;

    .header.title {
      text-shadow: 0 0 50px $cultured, 0 0 30px $cultured, 0 0 5px $cultured, 0 0 10px $cultured;
      overflow: visible;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity 1.5s ease-in;
      transition-delay: 0.2;

      .title-one {
        line-height: 1em;
        font-family: sfalienencsolid;
        position: relative;
        text-shadow: 0 0 50px $cultured, 0 0 30px $xiketic, 0 0 5px $cultured;
        color: $xiketic;
        width: 100%;
        height: max-content;
        font-size: 2.4em;
        @media screen and (min-width: 410px) {
          font-size: 2.8em;
        }
        @media screen and (min-width: 475px) {
          font-size: 3em;
        }
        @media screen and (min-width: 510px) {
          font-size: 3.5em;
        }
        @media screen and (min-width: 590px) {
          font-size: 3.75em;
        }
        @media screen and (min-width: 630px) {
          font-size: 4em;
        }
        @media screen and (min-width: 675px) {
          font-size: 4.4em;
        }
        @media screen and (min-width: 745px) {
          font-size: 5em;
        }
        @media screen and (min-width: 845px) {
          font-size: 5.6em;
        }
        @media screen and (min-width: 945px) {
          font-size: 6em;
        }
        @media screen and (min-width: 1015px) {
          font-size: 7em;
        }
        @media screen and (min-width: 1185px) {
          font-size: 7.5em;
        }
        @media screen and (min-width: 1270px) {
          font-size: 8em;
        }
        @media screen and (min-width: 1355px) {
          font-size: 8.5em;
        }
        @media screen and (min-width: 1430px) {
          font-size: 9em;
        }
        @media screen and (min-width: 1525px) {
          font-size: 9.5em;
        }
        @media screen and (min-width: 1610px) {
          font-size: 10em;
        }
        @media screen and (min-width: 1670px) {
          font-size: 10.5em;
        }
        @media screen and (min-width: 1710px) {
          font-size: 12em;
        }

        &::after {
          width: 100%;
          height: max-content;
          content: attr(data-content);
          position: absolute;
          left: 0;
          top: 0;
          color: $xiketic;
          text-shadow: none;
        }
      }

      .title-two {
        font-family: sfalienenc;
        position: relative;
        color: #f5f5f533;
        text-shadow: 0 0 50px $xiketic, 0 0 30px $cultured, 0 0 5px $xiketic;
        width: 100%;
        font-size: 1.2em;
        @media screen and (min-width: 410px) {
          font-size: 1.4em;
        }
        @media screen and (min-width: 475px) {
          font-size: 1.5em;
        }
        @media screen and (min-width: 510px) {
          font-size: 1.75em;
        }
        @media screen and (min-width: 590px) {
          font-size: 1.875em;
        }
        @media screen and (min-width: 630px) {
          font-size: 2em;
        }
        @media screen and (min-width: 675px) {
          font-size: 2.2em;
        }
        @media screen and (min-width: 745px) {
          font-size: 2.5em;
        }
        @media screen and (min-width: 845px) {
          font-size: 2.8em;
        }
        @media screen and (min-width: 945px) {
          font-size: 3em;
        }
        @media screen and (min-width: 1015px) {
          font-size: 3.5em;
        }
        @media screen and (min-width: 1185px) {
          font-size: 3.75em;
        }
        @media screen and (min-width: 1270px) {
          font-size: 4em;
        }
        @media screen and (min-width: 1355px) {
          font-size: 4.25em;
        }
        @media screen and (min-width: 1430px) {
          font-size: 4.5em;
        }
        @media screen and (min-width: 1525px) {
          font-size: 4.75em;
        }
        @media screen and (min-width: 1610px) {
          font-size: 5em;
        }
        @media screen and (min-width: 1670px) {
          font-size: 5.25em;
        }
        @media screen and (min-width: 1710px) {
          font-size: 6em;
        }
        height: max-content;
        margin: 2% 0;

        &::after {
          width: 100%;
          height: max-content;
          content: attr(data-content);
          position: absolute;
          left: 0;
          top: 0;
          background-image: url("./assets/images/downwardsbackgroundcultured.gif");
          background-color: transparent;
          background-size: contain;
          background-position: center;
          background-repeat: repeat-x;
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          text-shadow: none;
        }
      }
    }
  }
}

.home-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 40%;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: initial;

    li {
      color: $fire-opal;
      border-bottom: 1px solid $cadet-grey;
      font-size: 1em;
      width: 100px;

      @media screen and (min-width: 550px) {
        font-size: 1.5em;
        width: 150px;
      }
      @media screen and (min-width: 960px) {
        font-size: 2em;
        width: 200px;
      }
      @media screen and (min-width: 1280px) {
        font-size: 3em;
        width: 260px;
      }
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: scale(1.3);
      opacity: 0;
      transition-property: transform, opacity;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);

      &:hover span {
        @media screen and (min-width: 1020px) {
          font-family: sfalienenc;
          background-image: url("./assets/images/downwardsbackgroundfireopal.gif");
          background-color: transparent;
          background-size: cover;
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          cursor: pointer;
          transform: scale(1.1);
          transform-origin: center;
        }
      }

      * {
        border: unset;
      }
    }
  }
}

#enter-button,
.bio.button,
.portfolio.button,
.contact.button {
  &:hover {
    font-family: sfalienenc;
    background-image: url("./assets/images/downwardsbackgroundfireopal.gif");
    background-color: transparent;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center;
  }
}

/*---------- Generic pages styling----------*/

.page {
  font-family: "sfalienencsolid", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  .page-border {
    background-color: #0b0014bb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: max-content;
    border-left: 1px $cadet-grey solid;
    border-right: 1px $cadet-grey solid;
    overflow-x: clip;
  }
}

.fixed {
  font-size: 0.8em;
  @media screen and (min-width: 410px) {
    font-size: 1em;
  }
  @media screen and (min-width: 475px) {
    font-size: 1.2em;
  }
  @media screen and (min-width: 510px) {
    font-size: 1.4em;
  }
  @media screen and (min-width: 590px) {
    font-size: 1.6em;
  }
  @media screen and (min-width: 630px) {
    font-size: 1.8em;
  }
  @media screen and (min-width: 675px) {
    font-size: 2em;
  }
  z-index: 1;
  list-style: none;
  position: sticky;
  top: 0;
  height: 8vh;
  width: 80%;
  color: $fire-opal;
  background-color: #0b0014;

  ul {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid $cadet-grey;

    li {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        text-align: center;
        height: max-content;
        width: 100%;
      }
    }
  }
}

/*---------- Main page styles ---------- */

#bio,
#portfolio,
#contact {
  font-family: "sfalienencsolid", sans-serif;

  .page-border {
    border-bottom: 1px solid $cadet-grey;

    .subtitle {
      @media screen and (min-width: 380px) {
        font-size: 1.5em;
      }
      @media screen and (min-width: 450px) {
        font-size: 1.75em;
      }
      @media screen and (min-width: 550px) {
        font-size: 2em;
      }
      @media screen and (min-width: 700px) {
        font-size: 2.5em;
      }
      @media screen and (min-width: 900px) {
        font-size: 2.75em;
      }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 40%;
      width: 100%;

      .title {
        font-family: "sfalienenc";
        width: 100%;
        height: 18vh;
        opacity: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        transition: opacity 1.5s ease-in;
        transition-delay: 0.2;

        span {
          text-shadow: 0 0 50px #f5f5f599, 00 0 30px #f5f5f599, 0 0 5px $xiketic, 0 0 10px $xiketic;
          font-family: sfalienenc;
          width: 100%;
          text-align: center;
          color: $electric-blue;
          font-size: 2.5em;
          @media screen and (min-width: 700px) {
            font-size: 3.2em;
          }
          line-height: 9vh;
          margin: 6vh 0;
          border-bottom: 2px $cadet-grey solid;
        }
      }
    }
  }
}

article {
  font-size: 16px;
  position: relative;
  text-align: left;
  background-color: transparent;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  height: max-content;
  width: 80%;
  transform: scale(1.3);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
  margin: 2% 0;

  i {
    font-size: inherit;
    color: $electric-blue;
  }

  &.subtitle {
    background-color: transparent;
    text-align: center;
    font-family: sfalienenc, Orbitron, consolas, Arial, Helvetica, sans-serif;
    width: 100%;
    border-top: 1px solid $cadet-grey;
    border-bottom: 1px solid $cadet-grey;
    color: $cultured;
    font-size: 1.5em;
    padding: 0.5em 0;
  }

  &.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-top: 1px solid $cadet-grey;
    border-bottom: 1px solid $cadet-grey;
    height: max-content;

    .gallery-title {
      font-size: 0.8em;
      @media screen and (min-width: 550px) {
        font-size: 1em;
      }
      @media screen and (min-width: 720px) {
        font-size: 1.2em;
      }
      @media screen and (min-width: 1080px) {
        font-size: 2em;
      }
      font-family: orbitron;
      display: block;
      width: 100%;
      text-align: center;
      color: white;
      background-color: #363946;
      border-bottom: 1px solid $cadet-grey;
    }
    img {
      width: 60vw;
      height: 33.75vw;
      margin-bottom: 8vh;
    }
  }

  .article-heading {
    font-family: sfalienencsolid, Orbitron, consolas, Arial, Helvetica, sans-serif;
    width: 100%;
    white-space: nowrap;
    outline: none;
    height: max-content;
    transition: max-height 1s linear;
    color: $cadet-grey;
    transition: max-width 5s linear;

    .article-heading-text {
      padding: 7.5%;
      text-align: center;
      width: max-content;
      color: $cultured;
      border-top: 1px solid $cadet-grey;
      border-left: 1px solid $cadet-grey;
      line-height: 48%;

      .char {
        font-family: Orbitron, consolas, Arial, Helvetica, sans-serif;
      }
    }
  }

  .article-content {
    font-size: 16px;
    @media screen and (min-width: 550px) {
      font-size: 22px;
    }
    @media screen and (min-width: 1080px) {
      font-size: 28px;
    }
    overflow: hidden;
    max-height: 0;
    transition-property: max-height;
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.2, 0);
    margin: 0 auto;

    > * {
      padding: 0 5%;
    }

    a {
      color: $fire-opal;
      text-decoration: none;
      border-bottom: $cadet-grey 1px solid;
      text-align: center;

      &:active,
      &:focus {
        color: $cadet-grey;
        text-decoration: none;
        border-bottom: $fire-opal 2px solid;
      }
    }

    .section-content {
      margin: 0 0 15%;
      height: 100%;
      width: 100%;

      > * {
        margin-bottom: 3%;

        > * > * {
          margin-bottom: 2%;
        }
      }

      .section-heading {
        height: 100%;
        width: 100%;

        .portfolio-links-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          h6 {
            width: max-content;
          }
        }
        .intergr8 {
          color: grey;
          font-size: 0.6em;
          em {
            color: $cadet-grey;
            margin-right: 2%;
          }
        }
      }

      .section-text {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .section-highlight {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .left {
          width: 25px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        .right {
          width: 90%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;
          color: $cultured;
        }
      }
    }

    &.open {
      max-height: 100vh;
    }

    h4 {
      text-align: left;
      width: 100%;
      color: $electric-blue;
      margin-bottom: 2%;
    }

    h5 {
      text-align: left;
      width: 100%;
      color: $cultured;
      font-weight: bolder;
      margin-bottom: 1%;
    }

    h6 {
      width: 100%;
      text-align: left;
      margin-bottom: 2%;
    }

    p {
      text-align: left;
      width: 100%;
      color: $cultured;
      margin-bottom: 2%;
    }

    ul {
      list-style: square inside;

      li {
        text-align: left;
        font-size: 0.7em;
        color: $cultured;
      }
    }
  }

  .article-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: max-content;
    text-align: right;
    outline: none;
    color: $fire-opal;
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.5, 1);

    &:hover > .article-footer-text {
      cursor: pointer;
      @media screen and (min-width: 1200px) {
        border-color: $fire-opal;
      }
    }

    &.open:hover > .article-footer-text {
      cursor: pointer;
      @media screen and (min-width: 1200px) {
        border-color: $fire-opal;
      }
    }

    .article-footer-text {
      position: fixed;
      bottom: 0;
      right: 0;
      padding: 7.5%;
      text-align: center;
      margin-left: auto;
      width: max-content;
      line-height: 48%;
      color: $fire-opal;
      border-bottom: 1px solid $cadet-grey;
      border-right: 1px solid $cadet-grey;
      overflow: hidden;
    }
  }
}

html {
  font-size: 16px;

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.8em;
    color: $electric-blue;
    @media screen and (min-width: 380px) {
      font-size: 1em;
    }
    @media screen and (min-width: 450px) {
      font-size: 1.2em;
    }
    @media screen and (min-width: 700px) {
      font-size: 1.5em;
    }
    @media screen and (min-width: 1280px) {
      font-size: 1.75em;
    }
  }

  h3 {
    font-size: 0.9em;
  }

  h4 {
    font-size: 0.85em;
  }

  h5 {
    font-size: 0.85em;
  }

  h6 {
    font-size: 0.85em;
  }

  p {
    font-size: 0.7em;
  }
}

/*---------- Selectors for JavaScript functions ----------*/

section.page:not(.on) {
  display: none;
}

.cascade-in {
  color: $fire-opal;
  transform: scale(1);

  transition-property: transform, opacity;
  transition-duration: 2s;
}

.cascade-out {
  animation: cascade-out cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 0;
  transform: scale(1.5);
}

.fly-in {
  animation: flyin 1s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  border: 1px solid $fire-opal;
  color: $fire-opal;
  opacity: 1;
}

.fly-out {
  color: #8ea8c3;
  border: 1px solid #8ea8c3;
  animation: flyout 0.75s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 0;
}

.contact.page {
  h2 {
    text-align: center;
    a {
      color: inherit;
      font-size: inherit;

      &:active {
        color: $fire-opal;
      }
    }
  }
}

.socials {
  background-color: transparent;
  position: fixed;
  bottom: -35vh;
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 1;

  &.display-socials {
    bottom: 5vh;
  }
}

.socials-wrapper {
  width: 80%;
  height: 100%;
  list-style-type: none;
  border: 1px solid $cadet-grey;

  .socials-toggler {
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    background-color: transparent;
    height: 10vw;
    width: 10vw;
    transition: 0.5s;
    z-index: 1;

    .socials-burger {
      display: grid;
      place-items: center;
      color: white;
      width: 4vmin;
      height: 4vmin;
      font-size: 4vmin;
      transition: color 0.5s ease-in;

      &:hover {
        cursor: pointer;
      }

      > h3 {
        line-height: 1em;
        &.burger-hide {
          display: none;
        }
      }
    }
  }

  .socials-options {
    color: $electric-blue;
    background-color: $xiketic;
    backdrop-filter: grayscale(80%);
    list-style: none;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    transition: color 0.75s;
    transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
    @media screen and (min-width: 960px) {
      color: #363946;
      &:hover {
        color: $electric-blue;
      }
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "nav", consolas;
      width: 100%;
      height: 100%;
      font-size: 50px;
      text-align: center;
      transition: transform 0.75s, text-shadow 0.75s;
      transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
      @media screen and (max-width: 700px) {
        font-size: 30px;
      }
      @media screen and (max-width: 450px) {
        font-size: 20px;
      }

      &:hover {
        text-shadow: 0px 0px 5px $xiketic, 0px 0px 30px #8ea8c3;
        transform: scale(1.2);
      }

      a {
        width: max-content;
        height: max-content;
        color: inherit;
        text-decoration: none;

        &:visited {
          color: inherit;
          text-decoration: none;
        }
        &:active {
          color: $fire-opal;
        }
      }
    }
  }
}
