/* Portfolio site colors */
/* Borders */
/* Links */
/* Other colors */
/*---------- Fonts ----------*/
@font-face {
  font-family: 'sfalienencsolid';
  src: url("./assets/fonts/sfalienencsolid.woff2") format("woff2"), url("./assets/fonts/sfalienencsolid.woff") format("woff"), url("./assets//fonts/sfalienencsolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfalienenc';
  src: url("./assets/fonts/sfalienenc.woff2") format("woff2"), url("./assets/fonts/sfalienenc.woff") format("woff"), url("./assets/fonts/sfalienenc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'streamster';
  src: url("./assets/fonts/streamster.woff2") format("woff2"), url("./assets/fonts/streamster.woff") format("woff"), url("./assets/fonts/streamster.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scriptina';
  src: url("./assets/fonts/scriptina.woff2") format("woff2"), url("./assets/fonts/scriptina.woff") format("woff"), url("./assets/fonts/scriptina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*---------- Animations ----------*/
@-webkit-keyframes cascade-out {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes cascade-out {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes flyin {
  from {
    -webkit-filter: blur(8px);
            filter: blur(8px);
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes flyin {
  from {
    -webkit-filter: blur(8px);
            filter: blur(8px);
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes flyout {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-filter: blur(8px);
            filter: blur(8px);
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes flyout {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-filter: blur(8px);
            filter: blur(8px);
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes foldAway {
  from {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: rotateX(-20degrees);
            transform: rotateX(-20degrees);
  }
}

@keyframes foldAway {
  from {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: rotateX(-20degrees);
            transform: rotateX(-20degrees);
  }
}

@-webkit-keyframes unFold {
  from {
    margin-bottom: 50px;
  }
  to {
    margin-bottom: 0;
  }
}

@keyframes unFold {
  from {
    margin-bottom: 50px;
  }
  to {
    margin-bottom: 0;
  }
}

/*---------- CSS Reset ----------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}

* a {
  text-decoration: none;
  color: unset;
}

/*----------General styles----------*/
body {
  max-width: 100vw;
  font-size: 12px;
  background-color: #0b0014;
}

/*---------- Homepage styles----------*/
.home.page {
  height: 100vh;
  font-family: sfalienencsolid, sans-serif;
  background-image: url("./assets/images/grid.svg");
  background-position: center;
  background-size: cover, 560px;
  background-attachment: fixed;
}

.home.page .wrapper {
  background-color: #0b0014bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
  width: 80%;
  border-left: 1px #8ea8c3 solid;
  border-right: 1px #8ea8c3 solid;
}

.home.page .wrapper .header.title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-in;
  -webkit-transition-delay: 0.2;
          transition-delay: 0.2;
}

.home.page .wrapper .header.title .title-one {
  color: #0b0014;
  text-shadow: 0 0 50px whitesmoke, 0 0 30px whitesmoke, 0 0 5px whitesmoke;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 2em;
  margin: 10%;
}

.home.page .wrapper .header.title .title-two {
  font-family: sfalienenc;
  color: whitesmoke;
  text-shadow: 0 0 50px whitesmoke, 0 0 30px whitesmoke, 0 0 5px #0b0014, 0 0 10px #0b0014;
  width: 100%;
  font-size: 1.3em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 2%;
}

.home-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 80%;
  height: 60%;
}

.home-nav ul {
  background-color: #0b0014bb;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: initial;
  border-left: 1px #8ea8c3 solid;
  border-right: 1px #8ea8c3 solid;
}

.home-nav ul li {
  color: #ee6352;
  border-bottom: 1px solid #8ea8c3;
  font-size: 1em;
  width: 85%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.home-nav ul li * {
  border: unset;
}

h6:hover,
#enter-button:hover,
.bio.button:hover,
.portfolio.button:hover,
.contact.button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

/*---------- Generic pages styling----------*/
.page {
  background-image: url("./assets/images/grid.svg");
  background-position: center;
  background-size: 560px;
  background-attachment: local;
  font-family: "sfalienencsolid", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.fixed {
  list-style: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 8vh;
  width: 100%;
  color: #ee6352;
  background-color: #0b0014;
}

.fixed ul {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom: 2px solid #8ea8c3;
}

.fixed ul li {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed ul li span {
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}

/*---------- Main page styles ---------- */
#bio,
#portfolio,
#contact {
  font-family: "sfalienencsolid", sans-serif;
}

#bio .wrapper,
#portfolio .wrapper,
#contact .wrapper {
  background-color: #0b0014bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
  width: 80%;
  border-left: 1px #8ea8c3 solid;
  border-right: 1px #8ea8c3 solid;
}

#bio .wrapper .title,
#portfolio .wrapper .title,
#contact .wrapper .title {
  font-family: "sfalienenc";
  width: 100%;
  height: 18vh;
  opacity: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-in;
  -webkit-transition-delay: 0.2;
          transition-delay: 0.2;
}

#bio .wrapper .title span,
#portfolio .wrapper .title span,
#contact .wrapper .title span {
  text-shadow: 0 0 50px whitesmoke, 0 0 30px whitesmoke, 0 0 5px #0b0014, 0 0 10px #0b0014;
  font-family: sfalienenc;
  width: 85%;
  text-align: center;
  color: #8ea8c3;
  font-size: 2.5em;
  line-height: 6vh;
  margin: 6vh 0;
  border-bottom: 2px #ee6352 solid;
}

article {
  background-color: #0b0014bb;
  border-left: 1px #8ea8c3 solid;
  border-right: 1px #8ea8c3 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Orbitron, consolas, Arial, Helvetica, sans-serif;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 80%;
}

article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 80%;
}

article div .expandable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ee6352;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  border-top: 1px solid #ee6352;
  border-left: 1px solid #ee6352;
  margin: 5% 0;
  padding: 5%;
}

article div h3 {
  display: inline;
  color: #ee6352;
  text-align: left;
}

article .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-bottom: 1px solid #ee6352;
  border-right: 1px solid #ee6352;
  margin: 5% 0;
  padding: 5%;
}

article h4 {
  margin: 2%;
  color: #7cea9c;
  font-size: 1em;
  text-align: left;
  width: 100%;
}

article h5 {
  margin: 2%;
  color: #357ded;
  font-size: 1em;
  text-align: left;
  width: 100%;
}

article h6 {
  margin: 2%;
  color: #ee6352;
  text-decoration: underline;
  font-style: italic;
  font-size: 0.9em;
  text-align: justify;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

article p {
  margin: 2%;
  color: whitesmoke;
  text-align: left;
  width: 100%;
}

article ul {
  list-style: square inside;
  color: #8ea8c3;
  padding: 0% 0% 5%;
}

article ul li {
  font-size: 0.7em;
}

.caption {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*---------- Footer styles ----------*/
.footer {
  opacity: 0;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #8ea8c3;
  width: 100%;
  background-color: #0b0014;
  border-top: 1px double #8ea8c3;
  border-radius: 2em 2em 0 0;
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.footer .footer-nav {
  height: 100%;
  width: 100%;
}

.footer .footer-nav ul {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  letter-spacing: initial;
}

.footer .footer-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  color: inherit;
}

/*----------Responsive design----------*/
@media screen and (min-width: 823px) {
  h1,
  h2 {
    width: 100%;
  }
  header.page div.title {
    height: 40vh;
  }
  header.page nav {
    height: 60vh;
  }
  header.page ul {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

/*---------- Selectors for JavaScript functions ----------*/
section.page:not(.on) {
  display: none;
}

.cascade-in {
  color: #ee6352;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.cascade-out {
  -webkit-animation: cascade-out cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
          animation: cascade-out cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.fly-in {
  -webkit-animation: flyin 1s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
          animation: flyin 1s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  border: 1px solid #ee6352;
  color: #ee6352;
  opacity: 1;
}

.fly-out {
  color: #8ea8c3;
  border: 1px solid #8ea8c3;
  -webkit-animation: flyout 0.75s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
          animation: flyout 0.75s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 0;
}

/*----------Landing page styles ----------*/
/*# sourceMappingURL=index.css.map */