// .top-nav{
//     width:100%;
//     height:100vh;
//     position:sticky;
//     display:row;
// }

//   .top-nav ul{
//     list-style:none;
//     display:flex;
//     justify-content: center;
//     align-items: center;
//     min-height:120vh;
//     max-width:100%;
//   }

//   ul .nav-link{
//     font-size:10em;
//    // display:row;
//   }

// .homepage-text{
//     position: sticky;
//     top: 10%;
//     left: 0;
//     width: 100%;
//     height: 23px;
//     }
    
//     .homepage-text h1{
//         font-size: 5rem;
//         font-family: sans-serif;
//     }

// section{
//     display:flex;
//     align-items: center;
//     justify-content: center;
//     margin:20px;
//     padding:20px;
//     width:80%;
//     max-width: 80%;
//     border:2px solid white;
// }
//   section.holder{
//     display:inline-block;
//     align-items: center;
//     justify-content: center;
// }

//   section.personal{
//     display: column;
//     float:left;
//     max-width:40%;
// }

//   section.professional{
//     display: column;
//     float:right;
//     max-width:40%;
// }
