*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size: 10px;
    font-family: sans-serif;
    color:#eee;
}

header{
    height:60vh;
}

footer{
    margin:20px;
    padding:20px;
}

body{
    height:100%;
    background: url("images/vita-marija-murenaite-69JC41oVRSg-unsplash.jpg") no-repeat center fixed;
    background-size: cover;
    display: inline-block;
    text-align: center;

}

a{
    text-decoration: none;
    color:white;
}

p{
    font-size:1.8rem;
    font-weight: 300;
}

images{
    width:100%;
}

.social{
    display:inline-flex;
    justify-content: space-evenly;
    min-width: 80%;
    border-style: none;
}

.social{
    height:100px;
    background-color:none;
}

.top-nav{
    list-style: none;
    position:relative;
    top:40%;
    display:flex;
    justify-content: space-evenly;
    padding:20px;
    
}

.nav-list{
    list-style:none;
    display:inline-block;
    font-size:10px;
    margin-bottom: 10px;
    padding:10px;
    width: 100%;
    text-align: center;
    height:40px;
}



li{
    margin:1rem;
    font-size: 2rem;
}

.nav-link{
    font-family: sans-serif;
    font-size: 2rem;
    padding:1rem;
}

.homepage-text{
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
    font-size: 20px;
}

.homepage-text h1{
    font-size: 2em;
    font-family: sans-serif;
}

section{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:20px;
    padding:20px;
    width:80%;
    max-width: 80%;
    border:2px solid white;
    position:relative;


}

h2{
    font-size:1em;
    display:flex;
    align-items: center;
    justify-content: center;
}

.holder{
    display:inline-block;
    align-items: center;
    justify-content: center;
}

.personal{
    display: column;
    float:left;
    max-width:40%;
}

.professional{
    display: column;
    float:right;
    max-width:40%;
}
