$black-font-color: rgb(43, 43, 43);
$main-blue-color: rgba(115, 126, 150, 0.8);
$main-blue-color-darker: rgba(115, 126, 150, 0.9);
$main-grey-color: rgba(136, 136, 136, 0.7);
$secondary-blue-color: rgb(40, 66, 122);
$footer-black-color: rgb(41, 40, 40);
$highlight-color: rgb(204, 157, 70);


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  a {
    color: $black-font-color;
  }

  i {
    padding: 5px 10px;
  }
}


body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  text-align: center;
  color: $black-font-color;
  // background-image: url("./img/background-one.jpg"), linear-gradient(rgba(255, 255, 255, 0.897), rgba(255, 255, 255, 0.815));
  background-attachment: fixed;
  background-position: center;
}


header {
  // background-color: $main-grey-color;
  padding: 20px;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
    
    .fa {
      font-size: 2em;
    }
  }

  nav {
    margin-top: 20px;
    justify-content: space-around;
    display: none;
    
    &.show {
      display: flex;
    }
    
    a {
      font-size: 2em;
      text-decoration: none;
      
      &:visited {
        color: $black-font-color;
      }

      &:hover {
        transform: scale(1.2);
        transition: 0.4s ease-in-out;
      }
    }
  }
}


/* Main section hovers and styling */

main {
  display: flex;
  flex-direction: column;

  .transparent {
    // opacity: 0;
    background-color: transparent;
    // transition: 0.5s ease-in-out;

    &:hover {
      background-color: rgba(136, 136, 136, 0.15);
      // opacity: 1;
      transition: 0.5s ease-in-out;
    }
  }

  .solid {
    background-color: $main-blue-color;

    &:hover {
      background-color: $main-blue-color-darker;
      transition: 0.5s ease-in-out;

    }
  }


  /* About me, Projects and Contact */

  section {
    min-height: 80vh;
    padding: 4%;
    display: flex;
    flex-direction: column;
    
    h2 {
      padding: 20px;
      font-size: 30px;
      color: $secondary-blue-color;
    }
  }

  .ed {
    justify-content: center;
    align-items: center;
    
    article {
      width: 80%;
      height: 50%;
    }
  }

  .projects {
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;

    h2 {
      color: rgb(2, 28, 83);
    }

    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      height: 80%;

    

      .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid $black-font-color;
        height: 25vh;
        width: 65vw;
        min-width: 256px;
        min-height: 180px;
        padding: 20px;
        margin: 10px;

        &.order-override {
          order: 0;
        }

        &#boxOne {
          background-image: url("../Idea-one/img/box-one-a-copy.png");
          background-position: center;
          background-size: repeat;
        }

        &#boxTwo {
          background-image: url("../Idea-one/img/box-two.png");
          background-position: bottom;
          background-size: cover;
        }

        &#boxThree {
          background-image: url("../Idea-one/img/box-three.jpg");
          background-position: cover;
        }

        &#boxFour {
          background-image: url("../Idea-one/img/box-four.jpg");
          background-position: cover;
        }

        &#boxFive {
          background-image: url("../Idea-one/img/box-five.jpg");
          background-position: cover;
        }
        
        &#boxSix {
          background-image: url("../Idea-one/img/box-six.jpg");
          background-position: cover;
        }

        div {
          background-color: rgb(240, 239, 239);
          border-radius: 5px;
          border: 2px solid $main-grey-color;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding: 2px;
        }

        p {
          width: 80%;
          margin: 0 auto;
        }
        
        span {
          a {
            font-size: 2em;
            padding: 15px;
            
            &:visited {
              color: $black-font-color;
            }
          }
        }

      }
    }
  }


  .cv-and-contact {
    justify-content: space-between;

    .contact {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;

      div {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        // margin: 0px auto 20px auto;
        
        h2 {
          margin: 0 auto;
        }

        ul {
          min-height: 400px;
          display: flex;
          margin: 0 auto;
          max-width: 800px;
          justify-content: space-evenly;
          align-content: center;
          flex-wrap: wrap;
          font-size: 20px;

          li {
            display: inline-block;
            list-style-type: none;
            padding: 10px;
            font-weight: 700;

            img {
              position: relative;
            }
          }
        }
      }
      
      form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        input,
        textarea {
          font-size: inherit;
          font-family: inherit;
          text-align: left;
          padding-left: 5px;
          border-radius: 10px;
          border: 2px solid $main-grey-color;
          margin: 10px;
          height: 35px;
          width: 240px;
          max-width: 260px;

          &#submit {
            width: 50%;
            margin: 0 auto;
            margin-top: 10px;
            text-align: center;
          }
        }

        textarea {
          height: 150px;
          max-height: 200px;
          min-width: 240px;
          padding-top: 10px;
        }
      }
    }
    
    div.icons {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      font-size: 50px;
      max-height: 20%;
      margin-top: 10px;
      color: $black-font-color;
      text-decoration: none;
      
      a {
        display: inline-block;
        
        &:visited {
          color: $black-font-color;
        }
        
        &:hover {
          transform: scale(1.2);
          transition: 0.4s ease-in-out;
          
        }
      }
    }
  }
}

footer {
  background-color: $footer-black-color;
  color: white;
  padding: 20px;
}

@media only screen and (min-width: 600px) {
  i {
    &:hover {
      background-color: $highlight-color;
      border-radius: 5px;
      transition: 0.4s ease-in-out;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    nav {
      display: flex;
      width: 55%;
      margin-top: 0;
    }

    #burger {
      display: none;
    }
  }

  main {
    .ed {
      article {
        width: 30%;
      }
    }

    .projects {
      .container {
        .box {
          width: 30vw;
          min-width: 320px;
          min-height: 200px;

          div {
            height: auto;
            width: 80%;
            height: 100%;
            margin: 0 auto;
          }
          
          &.focus {
            width: 80vw;
            height: 40vh;
            background-image: inherit;
            flex-basis: 80vw;
            transition: 0.22s ease-in;

            p {
              display: block;
              width: 60%;
            }

            h3 {
              margin-top: 5px;
            }
          }

          &.sub {
            min-height: 10%;
            min-width: 18%;
            height: 48px;
            width: 190px;
            transition: 0.11s ease-in;
                                        
            p,
            span {
              display: none;
            }
          }
        }
      }
    }

    .skills {
      i {
        &:hover {
          background-color: initial;
          border-radius: initial;
          transition: initial;
        }
      }
    }
  }
}
