$gen-font: Helvetica, sans-serif;
$tablet: 768px;
$desktop: 1024px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $gen-font;
  

  header {
    text-align: center;
    background-color: darkgray;
    opacity: 0.8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    h1 {
      background-color: indianred;
      font-size: 3em;
      padding: 20px;
      font-family: 'Chelsea Market', cursive;
      font-weight: 600;
      @media (min-width: $tablet) {
        font-size: 4em;
      @media (min-width: $desktop) {
        font-size: 5em;
        }
      }
        

      &#name {
        padding-bottom: 0;
      }

      &#surname {
        padding-top: 0;
      }
    }
    h2 {
      background-color: darkmagenta;
      padding: 15px;
      font-variant: small-caps;
      letter-spacing: 6px;
      @media (min-width: $tablet) {
        letter-spacing: 10px;
        font-size: 2em;
      }
      @media (min-width: $desktop) {
        font-size: 3em;
        }
    }

    @media (min-width: $tablet) {
      h2:before, 
      h2:after {
      content:'\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
      text-decoration: line-through;
      margin: auto 0.5em;
    }


    nav {
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @media (min-width: $tablet) {
        flex-direction: row;
        justify-content: center;
        margin: 1.5em;
      }
      

      i {
        color: #202020;
        font-size: 2em;
        
        @media (min-width: $tablet) {
          font-size: 3em;
          padding: 1em;
          }
        }
      }
    }
  }

@media (min-width: $desktop) {
  i:hover {
    background-color: lightgray;
    color: black;
    font-size: 4em;
  }
}
  


// desktop version:
// add in fade in and/or typing text on screen

// Questions:

