* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

* header {
  text-align: center;
  background-color: darkgray;
  opacity: 0.8;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* header h1 {
  background-color: indianred;
  font-size: 3em;
  padding: 20px;
  font-family: 'Chelsea Market', cursive;
  font-weight: 600;
}

@media (min-width: 768px) {
  * header h1 {
    font-size: 4em;
  }
}

@media (min-width: 1024px) {
  * header h1 {
    font-size: 5em;
  }
}

* header #name {
  padding-bottom: 0;
}

* header #surname {
  padding-top: 0;
}

* h2 {
  background-color: darkmagenta;
  padding: 15px;
  font-variant: small-caps;
  letter-spacing: 6px;
}

@media (min-width: 768px) {
  * h2 {
    letter-spacing: 10px;
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  * h2 {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
  * h2::before,
  * h2::after {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    margin: auto 0.5em;
  }
}

* nav {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) {
  * nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.5em;
  }
}

* i {
  color: #202020;
  font-size: 2em;
}

@media (min-width: 768px) {
  * i {
    font-size: 3em;
    padding: 1em;
  }
}

main {
  display: -ms-grid;
  display: grid;
}

main div {
  height: 30vh;
  border: solid 4px darkmagenta;
  background-color: #F9EBEB;
  margin: 3em;
  font-variant: small-caps;
  padding: 2em;
  text-align: center;
}

#contact-header {
  height: 40vh;
}

form {
  height: 40vh;
  width: auto;
  margin: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form input {
  height: 4em;
  background-color: #F9EBEB;
  border-color: #8B3A3A;
  margin: 1em;
  padding: 0.5em;
  border-radius: 5px;
}

form #message {
  height: 10em;
}

form #submit {
  width: 7em;
  background-color: #8B3A3A;
  color: white;
  padding: 0.2em;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  i:hover {
    background-color: lightgray;
    color: black;
    font-size: 4em;
  }
}
/*# sourceMappingURL=main.css.map */