* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/vibropleks-morse.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px #9e9a75;
    color: 	#41533b;
    word-spacing: 5px;
    text-align: center;
    margin-top: 25px;
    
}

#morse-code {
    display: flex;
    justify-content: center;
    
    margin-top: 100px;
    text-align: center;
}

#morse-code .text button {
    width: 60px;
    margin: 10px;
}

#morse-code input {
    background-color:rgba(0, 0, 0, 0.5);
    border: solid 2px black;
    width: 500px;
    height: 40px;
    text-align: left;
    font-size: medium;
    color: white;
    }


#morseimg {
    background-image: url(./images/morse-code.png)
    background-repeat: no-repeat;
    /* background-color: #554840; */
    width: 450px;
    height: 450px;
    

}