* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.9em;
}

a {
  color: rgb(44, 83, 190);
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  color: #fff;
}

p {
  margin: 10px 0;
}

#navbar {
  background: #000000;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  border-radius: 25px;
  background: rgb(30, 68, 180);
  color: #fff;
}

.primary-text {
  font-family: "Courier New", Courier, monospace;
  padding: 100px;
  margin: 30px;
  text-align: center;
  text-decoration-color: rgb(30, 68, 180);
  line-height: 1.4;
}

.box {
  text-align: center;
  letter-spacing: 20px;
  font-size: 10px;
  color: #fff;
}

#footer {
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
}

.downloadCv {
  background-color: rgb(30, 68, 180);
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  max-width: 250px;
  margin: 50px auto;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}
