/* main styles*/

* {
  background-color: black;
}

/* nav bar*/

.nav-link-bar {
  height: 30%;
  width: 100px;
  margin-top: 10px;
  margin-left: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav-link-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: inline-flex;
}

.nav-link-bar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0 10px;
}

@media screen and (max-height: 450px) {
  .nav-link-bar {
    padding-top: 15px;
  }

  .nav-link-bar a {
    font-size: 18px;
  }
}

.main {
  width: 650px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -325px;
  overflow: hidden;
  text-align: center;
}

/*video*/

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  background-size: cover;
}
