body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

header {
  height: 10%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
}

section {
  border: 2px solid red;
  height: 100%;
}

footer {
  height: 10%;
}
