$dark-color: #1c3041;
$light-color: #f5f0f6;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Work Sans', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

body {

  font-size: 16px;

  a {
    color: $dark-color;
    text-decoration: none;
  }

  .uppercase {
    text-transform: uppercase;
  }

  // NAVIGATION

  .fa-bars,
  .fa-arrow-right {
    color: $dark-color;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0.4em;
    margin: 0.5em;
    font-size: 1.7em;
    text-align: right;
    background-color: $light-color;
    transition-duration: 0.2s;
    opacity: 1;
  }

  .fa-bars {
    z-index: 11;
    transition-duration: 0.2s;
  }

  .fa-bars:hover {
    transform: rotate(90deg);
    transition-duration: 0.2s;
    opacity: 0;
  }

  .fa-bars:hover~.fa-arrow-right,
  nav:hover~.fa-arrow-right {
    opacity: 1;
    transform: rotate(90deg);
    transition-duration: 0.2s;
  }

  nav {
    opacity: 0;
    position: fixed;
    right: 1.5em;
    top: 3.3em;
    z-index: 10;
    font-size: 1.3em;
    transition-duration: 0.2s;
    background-color: $light-color;
    transform: skewX(-5deg);
    height: 0;
    width: 6.5em;
    overflow-y: hidden;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      li {
        width: 100%;
      }

    }

    a {
      display: block;
      padding: 1em 0.5em;
      color: $dark-color;
      text-align: right;
      border: 1px solid $light-color;

      &:hover {
        font-weight: bold;
        transition-duration: 0.2s;
        border-top: 1px solid $dark-color;
        border-bottom: 1px solid $dark-color;
      }
    }
  }

  .fa-bars:hover~nav,
  nav:hover {
    opacity: 1;
    height: 13.15em;
    width: 6.5em;
    transition-duration: 0.2s;
  }
}

/* SPLIT BACKGROUND */

.container {
  background-image: linear-gradient(95deg, transparent, transparent 38%, $light-color 38.2%, $light-color), url("./images/stars-landscape.jpg");
  background-size: contain;
  min-height: 100vh;
  width: 100vw;

  @media screen and (min-width: 350px) and (orientation: portrait) {
    background-image: linear-gradient(95deg, transparent, transparent 40%, $light-color 40.2%, $light-color), url("./images/stars-landscape.jpg");
  }

  @media screen and (orientation: landscape) {
    background-image: linear-gradient(95deg, transparent, transparent 44.6%, $light-color 44.7%, $light-color), url("./images/stars-landscape.jpg");

    @media (min-width: 1024px) {
      background-image: linear-gradient(95deg, transparent, transparent 44%, $light-color 44.1%, $light-color), url("./images/stars-landscape.jpg");
    }

    @media (min-width: 1280px) {
      background-image: linear-gradient(95deg, transparent, transparent 44.8%, $light-color 44.9%, $light-color), url("./images/stars-landscape.jpg");
    }

    @media (min-width: 1440px) {
      background-image: linear-gradient(95deg, transparent, transparent 46.4%, $light-color 46.5%, $light-color), url("./images/stars-landscape.jpg");
    }
  }
}

.inverse-container {
  background-image: linear-gradient(95deg, $light-color, $light-color 38%, transparent 38.2%, transparent), url("./images/stars-landscape.jpg");
  background-size: contain;
  background-clip: text;
  // -webkit-background-clip: text;

  // -webkit-background-clip: text;
  min-height: 100vh;
  width: 100vw;

  @media screen and (min-width: 350px) and (orientation: portrait) {
    background-image: linear-gradient(95deg, $light-color, $light-color 40%, transparent 40.2%, transparent), url("./images/stars-landscape.jpg");
  }

  @media screen and (orientation: landscape) {
    background-image: linear-gradient(95deg, $light-color, $light-color 44.6%, transparent 44.7%, transparent), url("./images/stars-landscape.jpg");

    @media (min-width: 1024px) {
      background-image: linear-gradient(95deg, $light-color, $light-color 44%, transparent 44.1%, transparent), url("./images/stars-landscape.jpg");
    }

    @media (min-width: 1280px) {
      background-image: linear-gradient(95deg, $light-color, $light-color 44.8%, transparent 44.9%, transparent), url("./images/stars-landscape.jpg");
    }

    @media (min-width: 1440px) {
      background-image: linear-gradient(95deg, $light-color, $light-color 46.4%, transparent 46.5%, transparent), url("./images/stars-landscape.jpg");
    }
  }

  /* LANDING PAGE */
  .name {
    height: 100vh;
    width: 100vw;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    color: transparent;

    // Microsoft browsers don't support background-clip text, apply transparency for those that do

    // @supports not (-webkit-background-clip: text) {
    //   color: black;
    // }


    @media screen and (orientation: portrait) {
      @media (min-width: 400px) {
        font-size: 1.1em;
      }

      @media (min-width: 600px) {
        font-size: 1.5em;
      }

      @media (min-width: 720px) {
        font-size: 1.6em;
      }

      @media (min-width: 900px) {
        font-size: 1.8em;
      }
    }

    @media screen and (orientation: landscape) {
      @media (min-width: 1024px) {
        font-size: 1.2em;
      }

      @media (min-width: 1440px) {
        font-size: 1.6em;
      }

      @media (min-width: 2560px) {
        font-size: 2.1em;
      }

    }


    h1 {

      // @keyframes slide-in-from-top {
      //     0% {
      //         transform: translateY(-20vh);
      //     }
      //     100% {
      //         transform: translateY(0);
      //     }
      // }

      font-size: 2.5em;
      font-weight: 1000;
      // animation: 1s ease-in 0s 1 slide-in-from-top;

    }

    h2 {
      font-size: 2em;
      font-weight: 100;
    }

    #cta-btn {
      font-size: 1.1em;
      padding: 0;
      display: inline;
      text-transform: uppercase;
      padding: 0.5em;
      margin: 2em auto 0;
      font-weight: bold;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      transition-duration: 0.6s;
      color: inherit;


      &:hover {
        letter-spacing: 0.5em;
      }

      &:visited {
        color: inherit;
      }
    }
  }

  /* BIO */
  #bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 2em 2em 3em 37vw;
    color: white;
    transform: skewX(-5deg);

    @media screen and (orientation: portrait) {

      @media (min-width: 350px) {
        padding-left: 40vw;
      }

      @media (min-width: 600px) {
        padding-left: 42vw;
      }

      @media (min-width: 720px) {
        padding-right: 5em;
      }

      @media (min-width: 900px) {
        padding-right: 7em;
      }
    }

    @media screen and (orientation: landscape) {

      padding-left: 50vw;
      padding-right: 5em;

      @media (min-width: 960px) {
        padding-left: 46vw;
      }

      @media (min-width: 1024px) {
        padding-left: 44vw;
      }

      @media (min-width: 1280px) {
        padding-left: 46vw;
      }
    }

    h2,
    p {
      text-align: justify;
      line-height: 2em;
      color: $dark-color;
      /* color: transparent; -- need to fix this */
    }

    h2 {
      @media screen and (min-width: 1440px) {
        font-size: 2em;
      }

      @media screen and (orientation: landscape) and (min-width: 2560px) {
        font-size: 2.5em;
      }
    }

    p {
      font-size: 0.8em;
      font-weight: 500;

      @media screen and (orientation: portrait) {

        @media (min-width: 350px) {
          font-size: 1em;
        }

        @media (min-width: 450px) {
          font-size: 1.2em;
        }

        @media (min-width: 600px) {
          font-size: 1.3em;
        }

        @media (min-width: 900px) {
          font-size: 1.5em;
        }

      }

      @media screen and (orientation: landscape) {

        @media (min-width: 1024px) {
          font-size: 0.9em;
          padding-right: 7em;
        }

        @media (min-width: 1280px) {
          font-size: 1em;
          padding-right: 9em;
        }

        @media (min-width: 1440px) {
          font-size: 1em;
          padding-right: 16em;
        }

        @media (min-width: 2560px) {
          font-size: 1.4em;
          padding-right: 25em;

        }
      }

    }
  }

  /* PORTFOLIO */
  #portfolio {
    h2 {
      text-align: left;
      width: 100%;
      text-transform: uppercase;
      color: transparent;
      padding-left: 22vw;
      color: $dark-color;
      transform: skewX(-5deg);

      @media screen and (orientation: portrait) {

        @media (min-width: 350px) {
          padding-left: 25vw;
        }

        @media (min-width: 400px) {
          padding-left: 26vw;
        }

        @media (min-width: 480px) {
          padding-left: 28vw;
        }

        @media (min-width: 600px) {
          padding-left: 29vw;
        }

        @media (min-width: 900px) {
          padding-left: 30vw;
          font-size: 2em;
        }
      }

      @media screen and (orientation: landscape) {

        padding-left: 47vw;

        @media (min-width: 960px) {
          padding-left: 43vw;
        }

        @media (min-width: 1024px) {
          padding-left: 40.5vw;
        }

        @media (min-width: 1280px) {
          padding-left: 43vw;
        }

        @media (min-width: 1440px) {
          padding-left: 43.5vw;
          font-size: 2em;
        }

        @media (min-width: 2560px) {
          padding-left: 44vw;
          font-size: 2.5em;
        }
      }

    }

    .grid-container {
      display: grid;
      gap: 0.5em;
      grid-template-columns: 1fr;
      margin: 1em;
      color: white;

      @media screen and (orientation: portrait) {

        @media (min-width: 720px) {
          margin: 3em;
          gap: 1.5em;
        }
      }

      @media screen and (orientation: landscape) {

        @media (min-width: 760px) {
          margin: 2em;
        }

        @media (min-width: 960px) {
          margin: 2em;
          grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 1024px) {
          grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 1024px) {
          grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 1440px) {
          grid-template-columns: 1fr 1fr 1fr;
          margin: 3em;
          gap: 2em;
        }
      }
    }

    article {
      position: relative;

      img {
        width: 100%;
        height: auto;
        transition-duration: 0.3s;
      }

      .float-icons {
        color: white;
        position: absolute;
        bottom: 50%;
        transform: translate(50%, 50%);
        z-index: 2;
        transition-duration: 0.2s;
      }

      .project-text {
        position: absolute;
        height: 2em;
        bottom: 0;
        width: 100%;
        transition-duration: 0.2s;
        overflow-y: hidden;
        background-color: rgba(0, 0, 0, 0.5);

        h3 {
          height: 2em;
          padding-top: 0.5em;
          z-index: 2;
        }
      }

      .skills i {
        font-size: 1.5em;
        left: -2em;
      }

      &:hover i:nth-child(1) {
        left: 0;
      }

      &:hover i:nth-child(2) {
        left: 1em;
      }

      &:hover i:nth-child(3) {
        left: 2em;
      }

      &:hover i:nth-child(4) {
        left: 3em;
      }

      &:hover i:nth-child(5) {
        left: 4em;
      }

      .fa-rocket,
      .fa-code {
        font-size: 2em;
        right: -1em;
      }

      &:hover .fa-rocket {
        right: 1em;
      }

      &:hover .fa-code {
        right: 3em;
      }

      &:hover div {
        height: 50%;
      }
    }
  }
  /* SKILLS */


  /* CONTACT */
}
