* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bannercolor: rgb(176, 180, 178);
$hoverhighlight: 0 0 20px 20px #e7f4f8;
$articlecolor: #757070;
$titlefontsize: 10px;
$iconcolour: rgba(48, 96, 174, 0.898);


body {
  background-color: lighten($bannercolor, 16%);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  header {
    height: 7.5vh;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: $bannercolor;
    padding: 0.9vh;
    display: flex;
    justify-content: space-between;
    font-size: 2.5*$titlefontsize;

    h1 {
      font-size: 2.5*$titlefontsize;
    }

    i {
      color: $iconcolour;
    }
  }

  main {
    height: 85vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
        
    section {
      width: 50%;
      height: 80%;
      margin-top: 10vh;
      margin-bottom: 10vh;
      display: grid;
      justify-items: center;
      row-gap: 2vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      article {
        border: 1px solid rgba(0, 0, 0, 0.548);
        border-radius: 4px;
        width: 50vw;
        height: auto;
        font-size: 2*$titlefontsize;
        font-weight: 900;
        padding: 3%;
        color: black;
                
        &:hover {
          box-shadow: $hoverhighlight;
        }
    
        &.welcome {
          grid-area: 1 / 2 / 1 / 4;
          align-self: stretch;
          background-color: $articlecolor;
          font-size: 3*$titlefontsize;
          color: $iconcolour;
          -webkit-text-stroke: 1px black; 
        }

        &.code {
          grid-area: 2 / 1 / 2 / 3;
          align-self: stretch;
          background-color: lighten($articlecolor, 8%);
        }

        &.baking {
          grid-area: 3 / 2 / 3 / 4;
          align-self: stretch;
          background-color: lighten($articlecolor, 16%);
        }

        &.botany {
          grid-area: 4 / 1 / 4 / 3;
          align-self: stretch;
          background-color: lighten($articlecolor, 24%);
        }        
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: $bannercolor;
    -webkit-text-stroke: 1px black;

    i {
      font-size: 2*$titlefontsize;
      -webkit-text-stroke: 1px black;
    }

    a {
    
      text-decoration: none;
      font-weight: 700;
      margin: 0 10px;
      color: $iconcolour;
        
      &:hover {
        color: white;
      }
    }
  }
}




