* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=checkbox] {
  display: none;
}

.clickspin i {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

input[type=checkbox]:checked ~ label > i {
  -webkit-transform: translate(-30vw) rotate(180deg) scaleX(-1);
          transform: translate(-30vw) rotate(180deg) scaleX(-1);
}

body {
  background-color: #dadcdb;
  font-family: 'Courier New', Courier, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

body header {
  height: 7.5vh;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #b0b4b2;
  padding: 1vh 2vw 0 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
}

body header h1 {
  font-size: 23px;
}

body header i {
  color: rgba(48, 96, 174, 0.898);
  -webkit-text-stroke: 1px black;
}

body header i:hover {
  color: white;
  cursor: pointer;
}

body main {
  height: 85vh;
  font-family: 'Courier New', Courier, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

body main section {
  width: 50%;
  height: 80%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 2vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

body main section article {
  border: 1px solid rgba(0, 0, 0, 0.548);
  border-radius: 4px;
  width: 50vw;
  height: auto;
  font-size: 20px;
  font-weight: 900;
  padding: 3%;
  color: black;
  position: relative;
}

body main section article i {
  position: absolute;
  left: 3%;
  bottom: 5%;
}

body main section article:hover {
  -webkit-box-shadow: 0 0 6px 6px white;
          box-shadow: 0 0 6px 6px white;
  cursor: pointer;
}

body main section article.welcome {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 1 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #827f7f;
  font-size: 30px;
  color: rgba(48, 96, 174, 0.898);
  -webkit-text-stroke: 1px black;
}

body main section article.code {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 2 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #969494;
}

body main section article.baking {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3 / 2 / 3 / 4;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #aaa8a8;
}

body main section article.botany {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 4 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #bebdbd;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.5vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #b0b4b2;
  -webkit-text-stroke: 1px black;
}

body footer i {
  font-size: 20px;
}

body footer a {
  -webkit-text-stroke: 1px black;
  text-decoration: none;
  font-weight: 700;
  margin: 0 10px;
  color: rgba(48, 96, 174, 0.898);
}

body footer a:hover {
  color: white;
}
/*# sourceMappingURL=styles.css.map */