* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bannercolor: rgb(159, 160, 160);
$hoverhighlight: 0 0 6px 6px white;
$articlecolor: #797777;
$titlefontsize: 10px;
$iconcolour: rgba(48, 96, 174, 0.898);


body {
  background-color: lighten($bannercolor, 16%);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  header {
    height: 7.5vh;
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 50px;
    background-color: $bannercolor;
    padding: 9px;
    display: flex;
    justify-content: space-between;
    font-size: 2.5*$titlefontsize;

    input[type=checkbox] {
      display: none;
    }
    input[type=checkbox]:checked ~ label > i {
    transform: translate(-130px) rotate(180deg) scaleX(-1);
    }

    h1 {
      font-size: 2.0*$titlefontsize;
    }


    i {
      color: $iconcolour;
      -webkit-text-stroke: 1px black;
      transition: transform 0.8s;
    
      &:hover {
        color: white;
        cursor: pointer;
      }
    }

    nav {
      position: absolute;
      top: 2px;
      right: -200px;
      
      ul {
      width: 160px;
      height: 30px;
      position: relative;
      right: 2px;
      top: 9px;
      font-size: 2*$titlefontsize;
                
        li 
        {
          display: inline-block;

          &#link1 {
            &.spinicon {
              transform: translate(-170px) rotate(360deg) scaleX(-1);
              transition: transform 0.8s;
              transition-delay: 0.4s;
            }  
          }
          &#link2 {
            &.spinicon2 {
              transform: translate(-180px) rotate(360deg) scaleX(-1);
              transition: transform 0.7s;
              transition-delay: 0.3s;             
            }  
          }
          &#link3 {
            &.spinicon3 {
              transform: translate(-190px) rotate(360deg) scaleX(-1);
              transition: transform 0.6s;
              transition-delay: 0.2s;              
            }  
          }
          &#link4 {
            &.spinicon4 {
              transform: translate(-200px) rotate(360deg) scaleX(-1);
              transition: transform 0.5s;
              transition-delay: 0.1s;
            }  
          }
        }
          i {
          padding: 0 3px;
          color: rgb(245, 120, 120);
          }

        &.show {
          display: flex;
        }
      }
    }
    

    li {
      list-style: none;
    }
  }

  main {
    height: 85vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
        
    section {
      width: 50%;
      height: 80%;
      margin-top: 10vh;
      margin-bottom: 10vh;
      display: grid;
      justify-items: center;
      row-gap: 2vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      

      
      article {
        border: 1px solid rgba(0, 0, 0, 0.548);
        border-radius: 4px;
        width: 50vw;
        max-width: 500px;
        height: auto;
        font-size: 2*$titlefontsize;
        font-weight: 900;
        color: black;
        position: relative;
        
        input[type=checkbox] {
          display: none;
        }
        input[type=checkbox]:checked ~ label > div {
          transform: translate(-130px) rotate(180deg) scaleX(-1);
        }
        
        label {
          div {
          height: 100%;
          width: 100%;
          padding: 10px
          }
        }

        i {
          position: absolute;
          left: 10px;
          bottom: 8px;
        }
                
        &:hover {
          box-shadow: $hoverhighlight;
          cursor: pointer;
        }
    
        &.welcome {
          grid-area: 1 / 2 / 1 / 4;
          background-color: $articlecolor;
          font-size: 3*$titlefontsize;
          color: $iconcolour;
          -webkit-text-stroke: 1px black;
        }

        &.code {
          grid-area: 2 / 1 / 2 / 3;
          background-color: lighten($articlecolor, 8%);
        }

        &.bio {
          grid-area: 3 / 2 / 3 / 4;
          background-color: lighten($articlecolor, 16%);
        }

        &.contact {
          grid-area: 4 / 1 / 4 / 3;
          background-color: lighten($articlecolor, 24%);
        } 
        
        p {
          margin-left: 3px;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: $bannercolor;
    -webkit-text-stroke: 1px black;

    i {
      font-size: 2*$titlefontsize;
    }

    a {
      -webkit-text-stroke: 1px black;
      text-decoration: none;
      font-weight: 700;
      margin: 0 10px;
      color: $iconcolour;
        
      &:hover {
        color: white;
      }
    }
  }
}




