* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #bad0d3;
  font-family: 'Courier New', Courier, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

body header {
  height: 7.5vh;
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: #8a88a1;
}

body main {
  height: 85vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

body main h1 {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

body main section {
  width: 50%;
  height: 80%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 1.5vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

body main section article {
  border: 1px solid rgba(0, 0, 0, 0.548);
  border-radius: 4px;
  width: 50vw;
  height: auto;
}

body main section article.welcome {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 1 / 4;
  color: red;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #dfa8a8;
}

body main section article.welcome:hover {
  -webkit-box-shadow: 0px 0px 8px 8px #dff3fa;
          box-shadow: 0px 0px 8px 8px #dff3fa;
}

body main section article.code {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 2 / 3;
  color: green;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #2e4057;
}

body main section article.baking {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3 / 2 / 3 / 4;
  color: red;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #66a182;
}

body main section article.botany {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 4 / 3;
  color: green;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #caffb9;
}

body main section article.amt {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 5 / 2 / 5 / 4;
  color: red;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #aef78e;
}

body main section article.personal {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 6 / 1 / 6 / 3;
  color: green;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #c0d461;
}

body footer {
  height: 7.5vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #8a88a1;
}
/*# sourceMappingURL=styles.css.map */