* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 182, 255, 0.2);
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
}

.boxgradtop {
    height: 65vh;
    background-size: contain;
    background-image: linear-gradient(to top, rgb(25, 182, 255, 0), rgb(25, 182, 255, 1));
    z-index: -1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.boxgradbottom {
    height: 15vh;
    background-size: contain;
    background-image: linear-gradient(to bottom, rgba(248, 248, 248, 0), rgb(248, 246, 114));
    z-index: -1;
}

.box {
    height: 1.7vh;
    width: auto;
}

main {
display: flex;
justify-content: center;
align-items: center;
}

.plant {
    top: 15vh;
    border: 2px solid black;
    width: 60vw;
    max-width: 400px;
    min-height: 70vh;
    position: relative;
}



.petal {
    position: absolute;
    width: 200px;
    height: 50px;
    background: red;
    border-radius: 100px /50%;
}
