$gen-font: Helvetica, sans-serif;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1366px;
$largescreen: 2560px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $gen-font;
  

  header {
    text-align: center;
    background-color: darkgray;
    opacity: 0.8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: center;


    h1 {
      background-color: indianred;
      font-size: 3em;
      padding: 20px;
      font-family: 'Chelsea Market', cursive;
      font-weight: 600;
      @media (min-width: $tablet) {
        font-size: 4em;
      }
      @media (min-width: $laptop) {
        font-size: 5em;
      }
    }
        
    #name {
      padding-bottom: 0;
    }

    #surname {
      padding-top: 0;
    }
  }


  #purple-banner {
    background-color: darkmagenta;
    padding: 15px;

    h2 {
      font-variant: small-caps;
      letter-spacing: 6px;
      
      //TYPING ANIMATION
      color: black;
      text-align: center;
      width: 14em;
      white-space: nowrap;
      overflow: hidden;
      animation: type 3s steps(300, end);
      @keyframes type { 
        from {width: 0;} 
      } 
      
      @media (min-width: $tablet) {
        letter-spacing: 10px;
        font-size: 2em;
        width: 23em;
      }
      @media (min-width: $laptop) {
        font-size: 3em;
        width: 20em;
      }
      @media (min-width: $desktop) {
        width: 28em;
      }
      @media (min-width: $largescreen) {
        width: 52em;
      }
    }
  }
  
  @media (min-width: $tablet) {
    h2::before,
    h2::after {
      content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
      text-decoration: line-through;
      margin: auto 0.5em;
    }
  }


  nav {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: center;
      margin: 1.5em;
    }
  }
      

  i {
    color: #202020;
    font-size: 2em;
        
    @media (min-width: $tablet) {
      font-size: 3em;
      padding: 1em;
    }
  }
  @media (min-width: $laptop) {
    i:hover {
      background-color: lightgray;
      color: black;
      font-size: 4em;
    }
  }
}


//PROJECTS STYLING
main {
  h3 {
    text-align: center;
    margin-top: 5em;
    padding: 1em;
  }

  #projectgrid {
    display: grid;

    section {
      height: 200px;
      width: 300px;
      // border: solid 2px #cd5555;
      background-color: #f9ebeb;
      margin: 2em;
      font-variant: small-caps;
      // padding: 1em;
      text-align: center;

      img {
        height: auto;
        width: 100%;
        // border: 1px solid #612020;
      }
      
      // #project1 {
      //   background-color: white;
      // }
    }

    grid-template-areas:
    "project1"
    "project2"
    "project3"
    "project4"
    "project5"
    "project6";

  
    @media (min-width: $tablet) {
      
      grid-template-areas:
      "project1 project2"
      "project3 project4"
      "project5 project6";
    }

    @media (min-width: $laptop) {
      
      grid-template-areas:
      "project1 project2 project3" 
      "project4 project5 project6";
    }

    @media (min-width: $largescreen) {
      
      grid-template-areas:
      "project1 project2 project3 project4 project5 project6";
    }
  
  
    #project1 {
      grid-area: project1;
    }
    #project2 {
      grid-area: project2;
    }
    #project3 {
      grid-area: project3;
    }
    #project4 {
      grid-area: project4;
    }
    #project5 {
      grid-area: project5;
    }
    #project6 {
      grid-area: project6;
    }
  }
}




//CONTACT PAGE STYLING:
#contact-header {
  height: 40vh;
}

form {
  height: 40vh;
  width: auto;
  margin: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    height: 4em;
    background-color: #f9ebeb;
    border-color: #8b3a3a;
    margin: 1em;
    padding: 0.5em;
    border-radius: 5px;
  }

  #message {
    height: 10em;
  }

  #submit {
    width: 7em;
    background-color: #8b3a3a;
    color: white;
    padding: 0.2em;
    font-size: 0.8em;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
  }
  @media (min-width: $tablet) {
    form { 
      width: 60%;
    } 
    @media (min-width: $laptop) {
      width: 50%;
    }
  }
}
  





// Questions/Issues:
//1. Centering the text animation on h2


//To Do:
//Thank you for submitting the contact form
//link from contact form back to main page
//Fix the animation centering issue
//Center the contact form
//hover effects for project boxes




//ANIMATION SOURCE
// p{
//   color: #000; 
//   font-size: 20px;
//   text-align:  left;
//   white-space: nowrap;
//   overflow: hidden;
//   width: 40em;
//   animation: type 3s steps(60, end); 
// }

// p:nth-child(2){
//   animation: type2 3s steps(60, end);
// }

// p:nth-child(3){
//   animation: type3 6s steps(60, end);
// }

// @keyframes type{ 
//   from { width: 0; } 
// } 

// @keyframes type2{
//   0%{width: 0;}
//   50%{width: 0;}
//   100%{ width: 100; } 
// } 

// @keyframes type3{
//   0%{width: 0;}
//   50%{width: 0;}
//   100%{ width: 100; } 
// }