* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  background-color: #fbfef9;
}

nav {
  z-index: 998;
  position: fixed;
  height: 100vh;
  left: -100vw;
  width: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  padding-top: 10vh;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

#fixed-header {
  position: fixed;
  height: 12.5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  background-color: linear-gradient(180deg, #fbfef9 80%, rgba(251, 254, 249, 0.1) 100%);
  z-index: 999;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #fbfef9), to(rgba(251, 254, 249, 0.1)));
  background: linear-gradient(180deg, #fbfef9 80%, rgba(251, 254, 249, 0.1) 100%);
}

#fixed-header div {
  margin: 24px;
}

#home {
  position: relative;
}

#home footer {
  position: absolute;
  bottom: 0;
}

#home footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  min-width: 300px;
  max-width: 500px;
  height: 12.5vh;
}

h1 {
  margin: 32px 0;
  padding: 24px;
}

h2 {
  padding: 16px 0;
}

p {
  margin: 16px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87.5vh;
}

section,
ul {
  height: 100vh;
}

article {
  height: auto;
  margin: 25vh;
  padding: 5px;
  width: 90vw;
  border: 1px solid transparent;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 16px -3px rgba(31, 31, 31, 0.19);
          box-shadow: 0 0 16px -3px rgba(31, 31, 31, 0.19);
  text-align: center;
}

article header {
  border: 1px solid transparent;
  border-radius: 25px;
}

article .project-links {
  width: 50%;
  padding: 5vh;
}

#languages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
}

#languages-wrapper p {
  text-align: center;
  width: 50vw;
}

#languages-icon-wrapper {
  width: 50vw;
  max-width: 500px;
  text-align: center;
}

#languages-icon-wrapper i {
  width: 8vw;
  min-width: 40px;
  height: 8vh;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37.5vw;
  margin: 0 auto;
  padding: 16px 0;
}

.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: static;
}

header h2 {
  margin: 0 16px;
  display: block;
}

img {
  width: 50px;
  height: 25px;
}

svg {
  background-color: linear-gradient(180deg, #fbfef9 80%, rgba(251, 254, 249, 0.1) 100%);
  fill: green;
}

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: unset;
}

h1 {
  font-size: 2.8em;
  text-align: center;
}

h2,
i,
li {
  font-size: 2em;
  text-align: center;
}

header h2 {
  text-align: left;
}

.social-media-wrapper i {
  font-size: 0.96em;
}

p {
  font-size: 1.2em;
  text-align: justify;
}

#about p {
  line-height: 30px;
}

.project-links i {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  #about {
    margin: 0 auto;
    width: 80vw;
  }
  article {
    width: 80vw;
    padding: 20px;
  }
}

@media (min-width: 900px) {
  main {
    margin: 0 auto;
  }
  article {
    width: 40vw;
  }
  #about {
    width: 60vw;
    margin: 0 auto;
  }
  h1 {
    font-size: 3.15em;
  }
  h2,
  i,
  li {
    font-size: 2.25em;
  }
  p {
    font-size: 1.35em;
  }
  header .social-media-wrapper i {
    font-size: 1.35em;
  }
  header .project-links i {
    font-size: 2.1em;
  }
}
/*# sourceMappingURL=main.css.map */