* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  background-color: white;
}

nav {
  z-index: 998;
  position: fixed;
  height: 100vh;
  left: -100vw;
  width: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  padding-top: 10vh;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

#fixed-header {
  position: fixed;
  height: 12.5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(80%), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(180deg, white, 80%, rgba(255, 255, 255, 0.1) 100%);
  z-index: 999;
}

#fixed-header div {
  margin: 24px;
}

#home {
  position: relative;
}

#home footer {
  position: absolute;
  bottom: 0;
}

#home footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  min-width: 300px;
  max-width: 500px;
  height: 12.5vh;
}

h1 {
  margin: 32px 0;
  padding: 24px;
}

h2 {
  padding: 16px 0;
}

p {
  margin: 16px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87.5vh;
}

section,
ul {
  height: 100vh;
}

article {
  height: 43.75vh;
  margin: 0 auto;
}

#languages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
}

#languages-wrapper p {
  text-align: center;
  width: 50vw;
}

#languages-icon-wrapper {
  width: 50vw;
  text-align: center;
}

#languages-icon-wrapper i {
  width: 8vw;
  min-width: 40px;
  height: 8vh;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37.5vw;
  margin: 0 auto;
  padding: 16px 0;
}

.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: static;
}

header h2 {
  margin: 0 24px;
  display: block;
}

img {
  width: 50px;
  height: 25px;
}

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: unset;
}

h1 {
  font-size: 2.8em;
  text-align: center;
}

h2,
i,
li {
  font-size: 2em;
  text-align: center;
}

header h2 {
  text-align: left;
}

.social-media-wrapper i {
  font-size: 0.96em;
}

p {
  font-size: 1.2em;
  text-align: justify;
}

.project-links i {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  #about {
    margin: 0 auto;
    width: 80vw;
  }
  article {
    width: 80vw;
    height: 29.16667vh;
  }
  h1 {
    font-size: 3.5em;
  }
  h2,
  i,
  li {
    font-size: 2.5em;
  }
  p {
    font-size: 1.5em;
  }
  .project-links i {
    font-size: 2em;
  }
}
/*# sourceMappingURL=main.css.map */