/*----------Fonts----------*/
@font-face {
  font-family: 'sfalienencsolid';
  src: url("./assets/fonts/sfalienencsolid.woff2") format("woff2"), url("./assets//fonts/sfalienencsolid.woff") format("woff"), url("./assets//fonts/sfalienencsolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfalienenc';
  src: url("./assets/fonts/sfalienenc.woff2") format("woff2"), url("./assets//fonts/sfalienenc.woff") format("woff"), url("./assets//fonts/sfalienenc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'streamster';
  src: url("./assets/fonts/streamster.woff2") format("woff2"), url("./assets//fonts/streamster.woff") format("woff"), url("./assets//fonts/streamster.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scriptina';
  src: url("./assets/fonts/scriptina.woff2") format("woff2"), url("./assets//fonts/scriptina.woff") format("woff"), url("./assets//fonts/scriptina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*---------- ----------*/
/*----------CSS Reset----------*/
* {
  --portfolio-light-blue: #8EA8C3;
  --portfolio-black: #0B0014;
  --portfolio-gray: #363946;
  --portfolio-blue: #406E8E;
  --portfolio-purple: #5B2E48;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/*---------- ----------*/
/*----------Styling for hyperlinks and special characters----------*/
.char {
  color: transparent;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--portfolio-blue);
          text-decoration-color: var(--portfolio-blue);
}

@media screen and (min-width: 823px) {
  span.char {
    -webkit-text-decoration-color: var(--portfolio-purple);
            text-decoration-color: var(--portfolio-purple);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/*---------- ----------*/
/*----------General styles----------*/
body {
  max-width: 100vw;
  background-color: var(--portfolio-black);
  font-size: 16px;
  color: var(--portfolio-black);
}

/*---------- ----------*/
/*----------Header and navbar styles----------*/
header {
  font-family: 'sfalienencsolid', sans-serif;
}

header .title {
  height: 50vh;
}

header h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0B0014BB), to(#0B0014BB)), url(https://media.giphy.com/media/QAmzAMUA4rOIkG0Rdv/giphy.gif);
  background-image: linear-gradient(#0B0014BB 0%, #0B0014BB 100%), url(https://media.giphy.com/media/QAmzAMUA4rOIkG0Rdv/giphy.gif);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

header nav {
  width: 100%;
  height: 100%;
}

header nav ul {
  width: 100%;
  height: 80%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: initial;
}

header nav ul li {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  line-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*---------- ----------*/
/*---------- Specific section stylings. Sections take up one viewport height.
For very small devices sections take up two heights. ---------- */
section {
  font-family: 'sfalienencsolid', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section-three {
  height: 88vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section article {
  font-family: consolas, Arial, Helvetica, sans-serif;
  height: 60%;
  width: 75%;
}

section article div {
  width: 100%;
}

section article div h3 {
  color: var(--portfolio-purple);
  font-size: 1em;
  text-align: left;
  width: 100%;
  padding: 0% 0% 2% 0%;
}

section article div h4 {
  font-size: 0.5em;
  text-align: left;
  width: 100%;
  padding: 0% 0% 2% 0%;
}

section article div p {
  color: var(--portfolio-gray);
  text-align: left;
  width: 100%;
  font-size: 0.5em;
  padding: 0% 0% 3% 0%;
}

section .caption {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*----------Page styling----------*/
.page {
  width: 100%;
  height: 100vh;
  background-color: var(--portfolio-black);
  border-top: 1px double var(--portfolio-light-blue);
  border-bottom: 1px double var(--portfolio-light-blue);
  border-radius: 1em;
  -webkit-box-shadow: 0px 0px 5px 1px var(--portfolio-light-blue);
          box-shadow: 0px 0px 5px 1px var(--portfolio-light-blue);
  font-size: 2em;
  color: var(--portfolio-blue);
}

.page div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline-color: transparent;
}

.page div.title {
  height: 20%;
  width: 100%;
}

.page div h1, .page div h2 {
  width: 80%;
  padding: 2vmin;
  text-align: center;
  line-height: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: var(--portfolio-black);
  text-shadow: 0px 0px 5px var(--portfolio-light-blue);
  font-size: 1em;
  border-top: 1px solid var(--portfolio-light-blue);
  border-bottom: 2px solid var(--portfolio-light-blue);
  border-radius: 1em;
}

.page div .title-one, .page div .title-two {
  display: block;
}

/*----------Responsive design----------*/
@media screen and (min-width: 823px) {
  h1, h2 {
    width: 100%;
  }
  header.page div.title {
    height: 40vh;
  }
  header.page nav {
    height: 60vh;
  }
  header.page ul {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 1024px) {
  /*----------Page styling----------*/
  ul {
    color: var(--portfolio-gray);
  }
  nav:hover * > span.char {
    color: transparent;
    -webkit-text-decoration-color: var(--portfolio-blue);
            text-decoration-color: var(--portfolio-blue);
    -webkit-transition: -webkit-text-decoration 2s;
    transition: -webkit-text-decoration 2s;
    transition: text-decoration 2s;
    transition: text-decoration 2s, -webkit-text-decoration 2s;
  }
  .hover-fx-subtle {
    letter-spacing: 0.05em;
    color: inherit;
  }
  :hover > .hover-fx-subtle {
    letter-spacing: 0em;
    text-shadow: none;
    -webkit-transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
            transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
    -webkit-transition: letter-spacing 2s, text-shadow 2s, color 1s;
    transition: letter-spacing 2s, text-shadow 2s, color 1s;
    color: var(--portfolio-blue);
  }
  *:hover > .hover-fx-highlight {
    letter-spacing: 0.05em;
    -webkit-transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
            transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
    -webkit-transition: letter-spacing 0.5s, color 1s;
    transition: letter-spacing 0.5s, color 1s;
    color: var(--portfolio-light-blue);
    cursor: pointer;
    text-shadow: 0px 0px 30px var(--portfolio-light-blue);
  }
  .page .first-line:hover {
    outline: 2px solid var(--portfolio-purple);
    -webkit-transition: outline 0.5s;
    transition: outline 0.5s;
  }
  .page .second-line:hover {
    outline: 1px solid var(--portfolio-blue);
    -webkit-transition: outline 0.5s;
    transition: outline 0.5s;
  }
  footer {
    color: var(--portfolio-light-blue);
    height: 12vh;
    background-color: #0B0014;
    border-top: 1px double var(--portfolio-light-blue);
    border-radius: 2em;
  }
  footer nav {
    height: 100%;
    width: 100%;
  }
  footer nav ul {
    height: 100%;
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    letter-spacing: initial;
  }
  footer nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
    color: inherit;
  }
}
/*# sourceMappingURL=home-two.css.map */