/*---------- Fonts ----------*/
@font-face {
  font-family: "sfalienencsolid";
  src: url("./assets/fonts/sfalienencsolid.woff2") format("woff2"), url("./assets/fonts/sfalienencsolid.woff") format("woff"), url("./assets//fonts/sfalienencsolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sfalienenc";
  src: url("./assets/fonts/sfalienenc.woff2") format("woff2"), url("./assets/fonts/sfalienenc.woff") format("woff"), url("./assets/fonts/sfalienenc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "streamster";
  src: url("./assets/fonts/streamster.woff2") format("woff2"), url("./assets/fonts/streamster.woff") format("woff"), url("./assets/fonts/streamster.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "scriptina";
  src: url("./assets/fonts/scriptina.woff2") format("woff2"), url("./assets/fonts/scriptina.woff") format("woff"), url("./assets/fonts/scriptina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*---------- Animations ----------*/
@keyframes cascade-in {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes cascade-out {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
  from {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes flyin {
  from {
    filter: blur(8px);
    transform: scale(2);
    opacity: 0;
  }
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes flyout {
  from {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
  to {
    filter: blur(8px);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes foldAway {
  from {
    opacity: 1;
    transform: rotateX(0);
  }
  to {
    opacity: 0;
    transform: rotateX(-20degrees);
  }
}
@keyframes unFold {
  from {
    margin-bottom: 50px;
  }
  to {
    margin-bottom: 0;
  }
}
/*---------- CSS Reset ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: unset;
}

/*----------General styles----------*/
body {
  max-width: 100vw;
  font-size: 16px;
  background-color: #0b0014;
}

/*----------Landing page styles ----------*/
.landing.page {
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#enter-button {
  padding: 2%;
  line-height: 2em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h6:hover,
#enter-button:hover,
#bio-button:hover,
#portfolio-button:hover,
#contact-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: center;
}

/*---------- Main content pages styling----------*/
.page {
  font-family: "sfalienencsolid", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
}

nav.fixed {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  color: #ee6352;
  background-color: #0b0014;
}
nav.fixed ul {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 2px solid #8ea8c3;
}
nav.fixed ul li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.fixed ul li span {
  text-align: center;
  height: max-content;
  width: 100%;
}

/*---------- Specific section stylings. Sections take up one viewport height.
For very small devices sections take up two heights. ---------- */
#bio,
#portfolio,
#contact {
  font-family: "sfalienencsolid", sans-serif;
}
#bio .title,
#portfolio .title,
#contact .title {
  height: max-content;
  margin: 12vh 10% 10%;
}
#bio .title h2,
#portfolio .title h2,
#contact .title h2 {
  color: whitesmoke;
  text-shadow: 0 0 50px whitesmoke;
  font-size: 2em;
  line-height: 100%;
}
#bio article,
#portfolio article,
#contact article {
  font-family: Orbitron, consolas, Arial, Helvetica, sans-serif;
  height: max-content;
  width: 75%;
}
#bio article div,
#portfolio article div,
#contact article div {
  width: 100%;
}
#bio article div h3,
#portfolio article div h3,
#contact article div h3 {
  color: #ee6352;
  font-size: 1.5em;
  text-align: left;
  width: 100%;
  padding: 0% 0% 5%;
}
#bio article div h4,
#portfolio article div h4,
#contact article div h4 {
  color: #8ea8c3;
  font-size: 1.2em;
  text-align: left;
  width: 100%;
  padding: 0% 0% 2%;
}
#bio article div h5,
#portfolio article div h5,
#contact article div h5 {
  color: #8ea8c3;
  font-size: 1em;
  text-align: left;
  width: 100%;
  padding: 0% 0% 2%;
}
#bio article div h6,
#portfolio article div h6,
#contact article div h6 {
  color: #7d53de;
  text-decoration: underline;
  font-style: italic;
  font-size: 0.9em;
  text-align: justify;
  width: max-content;
  padding: 0% 0% 2%;
}
#bio article div p,
#portfolio article div p,
#contact article div p {
  color: whitesmoke;
  text-align: left;
  width: 100%;
  font-size: 1em;
  padding: 0% 0% 5%;
}
#bio article ul,
#portfolio article ul,
#contact article ul {
  list-style: square inside;
  color: #8ea8c3;
  padding: 0% 0% 5%;
}
#bio article ul li,
#portfolio article ul li,
#contact article ul li {
  font-size: 0.7em;
}
#bio article .caption,
#portfolio article .caption,
#contact article .caption {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

/*---------- Homepage styles----------*/
#home {
  height: 100vh;
  font-family: sfalienencsolid, sans-serif;
  transform-origin: top;
}
#home .header-title {
  margin: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30%;
  opacity: 0;
  transition: opacity 2s ease;
}
#home .header-title .title-one {
  color: whitesmoke;
  text-shadow: 0 0 50px whitesmoke;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  height: max-content;
  margin: 1% auto;
  font-size: 3em;
  line-height: 1em;
}
#home .header-title .title-two {
  color: #8ea8c3;
  text-shadow: 0 0 50px #8ea8c3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  height: max-content;
  margin: 0 auto;
  font-size: 2em;
  line-height: 1em;
}
#home nav {
  list-style: none;
  width: 100%;
  height: 60%;
}
#home nav ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: initial;
  border: unset;
}
#home nav ul li {
  border-bottom: 1px solid #8ea8c3;
  font-size: 1.5em;
  width: 60%;
  height: max-content;
  line-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home nav ul li * {
  border: unset;
}

/*---------- Footer styles ----------*/
footer {
  display: absolute;
  position: fixed;
  bottom: -12vh;
  left: 0;
  color: #8ea8c3;
  height: 12vh;
  width: 100%;
  background-color: #0b0014;
  border-top: 1px double #8ea8c3;
  border-radius: 2em;
}
footer nav {
  height: 100%;
  width: 100%;
}
footer nav ul {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  letter-spacing: initial;
}
footer nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: inherit;
}

/*----------Responsive design----------*/
@media screen and (min-width: 823px) {
  h1,
h2 {
    width: 100%;
  }

  header.page div.title {
    height: 40vh;
  }
  header.page nav {
    height: 60vh;
  }
  header.page ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
/*---------- Selectors for JavaScript functions ----------*/
section.page:not(.on) {
  display: none;
}

.cascade-in {
  animation: cascade-in cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 1;
  color: #ee6352;
}

.cascade-out {
  animation: cascade-out cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 0;
}

.fly-in {
  animation: flyin 1s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  border: 1px solid #ee6352;
  color: #ee6352;
  background-image: url("./assets/images/downwardsbackgroundfireopal.gif");
  opacity: 1;
}

.fly-out {
  color: #8ea8c3;
  border: 1px solid #8ea8c3;
  animation: flyout 0.75s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 0;
  background-image: url("./assets/images/downwardsbackgroundmingblue.gif");
}

/*# sourceMappingURL=home.css.map */
