$background-color: #3c5870;
$primary-color: #def1fe;
$secondary-color: #6c63ff;
$tertiary-color: #abdcff;

$random-number1: (random(10) + 95)/100;
$random-number2: (random(10) + 95)/100;
$random-number3: (random(10) + 95)/100;
$random-number4: (random(10) + 95)/100;
$random-number5: (random(10) + 95)/100;
$random-number6: (random(10) + 95)/100;

@keyframes stretch_animation1 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number1, $random-number2) translateY(-0.5%) translateX(0.5%);}
  50% {transform: scale($random-number3, $random-number5) translateY(0.5%) translateX(0%);}
  75% {transform: scale($random-number4, $random-number1) translateY(-0.5%) translateX(0.5%);}
  100% {transform: scale(1, 1);}
}

@keyframes stretch_animation2 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number4, $random-number6) translateY(0%) translateX(-0.5%);}
  50% {transform: scale($random-number5, $random-number2) translateY(0%) translateX(0.5%);}
  75% {transform: scale($random-number1, $random-number3) translateY(-0.5%) translateX(0%);}
  100% {transform: scale(1, 1);};
}

@keyframes stretch_animation3 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number2, $random-number4) translateY(0.5%) translateX(0%);}
  50% {transform: scale($random-number1, $random-number3) translateY(0%) translateX(0.5%);}
  75% {transform: scale($random-number6, $random-number5) translateY(-0.5%) translateX(0%);}
  100% {transform: scale(1, 1);}
}

@keyframes stretch_animation4 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number3, $random-number1) translateY(0%) translateX(0.5%);}
  50% {transform: scale($random-number5, $random-number6) translateY(0.5%) translateX(0%);}
  75% {transform: scale($random-number2, $random-number4) translateY(0%) translateX(-0.5%);}
  100% {transform: scale(1, 1);}
}

@keyframes stretch_animation5 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number1, $random-number5) translateY(0.5%) translateX(-0.5%);}
  50% {transform: scale($random-number4, $random-number2) translateY(0%) translateX(0%);}
  75% {transform: scale($random-number3, $random-number6) translateY(0.5%) translateX(-0.5%);}
  100% {transform: scale(1, 1);}
}

@keyframes stretch_animation6 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number5, $random-number4) translateY(-0.5%) translateX(0%);}
  50% {transform: scale($random-number3, $random-number6) translateY(0%) translateX(0.5%);}
  75% {transform: scale($random-number2, $random-number1) translateY(0.5%) translateX(0.5%);}
  100% {transform: scale(1, 1);}
}

@keyframes main_text_animation {
  0% {transform: scale(1, 1);}
  25% {transform: skewX(2deg) translateY(-0.5%) translateX(0%);}
  50% {transform: rotate(1deg) translateY(0%) translateX(0.5%);}
  75% {transform: skewY(2deg) rotate(-1deg) translateY(0.5%) translateX(0.5%);}
  100% {transform: scale(1, 1);}
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $background-color;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
}

//menu section

.menu-section {
  padding: 50px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  position: fixed;
}

//menu button

.menu-button {
  filter: invert(88%) sepia(5%) saturate(1399%) hue-rotate(185deg) brightness(104%) contrast(104%) drop-shadow(3px 3px 2px $secondary-color);
  height: 100px;
  width: 100px;
  transition: 0.3s;
  

  &:hover {
    filter: invert(37%) sepia(77%) saturate(928%) hue-rotate(215deg) brightness(99%) contrast(107%) drop-shadow(0.5px 0.5px 2px $tertiary-color);
    transition: 0.3s;
  }

  &:active {
    transform: translateY(2px) translateX(2px);
  }
}

//menu background

.menu-background {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;

  .menu-items {
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    
    a {
      height: 50%;
      width: 100%;
      color: $primary-color;
      font-size: 2vw;
      text-shadow: 4px 4px $background-color;
      text-align: center;
      text-decoration: none;
    }
  }
}

.menu-svg-bottom {
  height: 100%;
  width: 100%;
  overflow: visible;
  opacity: 0;
  position: fixed;
  transform: rotate(5deg);
  fill: $secondary-color;
  visibility: hidden;
  z-index: -1;
  animation: stretch_animation1 12s ease infinite;
  transform-origin: center;
}

.menu-svg-middle {
  height: 90%;
  width: 90%;
  overflow: visible;
  opacity: 0;
  position: fixed;
  fill: $secondary-color;
  visibility: hidden;
  z-index: -1;
  animation: stretch_animation2 12s ease infinite;
  transform-origin: center;
}

.menu-svg-top {
  height: 75%;
  width: 75%;
  overflow: visible;
  opacity: 0;
  position: fixed;
  transform: rotate(120deg);
  fill: $secondary-color;
  visibility: hidden;
  z-index: -1;
  animation: stretch_animation3 12s ease infinite;
  transform-origin: center;
}

.menu-section-filler {
  height: 100px;
  width: 100px;
}

.home-section {
  padding: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  
  h1 {
    width: 50%;
    color: $primary-color;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px $secondary-color;
    animation: main_text_animation 10s ease-in-out infinite;
    transform-origin: center;
  }
}

//skills background

.skills-background {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.skills-div {
  height: 70%;
  width: 80%;
  display: flex;
  justify-content: center;

  h2 {
    font-size: 4vw;
    color: $background-color;
    text-shadow: 2px 2px $tertiary-color;
  }
}

.skills-svg-bottom {
  height: 100%;
  width: 100%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  transform: rotate(2deg);
  fill: $primary-color;
  z-index: -1;
  animation: stretch_animation4 12s ease-in-out infinite;
  transform-origin: center;
}

.skills-svg-middle {
  height: 92%;
  width: 92%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  fill: $primary-color;
  z-index: -1;
  animation: stretch_animation5 12s ease-in-out infinite;
  transform-origin: center;
}


.skills-svg-top {
  height: 85%;
  width: 85%;
  overflow: visible;
  position: absolute;
  transform: rotate(-1.5deg);
  fill: $primary-color;
  z-index: -1;
  animation: stretch_animation6 12s ease-in-out infinite;
  transform-origin: center;
}

//portfolio background

.portfolio-background {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.portfolio-div {
  height: 70%;
  width: 80%;
  display: flex;
  justify-content: center;

  h2 {
    font-size: 4vw;
    color: $background-color;
    text-shadow: 2px 2px $primary-color;
  }
}

.portfolio-svg-bottom {
  height: 100%;
  width: 100%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  transform: rotate(2deg);
  fill: $tertiary-color;
  z-index: -1;
  animation: stretch_animation2 12s ease-in-out infinite;
  transform-origin: center;
}

.portfolio-svg-middle {
  height: 92%;
  width: 92%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  fill: $tertiary-color;
  z-index: -1;
  animation: stretch_animation1 12s ease-in-out infinite;
  transform-origin: center;
}

.portfolio-svg-top {
  height: 85%;
  width: 85%;
  overflow: visible;
  position: absolute;
  transform: rotate(-1.5deg);
  fill: $tertiary-color;
  z-index: -1;
  animation: stretch_animation5 12s ease-in-out infinite;
  transform-origin: center;
}

//contact background

.contact-background {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.contact-div {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 4vw;
    color: $primary-color;
    text-shadow: 2px 2px $background-color;
  }

  p {
    width: 50%;
    padding: 2%;
    font-size: 2vw;
    color: $primary-color;
    text-align: center;
    text-shadow: 2px 2px $background-color;
  }

  a {
    z-index: 100;
    width: 50%;
    padding: 2%;
    font-size: 2vw;
    color: $primary-color;
    text-align: center;
    text-shadow: 2px 2px $background-color;
  }
}

.contact-svg-bottom {
  height: 100%;
  width: 100%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  transform: rotate(2deg);
  fill: $secondary-color;
  z-index: -1;
  animation: stretch_animation3 12s ease-in-out infinite;
  transform-origin: center;
}

.contact-svg-middle {
  height: 92%;
  width: 92%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  fill: $secondary-color;
  z-index: -1;
  animation: stretch_animation6 12s ease-in-out infinite;
  transform-origin: center;
}

.contact-svg-top {
  height: 85%;
  width: 85%;
  overflow: visible;
  position: absolute;
  transform: rotate(-1.5deg);
  fill: $secondary-color;
  z-index: -2;
  animation: stretch_animation4 12s ease-in-out infinite;
  transform-origin: center;
}





