$background-color: #3c5870;
$primary-color: #def1fe;
$secondary-color: #6c63ff;
$tertiary-color: #abdcff;

$random-number1: (random(10) + 95)/100;
$random-number2: (random(10) + 95)/100;
$random-number3: (random(10) + 95)/100;
$random-number4: (random(10) + 95)/100;
$random-number5: (random(10) + 95)/100;
$random-number6: (random(10) + 95)/100;

//svg animations
@keyframes stretch_animation1 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number1, $random-number2) translateY(-0.5%) translateX(0.5%);}
  50% {transform: scale($random-number3, $random-number5) translateY(0.5%) translateX(0%);}
  75% {transform: scale($random-number4, $random-number1) translateY(-0.5%) translateX(0.5%);}
  100% {transform: scale(1, 1);}
}

@keyframes stretch_animation2 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number4, $random-number6) translateY(0%) translateX(-0.5%);}
  50% {transform: scale($random-number5, $random-number2) translateY(0%) translateX(0.5%);}
  75% {transform: scale($random-number1, $random-number3) translateY(-0.5%) translateX(0%);}
  100% {transform: scale(1, 1);};
}

@keyframes stretch_animation3 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number2, $random-number4) translateY(0.5%) translateX(0%);}
  50% {transform: scale($random-number1, $random-number3) translateY(0%) translateX(0.5%);}
  75% {transform: scale($random-number6, $random-number5) translateY(-0.5%) translateX(0%);}
  100% {transform: scale(1, 1);}
}

@keyframes stretch_animation4 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number3, $random-number1) translateY(0%) translateX(0.5%);}
  50% {transform: scale($random-number5, $random-number6) translateY(0.5%) translateX(0%);}
  75% {transform: scale($random-number2, $random-number4) translateY(0%) translateX(-0.5%);}
  100% {transform: scale(1, 1);}
}

@keyframes stretch_animation5 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number1, $random-number5) translateY(0.5%) translateX(-0.5%);}
  50% {transform: scale($random-number4, $random-number2) translateY(0%) translateX(0%);}
  75% {transform: scale($random-number3, $random-number6) translateY(0.5%) translateX(-0.5%);}
  100% {transform: scale(1, 1);}
}

@keyframes stretch_animation6 {
  0% {transform: scale(1, 1);}
  25% {transform: scale($random-number5, $random-number4) translateY(-0.5%) translateX(0%);}
  50% {transform: scale($random-number3, $random-number6) translateY(0%) translateX(0.5%);}
  75% {transform: scale($random-number2, $random-number1) translateY(0.5%) translateX(0.5%);}
  100% {transform: scale(1, 1);}
}

//header animation
@keyframes main_text_animation {
  0% {transform: scale(1, 1);}
  25% {transform: skewX(2deg) translateY(-0.5%) translateX(0%);}
  50% {transform: rotate(1deg) translateY(0%) translateX(0.5%);}
  75% {transform: skewY(2deg) rotate(-1deg) translateY(0.5%) translateX(0.5%);}
  100% {transform: scale(1, 1);}
}

//menu text animations
@keyframes menu_text_animation1 {
  0% {transform: scale(1, 1);}
  25% {transform: skewX(1deg) translateY(-0.5%) translateX(-0.5%);}
  50% {transform: rotate(-1deg) translateY(0.5%) translateX(0.5%);}
  75% {transform: skewY(1deg) rotate(-1deg) translateY(0.5%) translateX(0%);}
  100% {transform: scale(1, 1);}
}

@keyframes menu_text_animation2 {
  0% {transform: scale(1, 1);}
  25% {transform: skewX(2deg) rotate(-1deg) translateY(0.5%) translateX(0.5%);}
  50% {transform: rotate(1deg) translateY(0%) translateX(0%);}
  75% {transform: skewY(2deg)  translateY(-1%) translateX(0.5%);}
  100% {transform: scale(1, 1);}
}

@keyframes menu_text_animation3 {
  0% {transform: scale(1, 1);}
  25% {transform: rotate(-1deg) translateY(0.5%) translateX(0.5%);}
  50% {transform: rotate(1deg) translateY(0%) translateX(0%);}
  75% {transform: skewX(2deg) rotate(-1deg) translateY(0.5%) translateX(0.5%);}
  100% {transform: scale(1, 1);}
}

@keyframes menu_text_animation4 {
  0% {transform: scale(1, 1);}
  25% {transform: skewY(2deg)  translateY(-1%) translateX(0.5%);}
  50% {transform: rotate(1deg) translateY(0%) translateX(0.5%);}
  75% {transform: rotate(1deg) translateY(0%) translateX(0.5%);}
  100% {transform: scale(1, 1);}
}


* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
  background-image: url('./assets/background.png');
  background-blend-mode: multiply;
  background-size: 100%;
}

.container-class {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

//menu background
.menu-button {
  padding: 50px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  filter: invert(88%) sepia(5%) saturate(1399%) hue-rotate(185deg) brightness(104%) contrast(104%) drop-shadow(1px 1px 1px $background-color);
  height: 100px;
  width: 100px;
  transition: 0.3s;
  z-index: 100;
  
  @media only screen and (max-width: 768px) {
    height: 50px;
    width: 50px;
  }

  &:hover {
    filter: invert(37%) sepia(77%) saturate(928%) hue-rotate(215deg) brightness(99%) contrast(107%) drop-shadow(1px 1px 1px $background-color);
    transition: 0.3s;
  }

  &:active {
    transform: translateY(2px) translateX(2px);
  }
}

//menu background
.menu-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  display: none;

  .menu-items {
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    
    a {
      height: 50%;
      width: 100%;
      color: $primary-color;
      font-size: 2vw;
      text-shadow: 2px 2px $background-color;
      text-align: center;
      text-decoration: none;
     
      &:hover {
        color: $background-color;
        text-shadow: 2px 2px $background-color;
      }

      @media only screen and (max-width: 1024px) {
        font-size: 5vw;
      }

      @media only screen and (max-width: 768px) {
        font-size: 8vw;
      }


    }
  }

  .menu-svg-bottom {
    height: 100%;
    width: 100%;
    overflow: visible;
    opacity: 0;
    position: fixed;
    transform: rotate(5deg);
    fill: $secondary-color;
    z-index: -1;
    transform-origin: center;
    display: none;
    animation: stretch_animation1 12s ease infinite;

    @media only screen and (max-width: 1024px) {
      height: 1400px;
      width: 1400px;
    }

    @media only screen and (max-width: 768px) {
      height: 800px;
      width: 800px;
    }
  }
  
  .menu-svg-middle {
    height: 90%;
    width: 90%;
    overflow: visible;
    opacity: 0;
    position: fixed;
    fill: $secondary-color;
    z-index: -1;
    transform-origin: center;
    display: none;
    animation: stretch_animation2 12s ease infinite;

    @media only screen and (max-width: 1024px) {
      height: 1200px;
      width: 1200px;
    }

    @media only screen and (max-width: 768px) {
      height: 700px;
      width: 700px;
    }
  }
  
  .menu-svg-top {
    height: 75%;
    width: 75%;
    overflow: visible;
    opacity: 0;
    position: fixed;
    transform: rotate(120deg);
    fill: $secondary-color;
    z-index: -1;
    transform-origin: center;
    display: none;
    animation: stretch_animation3 12s ease infinite;

    @media only screen and (max-width: 1024px) {
      height: 1000px;
      width: 1000px;
    }
    @media only screen and (max-width: 768px) {
      height: 600px;
      width: 600px;
    }
  }
}

#menu-item-1 {
  animation: menu_text_animation1 5s ease-in-out infinite;
}

#menu-item-2 {
  animation: menu_text_animation2 5s ease-in-out infinite;
}

#menu-item-3 {
  animation: menu_text_animation3 5s ease-in-out infinite;
}

#menu-item-4 {
  animation: menu_text_animation4 5s ease-in-out infinite;
}

//home section
.home-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  
  h1 {
    width: 50%;
    color: $primary-color;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px $secondary-color;
    transform-origin: center;
    animation: main_text_animation 10s ease-in-out infinite;

    @media only screen and (max-width: 768px) {
      font-size: 15vw;
      width: 80%;
      text-align: center;
    }

  }
}

//skills background

.skills-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
  margin: 0 auto;
  position: relative;


  @media only screen and (max-width: 768px) {
    justify-content: center;
  }


  h2 {
    font-size: 8vw;
    color: $background-color;
    text-shadow: 2px 2px $tertiary-color;
    padding: 20px;
    animation: menu_text_animation1 5s ease-in-out infinite;

    @media only screen and (max-width: 768px) {
      font-size: 10vw;
    }
  }
}

#skills-icons {
  color: $background-color;
  text-shadow: 2px 2px $tertiary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  
  i {
    font-size: 10em;
    padding: 25px;

    @media only screen and (max-width: 1300px) {
      font-size: 6em;
      padding: 10px;
    }

    @media only screen and (max-width: 768px) {
      font-size: 3em;
      padding: 5px;
    }

    #skills-1 {
      animation: menu_text_animation3 5s ease-in-out infinite;
    }

    #skills-2 {
      animation: menu_text_animation2 5s ease-in-out infinite;
    }

    #skills-3 {
      animation: menu_text_animation1 5s ease-in-out infinite;
    }

    #skills-4 {
      animation: menu_text_animation4 5s ease-in-out infinite;
    }

    #skills-5 {
      animation: menu_text_animation5 5s ease-in-out infinite;
    }

    #skills-6 {
      animation: menu_text_animation6 5s ease-in-out infinite;    
    }
  }
}

.skills-svg-bottom {
  height: 100%;
  width: 100%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  transform: rotate(2deg);
  fill: $primary-color;
  z-index: -1;
  animation: stretch_animation4 12s ease-in-out infinite;
  transform-origin: center;

  @media only screen and (max-width: 1450px) {
    height: 1.5*100%;
    width: 1.5*100%;
  }

  @media only screen and (max-width: 768px) {
    height: 2.75*100%;
    width: 2.75*100%;
  }
}

.skills-svg-middle {
  height: 92%;
  width: 92%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  fill: $primary-color;
  z-index: -1;
  animation: stretch_animation5 12s ease-in-out infinite;
  transform-origin: center;

  @media only screen and (max-width: 1450px) {
    height: 1.5*92%;
    width: 1.5*92%;
  }

  @media only screen and (max-width: 768px) {
    height: 2.75*92%;
    width: 2.75*92%;
  }
}

.skills-svg-top {
  height: 85%;
  width: 85%;
  overflow: visible;
  position: absolute;
  transform: rotate(-1.5deg);
  fill: $primary-color;
  z-index: -1;
  animation: stretch_animation6 12s ease-in-out infinite;
  transform-origin: center;

  @media only screen and (max-width: 1450px) {
    height: 1.5*85%;
    width: 1.5*85%;
  }

  @media only screen and (max-width: 768px) {
    height: 2.75*85%;
    width: 2.75*85%;
  }
}

//portfolio background

.portfolio-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
  justify-content: center;
  margin: 0 auto;
  position: relative;

  h2 {
    font-size: 8vw;
    color: $background-color;
    text-shadow: 2px 2px $primary-color;
    padding: 20px;
    animation: menu_text_animation1 5s ease-in-out infinite;

    @media only screen and (max-width: 768px) {
      font-size: 10vw;
      margin-top: 0%;
    }
  }


  .portfolio-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: flex-start;
    }

    .portfolio-tab {
      background-color: #c5e6ff;
      width: 35vh;
      margin: 30px;
      height: 35vh;
      display: flex;
      justify-content: center;
      border-radius: 25px;

      @media only screen and (max-width: 1700px) {
        width: 27vh;
        margin: 22px;
        height: 27vh;
      }

      @media only screen and (max-width: 1300px) {
        width: 25vh;
        margin: 15px;
        height: 25vh;
      }
      
      @media only screen and (max-width: 768px) {
        width: 40vh;
        margin: 15px;
        height: 15vh;
      }

      h3 {
        font-size: 25px;
        color: $background-color;
        text-shadow: 2px 2px $primary-color;
        padding: 5px;
        margin-top: 2%;
    
        @media only screen and (max-width: 768px) {
          font-size: 20px;
        }
      }

      p {
        font-size: 15px;
        color: $background-color;
        padding: 5px;
        margin-top: 2%;
    
        @media only screen and (max-width: 768px) {
          margin-top: 0%;
          font-size: 10px;
        }
      }

      .portfolio-inner {
        margin: 30px;
        background-color: $primary-color;
        border-radius: 25px;

        @media only screen and (max-width: 768px) {
          margin: 20px;
        }
      }
    }

    #portfolio-1-outer {
      animation: menu_text_animation3 5s ease-in-out infinite;
    }

    #portfolio-1-inner {
      animation: menu_text_animation2 5s ease-in-out infinite;
    }

    #portfolio-2-outer {
      animation: menu_text_animation1 5s ease-in-out infinite;
    }

    #portfolio-2-inner {
      animation: menu_text_animation4 5s ease-in-out infinite;
    }

    #portfolio-3-outer {
      animation: menu_text_animation5 5s ease-in-out infinite;
    }

    #portfolio-3-inner {
      animation: menu_text_animation6 5s ease-in-out infinite;    
    }
  }
}

.portfolio-svg-bottom {
  height: 100%;
  width: 100%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  transform: rotate(2deg);
  fill: $tertiary-color;
  z-index: -1;
  animation: stretch_animation2 12s ease-in-out infinite;
  transform-origin: center;
  
  @media only screen and (max-width: 1450px) {
    height: 1.5*115%;
    width: 1.5*115%;
  }

  @media only screen and (max-width: 768px) {
    height: 3*115%;
    width: 3*115%;
  }
}

.portfolio-svg-middle {
  height: 92%;
  width: 92%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  fill: $tertiary-color;
  z-index: -1;
  animation: stretch_animation1 12s ease-in-out infinite;
  transform-origin: center;
  
  @media only screen and (max-width: 1450px) {
    height: 1.5*106%;
    width: 1.5*106%;
  }

  @media only screen and (max-width: 768px) {
    height: 3*106%;
    width: 3*106%;
  }
}

.portfolio-svg-top {
  height: 85%;
  width: 85%;
  overflow: visible;
  position: absolute;
  transform: rotate(-1.5deg);
  fill: $tertiary-color;
  z-index: -1;
  animation: stretch_animation5 12s ease-in-out infinite;
  transform-origin: center;

  @media only screen and (max-width: 1450px) {
    height: 1.5*95%;
    width: 1.5*95%;
  }

  @media only screen and (max-width: 768px) {
    height: 3*95%;
    width: 3*95%;
  }
}

//contact background
.contact-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.contact-background {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.contact-div {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 8vw;
    color: $primary-color;
    text-shadow: 2px 2px $background-color;
    animation: menu_text_animation5 5s ease-in-out infinite;

    @media only screen and (max-width: 768px) {
      font-size: 10vw;
    }
  }

  p {
    width: 50%;
    color: $primary-color;
    text-align: center;
    text-shadow: 2px 2px $background-color;
    font-size: 2vw;
    padding: 5px;
    margin-top: 2%;
    animation: menu_text_animation2 5s ease-in-out infinite;

    @media only screen and (max-width: 768px) {
      font-size: 10px;
    }
  }
}

.contact-svg-bottom {
  height: 100%;
  width: 100%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  transform: rotate(2deg);
  fill: $secondary-color;
  z-index: -1;
  animation: stretch_animation3 12s ease-in-out infinite;
  transform-origin: center;

  @media only screen and (max-width: 1450px) {
    height: 1.5*100%;
    width: 1.5*100%;
  }

  @media only screen and (max-width: 768px) {
    height: 2.75*100%;
    width: 2.75*100%;
  }
}

.contact-svg-middle {
  height: 92%;
  width: 92%;
  overflow: visible;
  opacity: 0.5;
  position: absolute;
  fill: $secondary-color;
  z-index: -1;
  animation: stretch_animation6 12s ease-in-out infinite;
  transform-origin: center;

  @media only screen and (max-width: 1450px) {
    height: 1.5*92%;
    width: 1.5*92%;
  }

  @media only screen and (max-width: 768px) {
    height: 2.75*92%;
    width: 2.75*92%;
  }
}

.contact-svg-top {
  height: 85%;
  width: 85%;
  overflow: visible;
  position: absolute;
  transform: rotate(-1.5deg);
  fill: $secondary-color;
  z-index: -2;
  animation: stretch_animation4 12s ease-in-out infinite;
  transform-origin: center;

  @media only screen and (max-width: 1450px) {
    height: 1.5*85%;
    width: 1.5*85%;
  }

  @media only screen and (max-width: 768px) {
    height: 2.75*85%;
    width: 2.75*85%;
  }
}

#contact-icons {
  color: $primary-color;
  text-shadow: 2px 2px $background-color;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  
  i {
    font-size: 10em;
    padding: 50px;

    @media only screen and (max-width: 1300px) {
      font-size: 5em;
      padding: 20px;
    }

    @media only screen and (max-width: 768px) {
      font-size: 2em;
      padding: 10px;
    }
  }
}

#contact-1 {
  animation: menu_text_animation3 5s ease-in-out infinite;
}

#contact-2 {
  animation: menu_text_animation2 5s ease-in-out infinite;
}

#contact-3 {
  animation: menu_text_animation1 5s ease-in-out infinite;
}
