/* Portfolio site colors */

/* Borders */
$cadet-grey: #8ea8c3;

/* Links */
$fire-opal: #ee6352;
$light-green: #7cea9c;
$key-lime: #e6f9af;
$maximum-yellow: #f5f749;
$purple-pizzazz: #e952de;
$electric-blue: #56eef4;
$azure: #357ded;

// Black and white:

$cultured: whitesmoke;
$xiketic: #0b0014;

/* Other colors */

$onyx: #363946;
$queen-blue: #406e8e;
$dark-byzantium: #5b2e48;
$slate-blue: #7d53de;
$colorywolor: rgba(245, 245, 245, 0.158);
