
/*----------Fonts----------*/

@font-face {
  font-family: "sfalienencsolid";
  src: url("./assets/fonts/sfalienencsolid.woff2") format("woff2"),
    url("./assets//fonts/sfalienencsolid.woff") format("woff"),
    url("./assets//fonts/sfalienencsolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sfalienenc";
  src: url("./assets/fonts/sfalienenc.woff2") format("woff2"), url("./assets//fonts/sfalienenc.woff") format("woff"),
    url("./assets//fonts/sfalienenc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {

  font-family: "streamster";
  src: url("./assets/fonts/streamster.woff2") format("woff2"), url("./assets//fonts/streamster.woff") format("woff"),
    url("./assets//fonts/streamster.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "scriptina";
  src: url("./assets/fonts/scriptina.woff2") format("woff2"), url("./assets//fonts/scriptina.woff") format("woff"),
    url("./assets//fonts/scriptina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*---------- ----------*/

/*----------CSS Reset----------*/

* {
  --portfolio-light-blue: #8ea8c3;
  --portfolio-black: #0b0014;
  --portfolio-gray: #363946;
  --portfolio-blue: #406e8e;
  --portfolio-purple: #5b2e48;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // outline: 1px greenyellow dotted;
}
/*---------- ----------*/

/*----------Styling for hyperlinks and special characters----------*/

//  My chosen font doesn't have much in it!! //

.char {
  color: transparent;
  text-decoration: underline;
  text-decoration-color: var(--portfolio-blue);
}

@media screen and (min-width: 823px) {
  span.char {
    text-decoration-color: var(--portfolio-purple);
    // font-size: 1em;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/*---------- ----------*/

/*----------General styles----------*/

body {
  max-width: 100vw;
  background-color: var(--portfolio-black);
  //  I've given the body this background image so I can see where it peeks through
  // background-image: linear-gradient(to bottom right, yellow 0%, yellow 4%, black 5%, black 9%, yellow 10%,
  // yellow 14%, black 15%, black 19%, yellow 20%,
  // yellow 24%, black 25%, black 29%, yellow 30%,
  // yellow 34%, black 35%, black 39%, yellow 40%,
  // yellow 44%, black 45%, black 49%, yellow 50%,
  // yellow 54%, black 55%, black 59%, yellow 60%,
  // yellow 64%, black 65%, black 69%, yellow 70%,
  // yellow 74%, black 75%, black 79%, yellow 80%,
  // yellow 84%, black 85%, black 89%, yellow 90%,
  // yellow 94%, black 95%, black 99%, yellow 100%);
  font-size: 16px;
  color: var(--portfolio-black);
}
/*---------- ----------*/

/*----------Header and navbar styles----------*/

header {
  font-family: "sfalienencsolid", sans-serif;

  .title {
    height: 50vh;
  }

  h1 {
    background-image: linear-gradient(#0b0014bb 0%, #0b0014bb 100%),
      url("https://media.giphy.com/media/QAmzAMUA4rOIkG0Rdv/giphy.gif");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

  nav {
    width: 100%;
    height: 100%;

    ul {
      width: 100%;
      height: 80%;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      letter-spacing: initial;

      li {
        width: 100%;
        height: max-content;
        line-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

/*---------- ----------*/

/*---------- Specific section stylings. Sections take up one viewport height.
For very small devices sections take up two heights. ---------- */

section {
  font-family: "sfalienencsolid", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &.section-three {
    height: 88vh;
    // background-image: url(https://media.giphy.com/media/iI4vhciiVh2b3j9sgo/giphy.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  article {
    font-family: consolas, Arial, Helvetica, sans-serif;
    height: 60%;
    width: 75%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;

    div {
      width: 100%;

      h3 {
        color: var(--portfolio-purple);
        font-size: 1em;
        text-align: left;
        width: 100%;
        padding: 0% 0% 2%;
      }

      h4 {
        font-size: 0.5em;
        text-align: left;
        width: 100%;
        padding: 0% 0% 2%;
      }

      p {
        color: var(--portfolio-gray);
        text-align: left;
        width: 100%;
        font-size: 0.5em;
        padding: 0% 0% 3%;
      }
    }
  }

  .caption {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

/*----------Page styling----------*/

.page {
  width: 100%;
  height: 100vh;
  background-color: var(--portfolio-black);
  border-top: 1px double var(--portfolio-light-blue);
  border-bottom: 1px double var(--portfolio-light-blue);
  border-radius: 1em;
  box-shadow: 0 0 5px 1px var(--portfolio-light-blue);
  font-size: 2em;
  color: var(--portfolio-blue);

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline-color: transparent;

    &.title {
      height: 20%;
      width: 100%;
    }

    h1,
    h2 {
      width: 80%;
      padding: 2vmin;
      text-align: center;
      line-height: 100%;
      height: max-content;
      color: var(--portfolio-black);
      text-shadow: 0 0 5px var(--portfolio-light-blue);
      font-size: 1em;
      border-top: 1px solid var(--portfolio-light-blue);
      border-bottom: 2px solid var(--portfolio-light-blue);
      border-radius: 1em;
    }

    .title-one,
    .title-two {
      display: block;
    }
  }
}

/*----------Responsive design----------*/

@media screen and (min-width: 823px) {
  h1,
  h2 {
    width: 100%;
  }

  header.page {
    div.title {
      height: 40vh;
    }

    nav {
      height: 60vh;
    }

    ul {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}

@media screen and (min-width: 1024px) {
  /*----------Page styling----------*/

  // .page {
  // 	width: 100%;
  //   height: 100vh;
  // 	background-color: var(--portfolio-black);
  // 	border-top: 1px double var(--portfolio-light-blue);
  // 	border-bottom: 1px double var(--portfolio-light-blue);
  //   border-radius: 1em;
  //   box-shadow: 0px 0px 5px 1px var(--portfolio-light-blue);
  //   font-size: 2em;
  //   color: var(--portfolio-blue);

  //   div {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }

  ul {
    color: var(--portfolio-gray);
  }

  nav:hover * > span.char {
    color: transparent;
    text-decoration-color: var(--portfolio-blue);
    transition: text-decoration 2s;
  }

  .hover-fx-subtle {
    letter-spacing: 0.05em;
    color: inherit;
  }

  :hover > .hover-fx-subtle {
    // display: inherit;
    letter-spacing: 0;
    text-shadow: none;
    transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
    transition: letter-spacing 2s, text-shadow 2s, color 1s;
    color: var(--portfolio-blue);
  }

  *:hover > .hover-fx-highlight {
    letter-spacing: 0.05em;
    transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
    transition: letter-spacing 0.5s, color 1s;
    color: var(--portfolio-light-blue);
    cursor: pointer;
    text-shadow: 0 0 30px var(--portfolio-light-blue);
  }

  .page .first-line:hover {
    outline: 2px solid var(--portfolio-purple);
    transition: outline 0.5s;
  }

  .page .second-line:hover {
    outline: 1px solid var(--portfolio-blue);
    transition: outline 0.5s;
  }

  footer {
    color: var(--portfolio-light-blue);
    height: 12vh;
    background-color: #0b0014;
    border-top: 1px double var(--portfolio-light-blue);
    border-radius: 2em;

    nav {
      height: 100%;
      width: 100%;

      ul {
        height: 100%;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        letter-spacing: initial;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;
          color: inherit;
        }
      }
    }
  }
}

