@import "colors";
@import "fonts";
@import "animations";

/*---------- CSS Reset ----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: unset;
  }
}

/*----------General styles----------*/

body {
  max-width: 100vw;
  font-size: 16px;
  background-color: $xiketic;
}

/*----------Landing page styles ----------*/

.landing.page {
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#enter-button {
  padding: 2%;
  line-height: 2em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h6:hover,
#enter-button:hover,
#bio-button:hover,
#portfolio-button:hover,
#contact-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: center;
}

/*---------- Main content pages styling----------*/

.page {
  font-family: "sfalienencsolid", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
}

nav.fixed {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  color: $fire-opal;
  background-color: #0b0014;

  ul {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 2px solid $cadet-grey;

    li {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        text-align: center;
        height: max-content;
        width: 100%;
      }
    }
  }
}

/*---------- Specific section stylings. Sections take up one viewport height.
For very small devices sections take up two heights. ---------- */

#bio,
#portfolio,
#contact {
  font-family: "sfalienencsolid", sans-serif;

  .title {
    height: max-content;
    margin: 12vh 10% 10%;

    h2 {
      color: $cultured;
      text-shadow: 0 0 50px $cultured;
      font-size: 2em;
      line-height: 100%;
    }
  }

  article {
    font-family: Orbitron, consolas, Arial, Helvetica, sans-serif;
    height: max-content;
    width: 75%;

    div {
      width: 100%;

      h3 {
        color: $fire-opal;
        font-size: 1.5em;
        text-align: left;
        width: 100%;
        padding: 0% 0% 5%;
      }

      h4 {
        color: $cadet-grey;
        font-size: 1.2em;
        text-align: left;
        width: 100%;
        padding: 0% 0% 2%;
      }

      h5 {
        color: $cadet-grey;
        font-size: 1em;
        text-align: left;
        width: 100%;
        padding: 0% 0% 2%;
      }

      h6 {
        color: $slate-blue;
        text-decoration: underline;
        font-style: italic;
        font-size: 0.9em;
        text-align: justify;
        width: max-content;
        padding: 0% 0% 2%;
      }

      p {
        color: $cultured;
        text-align: left;
        width: 100%;
        font-size: 1em;
        padding: 0% 0% 5%;
      }
    }

    ul {
      list-style: square inside;
      color: $cadet-grey;
      padding: 0% 0% 5%;

      li {
        font-size: 0.7em;
      }
    }

    .caption {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
    }
  }
}

/*---------- Homepage styles----------*/

#home {
  height: 100vh;
  font-family: sfalienencsolid, sans-serif;
  transform-origin: top;

  .header-title {
    margin: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30%;
    opacity: 0;
    transition: opacity 2s ease;

    .title-one {
      color: $cultured;
      text-shadow: 0 0 50px $cultured;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
      height: max-content;
      margin: 1% auto;
      font-size: 3em;
      line-height: 1em;
    }

    .title-two {
      color: $cadet-grey;
      text-shadow: 0 0 50px $cadet-grey;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
      height: max-content;
      margin: 0 auto;
      font-size: 2em;
      line-height: 1em;
    }
  }

  nav {
    list-style: none;
    width: 100%;
    height: 60%;

    ul {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      letter-spacing: initial;
      border: unset;

      li {
        border-bottom: 1px solid $cadet-grey;
        font-size: 1.5em;
        width: 60%;
        height: max-content;
        line-height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        * {
          border: unset;
        }
      }
    }
  }
}

/*---------- Footer styles ----------*/

footer {
  display: absolute;
  position: fixed;
  bottom: -12vh;
  left: 0;
  color: $cadet-grey;
  height: 12vh;
  width: 100%;
  background-color: #0b0014;
  border-top: 1px double $cadet-grey;
  border-radius: 2em;

  nav {
    height: 100%;
    width: 100%;

    ul {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      letter-spacing: initial;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        color: inherit;
      }
    }
  }
}

/*----------Responsive design----------*/

@media screen and (min-width: 823px) {
  h1,
  h2 {
    width: 100%;
  }

  header.page {
    div.title {
      height: 40vh;
    }

    nav {
      height: 60vh;
    }

    ul {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}

// @media screen and (min-width: 1024px) {
//   /*----------Page styling----------*/

//   // .page {
//   // 	width: 100%;
//   //   height: 100vh;
//   // 	background-color: $xiketic;
//   // 	border-top: 1px double $cadet-grey;
//   // 	border-bottom: 1px double $cadet-grey;
//   //   border-radius: 1em;
//   //   box-shadow: 0px 0px 5px 1px $cadet-grey;
//   //   font-size: 2em;
//   //   color: var$queen-blue;

//   //   div {
//   //     display: flex;
//   //     flex-direction: column;
//   //     align-items: center;
//   //     justify-content: center;
//   //   }
//   // }

//   ul {
//     color: $onyx;
//   }

//   nav:hover * > span.char {
//     color: transparent;
//     text-decoration-color: $queen-blue;
//     transition: text-decoration 2s;
//   }

//   .hover-fx-subtle {
//     letter-spacing: 0.05em;
//     color: inherit;
//   }

//   :hover > .hover-fx-subtle {
//     // display: inherit;
//     letter-spacing: 0;
//     text-shadow: none;
//     transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
//     transition: letter-spacing 2s, text-shadow 2s, color 2s;
//     color: $queen-blue;
//   }

//   *:hover > .hover-fx-highlight {
//     letter-spacing: 0.05em;
//     transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
//     transition: letter-spacing 0.5s, color 1s;
//     color: $cadet-grey;
//     cursor: pointer;
//     text-shadow: 0 0 30px $cadet-grey;
//   }

//   .page .first-line:hover {
//     outline: 2px solid $dark-byzantium;
//     transition: outline 0.5s;
//   }

//   .page .second-line:hover {
//     outline: 1px solid $queen-blue;
//     transition: outline 0.5s;
//   }
// }

/*---------- Selectors for JavaScript functions ----------*/

section.page:not(.on) {
  display: none;
}

.cascade-in {
  animation: cascade-in cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 1;
  color: $fire-opal;
}

.cascade-out {
  animation: cascade-out cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 0;
}

.fly-in {
  animation: flyin 1s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  border: 1px solid $fire-opal;
  color: $fire-opal;
  background-image: url("./assets/images/downwardsbackgroundfireopal.gif");
  opacity: 1;
}

.fly-out {
  color: #8ea8c3;
  border: 1px solid #8ea8c3;
  animation: flyout 0.75s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1;
  opacity: 0;
  background-image: url("./assets/images/downwardsbackgroundmingblue.gif");
}
