$colour: purple;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(./img/background2.jpg);
    background-size: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 10px;
    grid-template-areas:
    "header header header header header"
    "navb navb navb navb navb"
    "article article article article article"
    "article article article article article"
    "aside aside aside aside aside"
    "footer footer footer footer footer"
}

body h3 {
    padding: 16px;
}

header {
    grid-area: header;
    border-radius: 10px;
    border: solid 1px $colour;
    background: url(./img/background3.jpg);
}

header h1 {
    text-align: center;
    margin: 40px;
}

.dt {
    display: none;
}

#navb {
    grid-area: navb;
    background-color: white;
    border: $colour solid 1px;
    border-top: solid $colour 20px;
    border-radius: 10px;
}

#navb img {
    display: none;
}

#menu-button {
    font-size: 28px;
    float: right;
    cursor: pointer;
    margin: 8px 0px;
}

.hide {
    display: none;
  }
  
  .show {
    display: block;
}

article {
    grid-area: article;
    background-color: white;
    border: $colour solid 1px;
    border-top: solid $colour 20px;
    border-radius: 10px;
}

aside .social i {
    color: $colour;
    padding: 8px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
}
   
aside { 
    grid-area: aside;
    background-color: white;
    border: $colour solid 1px;
    border-top: solid $colour 20px;
    border-radius: 10px;
}
  
footer {
    grid-area: footer;
    background-color: black;
    border-radius: 10px;
    border: solid 1px $colour;
}

footer {
    width: auto;
    font-size: 12px;
    color: white;
    padding: 25px;
    background: url(./img/background3.jpg);
}

#navb a {
    display: block;
    padding: 8px;
}

@media only screen and (min-width: 780px) {
    body {
        background: url(./img/background2.jpg);
        background-size: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        min-height: 50vh;
        max-width: 80%;
        gap: 20px;
        margin: 0 auto;
        grid-template-areas:
        "header header header header header"
        "navb navb navb navb navb"
        "article article article article aside"
        "article article article article aside"
        "article article article article aside"
        "footer footer footer footer footer"
    }

    body h3 {
        padding: 16px;
        position: relative;
    }

    header {
        grid-area: header;
        border-radius: 10px;
        border: solid 1px $colour;
        background: url(./img/background3.jpg);
    }
    
    header h1 {
        text-align: center;  
    }

    .mob {
        display: none;
    }

    .dt {
        display: block;
    }

    #navb {
        grid-area: navb;
        background-color: white;
        border: $colour solid 1px;
        border-top: solid $colour 20px;
        border-radius: 10px;
    }

    #navb a {
        padding: 8px;
    }

    #menu-button {
        font-size: 28px;
        float: right;
        cursor: pointer;
        margin: $base-margin * 2 0px;
    }

    .hide {
        display: none;
      }
      
      .show {
        display: block;
    }

    article {
        grid-area: article;
        background-color: white;
        border: $colour solid 1px;
        border-top: solid $colour 20px;
        border-radius: 10px;
    }

    aside { 
        grid-area: aside;
        background-color: white;
        border: $colour solid 1px;
        border-top: solid $colour 20px;
        border-radius: 10px;
    }

    aside .social i {
        color: $colour;
        padding: 8px;
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 4%;
    }
   
    footer {
        grid-area: footer;
        border-radius: 10px;
        border: solid 1px $colour;
        background: url(./img/background3.jpg);
    }

}

