*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

body {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 10px;
    grid-template-areas:
    "header header header header header"
    "navb navb navb navb navb"
    "article article article article article"
    "article article article article article"
    "footer footer footer footer footer"
}

body h3 {
    padding: 16px;
}
#header {
    grid-area: header;
    background-color: skyblue;
  }
#header h1 {
    color: white;
    text-align: center;
}


#navb {
    grid-area: navb;
    background-color: white;
  }


#article {
    grid-area: article;
    background-color: white;
  }
   

#aside { 
    grid-area: aside;
    background-color: white;
    display: none;
  }
#aside h3 {
    text-align: center;
} 
   
#footer {
    grid-area: footer;
    background-color: black;
  }

#navb p {
    background-color: skyblue;
    color: skyblue;
}

#article p {
    background-color: skyblue;
    color: skyblue;
}

#aside p {
    background-color: skyblue;
    color: skyblue;
}

    .background {
    display: none;
}

@media only screen and (min-width: 780px) {
body{
    background: url("./img/background.jpg") no-repeat;
    background-size: 100%;
    }

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 50vh;
    max-width: 80%;
    gap: 20px;
    grid-template-areas:
    "header header header header header"
    "navb navb navb navb navb"
    "article article article article aside"
    "article article article article aside"
    "article article article article aside"
    "footer footer footer footer footer"

}

body h3 {
    padding: 16px;
}

#header {
    grid-area: header;
    background-color: skyblue;
  }
    
  #header h1 {
    color: white;
    text-align: center;
}

#navb {
    grid-area: navb;
    background-color: white;
  }


#article {
    grid-area: article;
    background-color: white;
  }
   

#aside { 
    grid-area: aside;
    background-color: white;
    display: block;
  }
   
#footer {
    grid-area: footer;
    background-color: black;
  }

#navb p {
    background-color: skyblue;
    color: skyblue;
}

#article p {
    background-color: skyblue;
    color: skyblue;
}

#aside p {
    background-color: skyblue;
    color: skyblue;
}

}

@media only screen and (min-width: 550px) {
 
}