* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("./img/background2.jpg");
  height: 100vh;
  background: contain;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landing h1 {
  font-size: 50px;
  padding: 20px;
}

.landing h3 {
  font-size: 30px;
  padding: 20px;
}

.landing {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 60%;
  padding: 10px;
  text-align: center;
}

.landing {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;   
}

body {
  background-image: url("./img/background2.jpg");
  background: contain; 
}

nav {
  position: sticky;
  top: 0;
  background-color: purple;
  padding: 0;
  color: black;
  letter-spacing: 1px;
  font-size: 24px;
  text-transform: uppercase;
  font-style: none;
}

.menu {
  margin: 0;
  overflow: hidden; 
}

.menu a {
  text-decoration: none;
  color: White;
  font-size: 14px;
  letter-spacing: 1px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 16px 24px;
}

.menu a:hover {
  background: rgb(250, 10, 130);
  color: white;
}

.about p {
  color: grey;
  margin: 0 auto;
  padding: 24px;
  text-align: justify;
  font-size: 20px;    
}

.about {
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
}

.about h1 {
  color: black;
  text-align: center;
  align-self: center;
  padding-top: 50px;
}

.projects {
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}

.projects h1 {
  padding: 20px;
}

.projects h3 {
  color: grey;
  padding: 30px;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 60%;
  gap: 10px;
  grid-template-areas:
    "project1 project2"
    "project3 project4"
    "project5 project6";
}

.grid h1 {
  color: white;
  text-align: center;
  align-self: center;
}

.project1 {
  grid-area: project1;
  border: 2px solid purple;
  background-image: url("./img/background3.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project1:hover {
  background-image: none;
  background-color: rgb(250, 10, 130);
}

.project2 {
  grid-area: project2;
  border: 2px solid purple;
  background-image: url("./img/background3.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project2:hover {
  background-image: none;
  background-color: rgb(250, 10, 130);
}

.project3 {
  grid-area: project3;
  border: 2px solid purple;
  background-image: url("./img/background3.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project3:hover {
  background-image: none;
  background-color: rgb(250, 10, 130);
}

.project4 {
  grid-area: project4;
  border: 2px solid purple;
  background-image: url("./img/background3.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project4:hover {
  background-image: none;
  background-color: rgb(250, 10, 130);
}

.project5 {
  grid-area: project5;
  border: 2px solid purple;
  background-image: url("./img/background3.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project5:hover {
  background-image: none;
  background-color: rgb(250, 10, 130);
}

.project6 {
  grid-area: project6;
  border: 2px solid purple;
  background-image: url("./img/background3.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project6:hover {
  background-image: none;
  background-color: rgb(250, 10, 130);
}

.skills {
  background-color: purple;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skills i {
  color: white;
  font-size: 40px;
  padding: 20px;
}

.skills h1 {
  color: white;
  display: block;
  text-align: justify;
  padding: 20px;
}

.skills h3 {
  color: white;
  display: block;
  text-align: justify;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}


.social {
  background-color: white;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.social i {
  font-style: none;
  color: purple;
  font-size: 100px;
  padding: 20px;
}

.social i:hover {
  color: rgb(250, 10, 130);
}

.social a {
  text-decoration: none;
}

.social h1 {
  color: purple;
  padding: 30px;
}

.social h3 {
  color: purple;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer {
  background-color: black;
  max-width: 100%;
  margin: 0 auto;
  font-size: 12px;
  color: white;
  padding: 25px;
  background: url("./img/background3.jpg");
  height: 200px;
}

@media only screen and (min-width: 780px) {
  body {
    background-image: url("./img/background2.jpg");
    background: contain;
  }

  nav {
    position: sticky;
    top: 0;
    background-color: purple;
    padding: 0;
    color: black;
    letter-spacing: 1px;
    font-size: 24px;
    text-transform: uppercase;
    font-style: none;
  }

  .menu {
    margin: 0;
    overflow: hidden; 
  }

  .menu a {
    text-decoration: none;
    color: White;
    font-size: 18px;
    letter-spacing: 1px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 16px 24px;
  }

  .menu a:hover {
    background: rgb(250, 10, 130);
    color: white;
  }

  .about p {
    color: grey;
    margin: 0 auto;
    padding: 24px;
    text-align: justify;
    font-size: 20px;    
  }

  .about {
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
  }

  .projects {
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
  }

  .projects h1 {
    padding: 30px;
  }

  .projects h3 {
    color: grey;
    padding: 30px;
  }

  .grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 50vh;
    width: 60%;
    gap: 10px;
    grid-template-areas:
      "project1 project2 project2 project3"
      "project1 project2 project2 project3"
      "project4 project4 project5 project6"
      "project4 project4 project5 project6"; 
  }

  .grid h1 {
    color: white;
    text-align: center;
    align-self: center;
  }

  .project1 {
    grid-area: project1;
    border: 2px solid purple;
    background-image: url("./img/background3.jpg");
    background-size: contain;
  }

  .project1:hover {
    background-image: none;
    background-color: rgb(250, 10, 130);
  }

  .project2 {
    grid-area: project2;
    border: 2px solid purple;
    background-image: url("./img/background3.jpg");
    background-size: contain;
  }

  .project2:hover {
    background-image: none;
    background-color: rgb(250, 10, 130);
  }

  .project3 {
    grid-area: project3;
    border: 2px solid purple;
    background-image: url("./img/background3.jpg");
    background-size: contain;
  }

  .project3:hover {
    background-image: none;
    background-color: rgb(250, 10, 130);
  }

  .project4 {
    grid-area: project4;
    border: 2px solid purple;
    background-image: url("./img/background3.jpg");
    background-size: contain;
  }

  .project4:hover {
    background-image: none;
    background-color: rgb(250, 10, 130);
  }

  .project5 {
    grid-area: project5;
    border: 2px solid purple;
    background-image: url("./img/background3.jpg");
    background-size: contain;
  }

  .project5:hover {
    background-image: none;
    background-color: rgb(250, 10, 130);
  }

  .project6 {
    grid-area: project6;
    border: 2px solid purple;
    background-image: url("./img/background3.jpg");
    background-size: contain;
  }

  .project6:hover {
    background-image: none;
    background-color: rgb(250, 10, 130);
  }

  .skills {
    background-color: purple;
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .skills i {
    color: white;
    font-size: 100px;
    padding: 20px;
  }

  .skills h1 {
    color: white;
    display: block;
    text-align: justify;
    padding: 30px;
  }

  .skills h3 {
    color: white;
    display: block;
    text-align: justify;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .social {
    background-color: white;
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .social i {
    font-style: none;
    color: purple;
    font-size: 100px;
    padding: 20px;
  }

  .social i:hover {
    color: rgb(250, 10, 130);
  }

  .social a {
    text-decoration: none;
  }

  .social h1 {
    color: purple;
    padding: 30px;
  }

  .social h3 {
    color: purple;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  footer {
    background-color: black;
    max-width: 100%;
    margin: 0 auto;
    font-size: 12px;
    color: white;
    padding: 25px;
    background: url("./img/background3.jpg");
    height: 200px;
  }
}
