//------------------------------------//
//--------------VARIABLES--------------//
//------------------------------------//
// GENERAL COLOURS
$dark-colour: #111;
$light-colour: #f4f4f4;
$colour1: #5fa4dc;
$colour4: #a7adba;

// ICON COLOURS
$html5: #f06529;
$css3: #2965f1;
$sass: #cd6799;
$js: #f0db4f;
$git: #f1502f;
$npm: #cc3534;
$react: #61dbfb;
$bootstrap: #563d7c;
$node: #3c873a;
$java: #5382a1;

// IMAGES
$cover-image: url('https://source.unsplash.com/1600x900/?software,developer,male');
$project1-image: url('https://source.unsplash.com/1600x900/?portfolio,website');
$project2-image: url('https://source.unsplash.com/1600x900/?application,form');
$project3-image: url('https://source.unsplash.com/1600x900/?cinema');
$project4-image: url('https://source.unsplash.com/1600x900/?news');
$project5-image: url('https://source.unsplash.com/1600x900/?gold');

// LINEAR GRADIENTS
$linear-grad-3d: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
$linear-grad: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

//------------------------------------//
//--------------MIX-INS--------------//
//------------------------------------//
%margin-padding {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
%background-colour {
  background: rgba(0, 0, 0, 0.05);
}
%text-adjust {
  font-size: 1rem;
  line-height: 1.5rem;
}
%tile-image {
  height: 150px;
  min-width: 250px;
  border-radius: 15px;
  cursor: pointer;
  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5) no-repeat center center/cover;
    transition: all 0.5s ease-out;
    color: set-h4-color($light-colour);

    &:hover {
      border: 1px solid orange;
      background: rgba(0, 0, 0, 0.9);
    }
  }
}
