@import './variables';
// @import './modal';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//------------------------------------//
//--------0. GENERAL STYLES--------//
//------------------------------------//
body {
  font-family: 'Dosis', sans-serif;

  .container {
    margin: 0 10vw;
  }

  h1 {
    margin-bottom: 0;
    font-size: 3rem;
    color: #c0c5ce;
  }

  h2 {
    // display: inline-block;
    // margin: 0 auto 0 auto;
    // background: blue;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    border-bottom: 2px solid $colour1;
    color: set-h2-color($dark-colour);
  }

  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
    // margin-top: 10px;
    border-bottom: 2px solid $colour1;
    display: inline-block;
    color: set-h3-color($dark-colour);
  }

  h4 {
    color: white;
  }

  p {
    text-align: justify;
    line-height: 1.5rem;
    color: black;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

//------------------------------------//
//--------1. LANDING SECTION--------//
//------------------------------------//
#home {
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 92.5vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('./img/SpaceSelfie.png') no-repeat 25% 100% / cover;
  // background-attachment: fixed; //This solved nothing?

  #home-overlay {
    position: absolute;
    // height: 92.5vh;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  #home-content {
    position: absolute;
    top: 7%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    // background: purple;
    z-index: 2;

    h2 {
      border: none;
      text-align: center;
    }

    span {
      color: $colour1;
    }
  }
}

//------------------------------------//
//--------2. NAVBAR SECTION--------//
//------------------------------------//
// #nav-wrap {
//   position: absolute;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.6);
//   z-index: 2;
//   top: 0;
//   // padding-top: 50vh;

#navbar {
  position: sticky;
  top: 0;
  height: 7.5vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  background: $dark-colour;
  z-index: 4;
  font-size: 0.75rem;
  // border-radius: 10px;

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: $colour1;
    color: white;
    // border-radius: 10px;

    // a {
    //   // height: 100%;
    //   // width: 100%;
    //   // justify-content: center;
    //   // align-items: center;
    //   // justify-self: center;
    //   // background: yellow;
    // }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;

    a {
      padding: 10px;
      margin: 0 5px;
      // border: 1px solid white;
      border-radius: 10px;

      // li {
      // background: blue;
      // }
    }
  }
}
// }
// }
//------------------------------------//
//--------3. SKILLS SECTION--------//
//------------------------------------//
#skills {
  background: white;
  padding: 10px;
  width: 100vw;
  // display: flex;
  // justify-content: center;
  // width: 100vw;

  // h2 {
  //   display: inline-block;
  //   margin: 0px auto;
  // }

  .items {
    display: grid;
    // flex-direction: column;
    grid-template-columns: 1fr;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    // border: 2px solid black;
    // background: burlywood;

    // #frontend {
    //   // background: rebeccapurple;
    //   width: 100%;
    //   text-align: center;
    //   padding: 10px;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      // background: blue;
      // text-align: center;

      i {
        margin: 20px auto;
        // background: yellow;
      }

      .html {
        color: $html5;
      }

      .css {
        color: $css3;
      }

      .sass {
        color: $sass;
      }

      .javascript {
        color: $js;
      }

      .react {
        color: $react;
      }

      .bootstrap {
        color: $bootstrap;
      }

      .git {
        color: $git;
      }

      .github {
        color: black;
      }

      .npm {
        color: $npm;
      }
    }
  }
}

//------------------------------------//
//--------4. PORTFOLIO SECTION--------//
//------------------------------------//
#portfolio {
  background: $colour4;
  // padding: 20%;
  // min-height: 50vh;
  // height: 100vh;
  padding-bottom: 30px;

  .items {
    // background: blue;
    margin-top: 20px;
    display: grid;
    align-content: space-between;
    gap: 20px;
    padding: 10px;
    // max-height: 100%;
    // gap: 4%;
    // justify-content: center;
    // grid-template-columns: 1fr;

    .item {
      // background: blue;
      // width: 100%;
      min-height: 200px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 10px;
      box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.3), 0 7px 20px 0 rgba(255, 255, 255, 0.3);

      // margin: 0px 10px;

      // &:nth-child(even) {
      //   margin: 10px 0;
      // }

      &:nth-of-type(1) {
        background: $linear-grad, $project1-image no-repeat center center/cover;

        &:hover {
          background: $linear-grad-3d, $project1-image no-repeat center center/cover;
        }
      }

      &:nth-of-type(2) {
        background: $linear-grad, $project2-image no-repeat center center/cover;

        &:hover {
          background: $linear-grad-3d, $project2-image no-repeat center center/cover;
        }
      }

      &:nth-of-type(3) {
        background: $linear-grad, $project3-image no-repeat center center/cover;

        &:hover {
          background: $linear-grad-3d, $project3-image no-repeat center center/cover;
        }
      }
    }
  }
}

//
//------------------------------------
//--------5. ABOUT SECTION--------//
//------------------------------------
//
#about {
  padding-bottom: 30px;
  // height: 100vh;   -  SMOOTH SCROLL
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // padding-bottom: 50px;
  // h2 {
  //   color: set-h2-color($light-colour);
  // }
  p {
    // text-align: center;
    padding-bottom: 10px;
  }

  .items {
    display: grid;
    gap: 40px;
    // background: blue;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: 1fr;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      // h3 {
      //   color: set-h3-color($dark-colour);
      // }
      i {
        padding-bottom: 10px;
      }

      p {
        // color: set-text-color($dark-colour);
        line-height: 1.8rem;
        padding: 0 10px;
        text-align: justify;
      }

      // i {
      //   // &:nth-of-type(1) {
      //   //   color: rgb(165, 165, 1);
      //   // }
      //   &:nth-of-type(1) {
      //     color: red;
      //   }
      // }
    }
  }
}

//
//------------------------------------
//--------6. FOOTER--------//
//------------------------------------
//
#footer {
  background: $colour2;
  padding: 10px 0;
  // background: blue;
  .container {
    div {
      display: flex;
      // grid-template-columns: 2fr 1fr;

      // min-width: 90vw;
      justify-content: space-between;
      align-items: center;
      color: $colour1;
      // p {
      //   // margin: 0 100px;
      //   // padding: 1rem;
      //   // background: yellow;
      // }
      // a {
      // }
    }
  }
}

@import './responsive';
