#skills .items .item .html, .modal-content-wrapper .modal-content article #column-1 #tech .html {
  color: #f06529;
}
#skills .items .item .css, .modal-content-wrapper .modal-content article #column-1 #tech .css {
  color: #2965f1;
}
#skills .items .item .sass, .modal-content-wrapper .modal-content article #column-1 #tech .sass {
  color: #cd6799;
}
#skills .items .item .javascript, .modal-content-wrapper .modal-content article #column-1 #tech .javascript {
  color: #f0db4f;
}
#skills .items .item .react, .modal-content-wrapper .modal-content article #column-1 #tech .react {
  color: #61dbfb;
}
#skills .items .item .bootstrap, .modal-content-wrapper .modal-content article #column-1 #tech .bootstrap {
  color: #563d7c;
}
#skills .items .item .git, .modal-content-wrapper .modal-content article #column-1 #tech .git {
  color: #f1502f;
}
#skills .items .item .github, .modal-content-wrapper .modal-content article #column-1 #tech .github {
  color: black;
}
#skills .items .item .npm, .modal-content-wrapper .modal-content article #column-1 #tech .npm {
  color: #cc3534;
}
#skills .items .item .node, .modal-content-wrapper .modal-content article #column-1 #tech .node {
  color: #3c873a;
}
#skills .items .item .python, .modal-content-wrapper .modal-content article #column-1 #tech .python {
  color: #306998;
}
#skills .items .item .yarn, .modal-content-wrapper .modal-content article #column-1 #tech .yarn {
  color: #117cad;
}
#skills .items .item .github, .modal-content-wrapper .modal-content article #column-1 #tech .github {
  color: #2b3137;
}

#skills .items .item .html, .modal-content-wrapper .modal-content article #column-1 #tech .html {
  color: #f06529;
}
#skills .items .item .css, .modal-content-wrapper .modal-content article #column-1 #tech .css {
  color: #2965f1;
}
#skills .items .item .sass, .modal-content-wrapper .modal-content article #column-1 #tech .sass {
  color: #cd6799;
}
#skills .items .item .javascript, .modal-content-wrapper .modal-content article #column-1 #tech .javascript {
  color: #f0db4f;
}
#skills .items .item .react, .modal-content-wrapper .modal-content article #column-1 #tech .react {
  color: #61dbfb;
}
#skills .items .item .bootstrap, .modal-content-wrapper .modal-content article #column-1 #tech .bootstrap {
  color: #563d7c;
}
#skills .items .item .git, .modal-content-wrapper .modal-content article #column-1 #tech .git {
  color: #f1502f;
}
#skills .items .item .github, .modal-content-wrapper .modal-content article #column-1 #tech .github {
  color: black;
}
#skills .items .item .npm, .modal-content-wrapper .modal-content article #column-1 #tech .npm {
  color: #cc3534;
}
#skills .items .item .node, .modal-content-wrapper .modal-content article #column-1 #tech .node {
  color: #3c873a;
}
#skills .items .item .python, .modal-content-wrapper .modal-content article #column-1 #tech .python {
  color: #306998;
}
#skills .items .item .yarn, .modal-content-wrapper .modal-content article #column-1 #tech .yarn {
  color: #117cad;
}
#skills .items .item .github, .modal-content-wrapper .modal-content article #column-1 #tech .github {
  color: #2b3137;
}

.modal-content-wrapper .modal-content article #column-2 #feat, .modal-content-wrapper .modal-content article #column-2 #sol, .modal-content-wrapper .modal-content article #column-2 #diff, .modal-content-wrapper .modal-content article #column-2 #role, .modal-content-wrapper .modal-content article #column-1 #tech, .modal-content-wrapper .modal-content article #column-1 #summary {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

.modal {
  /* This is the class for the dark background around the modal. */
  display: none;
  /*This makes the modal hide until button click*/
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

/* Now to deal with the content! */
.modal-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modal-content-wrapper .modal-content {
  width: 80vw;
  margin: 0 auto;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}
.modal-content-wrapper .modal-content article {
  height: 95vh;
  width: 80vw;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.3), 0 7px 20px 0 rgba(255, 255, 255, 0.3);
}
.modal-content-wrapper .modal-content article #column-1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 50%;
}
.modal-content-wrapper .modal-content article #column-1 #summary {
  background: rgba(0, 0, 0, 0.1);
}
.modal-content-wrapper .modal-content article #column-1 #summary .image-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content-wrapper .modal-content article #column-1 #summary .image-section .image {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  filter: brightness(50%);
}
.modal-content-wrapper .modal-content article #column-1 #summary .image-section .image:hover {
  background: green;
}
.modal-content-wrapper .modal-content article #column-1 #summary .buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.modal-content-wrapper .modal-content article #column-1 #summary .buttons a {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-wrapper .modal-content article #column-1 #summary .buttons a i {
  margin: 0 10px 0 0;
  padding: 5px;
  font-size: 1rem;
}
.modal-content-wrapper .modal-content article #column-1 #summary .buttons a p {
  padding: 0 5px;
}
.modal-content-wrapper .modal-content article #column-1 #tech {
  background: rgba(0, 0, 0, 0.1);
}
.modal-content-wrapper .modal-content article #column-1 #tech .lang-percent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.modal-content-wrapper .modal-content article #column-1 #tech .lang-percent div {
  height: 10px;
}
.modal-content-wrapper .modal-content article #column-1 #tech .lang-percent div:first-of-type {
  background: turquoise;
  border-radius: 20px 0 0 20px;
  width: 40%;
}
.modal-content-wrapper .modal-content article #column-1 #tech .lang-percent div:nth-of-type(2) {
  background: green;
  width: 30%;
}
.modal-content-wrapper .modal-content article #column-1 #tech .lang-percent div:nth-of-type(3) {
  background: yellow;
  width: 20%;
}
.modal-content-wrapper .modal-content article #column-1 #tech .lang-percent div:nth-of-type(4) {
  background: red;
  width: 10%;
}
.modal-content-wrapper .modal-content article #column-1 #tech .lang-percent div:last-of-type {
  background: blue;
  width: 20%;
  border-radius: 0 20px 20px 0;
}
.modal-content-wrapper .modal-content article #column-1 #tech .table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content-wrapper .modal-content article #column-1 #tech .table ul {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 0;
}
.modal-content-wrapper .modal-content article #column-1 #tech .table ul i {
  padding: 0 10px;
}
.modal-content-wrapper .modal-content article #column-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 30%;
}
.modal-content-wrapper .modal-content article #column-2 #role {
  background: rgba(0, 0, 0, 0.1);
}
.modal-content-wrapper .modal-content article #column-2 #diff {
  background: rgba(0, 0, 0, 0.1);
}
.modal-content-wrapper .modal-content article #column-2 #sol {
  background: rgba(0, 0, 0, 0.1);
}
.modal-content-wrapper .modal-content article #column-2 #feat {
  background: rgba(0, 0, 0, 0.1);
}
.modal-content-wrapper .modal-content article #column-2 #feat ul {
  display: flex;
  flex-direction: column;
}
.modal-content-wrapper .modal-content article #column-2 #feat ul li {
  margin: 0 0 0 20px;
  padding: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}
body .container {
  margin: 0 10vw;
}
body h1 {
  margin-bottom: 0;
  font-size: 3rem;
  color: #c0c5ce;
}
body h2 {
  display: block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #5fa4dc;
  color: set-h2-color(#111);
}
body h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid #5fa4dc;
  display: inline-block;
  color: set-h3-color(#111);
}
body h4 {
  color: white;
}
body p {
  text-align: justify;
  line-height: 1.5rem;
  color: black;
}
body a {
  text-decoration: none;
  color: white;
}

#home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("./img/SpaceSelfie.png") no-repeat 25% 100%/cover;
}
#home #home-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
#home #home-content {
  position: absolute;
  top: 7%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: white;
  margin: 0 auto;
  z-index: 2;
}
#home #home-content h2 {
  border: none;
  text-align: center;
}
#home #home-content span {
  color: #5fa4dc;
}

#navbar {
  position: sticky;
  top: 0;
  background: #343a40;
  z-index: 4;
  font-size: 0.65rem;
  color: rgba(255, 255, 255, 0.5);
}
#navbar ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
  list-style-type: none;
}
#navbar ul li {
  display: flex;
}
#navbar ul li:nth-child(1) {
  background: #5fa4dc;
}
#navbar ul li:nth-child(1):hover {
  background: #111;
}
#navbar ul li:nth-child(1), #navbar ul li:nth-child(2), #navbar ul li:nth-child(3), #navbar ul li:nth-child(4) {
  border-right: 3px solid rgba(0, 0, 0, 0.9);
}
#navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 5px;
  width: 100%;
}
#navbar ul li a i {
  padding-right: 5px;
}
#navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
}

#skills {
  background: white;
  padding: 10px;
  width: 100vw;
}
#skills h2 {
  width: 70px;
  margin: 0 auto 20px;
}
#skills .items {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}
#skills .items .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills .items .item i {
  margin: 20px auto;
}

#portfolio {
  background: #a7adba;
  padding-bottom: 30px;
}
#portfolio h2 {
  width: 120px;
  margin: 0 auto 20px;
}
#portfolio .items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
}
#portfolio .items .item {
  min-height: 200px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.3), 0 7px 20px 0 rgba(255, 255, 255, 0.3);
}

#background {
  padding-bottom: 30px;
}
#background h2 {
  width: 165px;
  margin: 0 auto 20px;
}
#background p {
  padding-bottom: 10px;
}
#background .items {
  display: grid;
  gap: 40px;
}
#background .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#background .items .item i {
  padding-bottom: 10px;
}
#background .items .item p {
  line-height: 1.8rem;
  padding: 0 10px;
  text-align: justify;
}

#footer {
  background: #4f5b66;
  padding: 10px 0;
}
#footer .container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5fa4dc;
}

@media (min-width: 670px) and (max-width: 769px) {
  #home #home-content {
    top: 12%;
  }
  #home #home-content h1 {
    font-size: 4rem;
  }

  #navbar {
    font-size: 1.2rem;
  }

  #skills .items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #portfolio .items {
    grid-template-columns: 1fr 1fr;
  }
  #portfolio .items .item {
    height: 20px;
  }
  #portfolio .items .item h4 {
    font-size: 1.2rem;
  }
  #portfolio .modal .modal-content {
    margin: 22vh auto;
    overflow-y: scroll;
  }
  #portfolio .modal .modal-content article {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #background p {
    text-align: center;
  }
  #background .items {
    grid-template-columns: repeat(3, 1fr);
  }
  #background .items .item {
    justify-content: flex-start;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #home #home-content {
    top: 15%;
  }
  #home #home-content h1 {
    font-size: 5rem;
  }

  #navbar {
    font-size: 1.2rem;
  }

  #skills .items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #portfolio .items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #portfolio .items .item {
    height: 20px;
  }
  #portfolio .items .item h4 {
    font-size: 1.2rem;
  }
  #portfolio .modal .modal-content-wrapper .modal-content article {
    height: 100%;
    display: grid !important;
    grid-template-columns: 1fr 3fr !important;
  }

  #background p {
    text-align: center;
  }
  #background .items {
    grid-template-columns: repeat(3, 1fr);
  }
  #background .items .item {
    justify-content: flex-start;
  }
}
@media (min-width: 1201px) {
  #home {
    background: url("./img/SpaceSelfie.png") no-repeat 75% 70%/cover;
  }
  #home #home-content {
    top: 5%;
  }

  #navbar {
    font-size: 1.2rem;
  }

  #skills .items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #portfolio .items .item {
    height: 20px;
  }
  #portfolio .items .item h4 {
    font-size: 1.2rem;
  }
  #portfolio .modal .modal-content-wrapper .modal-content {
    margin: 20vh auto;
  }
  #portfolio .modal .modal-content-wrapper .modal-content article {
    height: 100%;
    display: grid !important;
    grid-template-columns: 1fr 3fr !important;
  }

  #background p {
    text-align: center;
  }
  #background .items {
    grid-template-columns: repeat(3, 1fr);
  }
  #background .items .item {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=main.css.map */
