
	/* Let's get some out-of-this-world fonts */

@font-face {
    font-family: 'sfalienencsolid';
	src:	url('./assets/fonts/sfalienencsolid.woff2') format('woff2'),
			url('./assets//fonts/sfalienencsolid.woff') format('woff'),
			url('./assets//fonts/sfalienencsolid.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'sfalienenc';
	src:	url('./assets/fonts/sfalienenc.woff2') format('woff2'),
			url('./assets//fonts/sfalienenc.woff') format('woff'),
			url('./assets//fonts/sfalienenc.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'streamster';
	src:	url('./assets/fonts/streamster.woff2') format('woff2'),
			url('./assets//fonts/streamster.woff') format('woff'),
			url('./assets//fonts/streamster.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'scriptina';
	src:	url('./assets/fonts/scriptina.woff2') format('woff2'),
			url('./assets//fonts/scriptina.woff') format('woff'),
			url('./assets//fonts/scriptina.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


	/* These colors were inspired by a funky Ted Baker wallet
	which I was given when I left my last sales job */

* {
	--portfolio-light-blue: #8EA8C3;
	--portfolio-black: #000000;
	--portfolio-gray: #363946;
	--portfolio-blue: #406E8E;
	--portfolio-purple: #5B2E48;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'sfalienencsolid', sans-serif;
	color: inherit;
	/* border: 2px hotpink dotted; */
}

	/* I know how I like my body. */

body {
	max-width: 100vw;
	background-color: var(--portfolio-black); 
}

	/* Header styles. Because first impressions count. */

header {
	width: 100%;
	height: 32vh;
	background-color: #0B001499;
	border-bottom: 1px solid var(--portfolio-light-blue);
}

header > nav {
	text-align: center;
	width: 100%;
	height: 100%;
}

header > nav > ul {
	width: 100%;
	height: 100%;
	list-style: none;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	letter-spacing: initial;
}

header > nav > ul > li {
	color: var(--portfolio-blue);
	width: 85%;
}

header > nav > ul > li.home {
	color: var(--portfolio-light-blue);
}

header > nav > ul > li:not(.home) {
	border-left: 0.2em var(--portfolio-light-blue) solid;
}

header > nav > ul > li > a {
	text-decoration: none;
	font-size: 2em;
}

	/* All the sections take up one viewport height on mobile. */

section {
	height: 100vh;
	border-bottom: 1px var(--portfolio-light-blue) double;
}

		/* What better way to start than a bold opening gambit? */

section.bold-opening-gambit {
	background-image: url(./assets/images/background-three.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

section.bold-opening-gambit #headline {
	height: 68vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

section.bold-opening-gambit #headline div.text p {
	line-height: 3em;
	text-align: center;
	text-shadow: 0px 0px 70px #8EA8C3;
	overflow: visible;
	font-size: 1.5em;
}

section.bold-opening-gambit #headline div.text.first-line p {
	background-color: #5B2E4833;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	color: var(--portfolio-purple);
	width: 45%;
}

section.bold-opening-gambit #headline div.text.second-line p {
	background-color: #5B2E4833;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	float: right;
	color: var(--portfolio-purple);
	width: 65%;
}

section.bold-opening-gambit #headline div.text.third-line p {
	background-color: #36394633;
	color: var(--portfolio-blue);
	font-size: 1.8em;
}

section.bold-opening-gambit #headline div.text.fourth-line p {
	color: var(--portfolio-black);
	background-color: #406E8E33;
	font-size: 2.5em;
}

	/* Whew, that was long. Alright, first proper bit ofhomepage content now. */

	/* Remember, we're still on mobile here—this all goes out the window after 768 pixels. */

section.first-content {
	background-image: url(./assets/images/background-five.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

section.first-content #headline {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
}

section.first-content #headline div.text p {
	line-height: 3em;
	text-align: center;
	text-shadow: 0px 0px 70px #8EA8C3;
	overflow: visible;
	font-size: 1.5em;
}

section.first-content #headline div.text.first-line p {
	background-color: #5B2E4833;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 100%;
	color: var(--portfolio-gray);
	width: 45%;
	float: middle;
}

section.first-content #headline div.text.second-line p {
	color: var(--portfolio-black);
	background-color: #406E8E33;
	font-size: 2.5em;
	line-height: 1em;
}

section.first-content #headline div.text.third-line p {
	background-color: #5B2E4833;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	float: right;
	color: var(--portfolio-blue);
	width: 65%;
}


section.first-content #headline div.text.fourth-line p {
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	font-family: 'streamster';
	color: #5B2E48FF;
	text-shadow: 0px 0px 20px #8EA8C3;
	background-color: #406E8E66;
	font-size: 9em;
	line-height: 2em;
}

	/* NICE. Ok, second bit of the homepage comin' up.
	This will probably be a form but I'll change it later.
	Also, this needs to be a bit shorter so we can fit the footer in. */

	section.second-content {
		background-image: url(./assets/images/background-four.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	section.second-content #headline {
		height: 68vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: justify;
	}
	
	section.second-content #headline div.text p {
		line-height: 3em;
		text-align: center;
		text-shadow: 0px 0px 70px #8EA8C3;
		overflow: visible;
		font-size: 1.5em;
	}
	
	section.second-content #headline div.text.first-line p {
		background-color: #5B2E4833;
		border-top-right-radius: 2em;
		border-bottom-right-radius: 2em;
		color: var(--portfolio-purple);
		width: 45%;
	}
	
	section.second-content #headline div.text.second-line p {
		background-color: #5B2E4833;
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;
		float: right;
		color: var(--portfolio-purple);
		width: 65%;
	}
	
	section.second-content #headline div.text.third-line p {
		background-color: #36394633;
		color: var(--portfolio-blue);
		font-size: 1.8em;
	}

.char {
	color: transparent;
	text-decoration: underline;
	text-decoration-color: var(--portfolio-purple);
}

.first-content {
	background-image: url(./assets/images/background-five.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.second-content {
	background-image: url(./assets/images/background-four.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

	/* Last but not least. If you're still reading, I applaud you. */

header {
	width: 100%;
	height: 32vh;
	background-color: #0B001499;
}

body > footer {
	height: 12vh;
	background-color: #0B001499;
	border-top: 1px double var(--portfolio-light-blue);
}

footer > ul {
	list-style: none;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;

}

footer > ul > li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: inherit;
}


header > nav > ul {
	width: 100%;
	height: 100%;
	list-style: none;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	letter-spacing: initial;
}


@media screen and (min-width: 768px) {

	.hover-nav {
		letter-spacing: 0.05em;
		color: var(--portfolio-purple);
	}
	
	nav:hover *.hover-nav {
		display: inherit;
		letter-spacing: 0em;
		transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
		transition: letter-spacing 2s, text-shadow 2s, color 2s;
		color: var(--portfolio-blue);
		cursor: pointer;
	}

	nav:hover * > span.char {
		color: transparent;
		text-decoration-color: var(--portfolio-blue);
		transition: text-decoration 2s;
	}
		
	a:hover .hover-io, p:hover .hover-io, li:hover .hover-io {
		letter-spacing: 0.05em;
		transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
		transition: letter-spacing 0.5s, color 0.5s;
		color: var(--portfolio-light-blue);
		cursor: pointer;
		text-shadow: 0px 0px 30px var(--portfolio-light-blue);
	}

	section.first-content #headline div.text.fourth-line p {
		width: 20%;
		border-top-right-radius: 100%;
		border-top-left-radius: 100%;
		border-bottom-right-radius: 100%;
		background-color: #363946FF;
		font-family: 'streamster';
		color: var(--portfolio-blue);
		text-shadow: unset;
		font-size: 9em;
		line-height: 1em;
	}

	section.first-content #headline div.text.fourth-line:hover > p {
		width: 100%;
		background-color: #36394633;
		border-top-right-radius: 0em;
		border-top-left-radius: 0em;
		border-bottom-right-radius: 0em;
		letter-spacing: 0.1em;
		font-size: 16em;
		line-height: 2em;
		color: var(--portfolio-purple);
		text-shadow: 0px 0px 20px #8EA8C3;
		transition-timing-function: cubic-bezier(0.1, 0.2, 0.4, 0.8);
		transition: width 1.5s, background-color 1.5s, border-radius 1.5s, text-align 1.5s, border 1.5s, line-height 1.5s, letter-spacing 1.5s, font-size 1.5s, color 1.5s, text-shadow 1.5s;

	}
	
	section {
		height: 88vh;
		border-bottom: 1px var(--portfolio-light-blue) double
	}

	header {
		position: sticky;
		top: 0;
		height: 12vh;
		border-bottom: 1px solid var(--portfolio-light-blue);
	}

	header > nav {
		text-align: center;
		width: 100%;
		height: 100%;
	}

	header > nav > ul {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1.75fr 1.75fr 1.75fr;
		grid-template-rows: 1fr;

	}

	header > nav > ul > li {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50%;
		color: inherit;
	}
	
	header > nav > ul > li > a {
		text-decoration: none;
		font-size: 2em;
	}
}

@media screen and (min-width: 1080px) {

	header > nav > ul > li > a {
		font-size: 2.4em;
	}
}


.highlight {
	color: var(--portfolio-light-blue);
	text-shadow: 0px 0px 30px var(--portfolio-light-blue);
}

.lowlight {
	color: var(--portfolio-purple);
	text-shadow: 0px 0px 30px var(--portfolio-light-blue);
}


.hover-io {
	color: inherit;
}
