* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 500vh;
	background-image: linear-gradient(to bottom right, rgb(162, 0, 255) 0%, rgb(255, 0, 191) 50%, rgb(255, 0, 64) 100%);
	color: transparent;
}

#landing-page {
	position: sticky;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
}

nav {
	height: 8vh;
	background-color: #0B0014;
}

@font-face {
    font-family: 'sfalienencsolid';
	src:	url('./assets/fonts/sfalienencsolid.woff2') format('woff2'),
			url('./assets//fonts/sfalienencsolid.woff') format('woff'),
			url('./assets//fonts/sfalienencsolid.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'sfalienenc';
	src:	url('./assets/fonts/sfalienenc.woff2') format('woff2'),
			url('./assets//fonts/sfalienenc.woff') format('woff'),
			url('./assets//fonts/sfalienenc.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

section {
	line-height: 1.4em;
	font-family: 'sfalienencsolid';
	font-weight: normal;
	font-style: normal;
	font-size: 12vmin;
	height: 88vh;
	/* background-color: red 0.6 0%; */
	/* background-size: cover;
	background-blend-mode: color;
	opacity: 100%; */
}

#background-image {
	position: fixed;
	top: 8vh;
	left: 0;
	height: 88vh;
	width: 100%;
	background-image: url(https://i.giphy.com/media/l0K4lUxBzIOeJd1EA/giphy.webp), url(./assets/vector.jpg);
	background-size: cover;
	background-blend-mode: luminosity;
	z-index: -1;
	opacity: 50%;

}

#container {
	opacity: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 88vh;
	width: 100%;
	/* background-color: rgba(0, 0, 0, 0.4) */
}

.text {
	background-color: #0b001466;
	width: 100%;
	text-align: center;
	text-shadow: 0px 0px 50px;
}

#youve {
	padding-left: 16vw;
	padding-right: 24vw;
}




#found {
	padding-left: 24vw;
	padding-right: 16vw;
}

#david {
	padding-left: 32vw;
	padding-right: 8vw;
	color: transparent;
}

p {
	width: 100%;
	background-color: rgba(11, 0, 20, 0.4);
}

.my-name {
	font-family: "sfalienenc";

}

footer {
	height: 4vh;
	background-color: #0b0014;
}

@media screen and (max-width: 425px) and (orientation: portrait) {
	.text {
		margin: 2vh;
		font-size: 36px;
	}

}

@media screen and (min-width: 768px) {
	section {
		font-size: 92.16px;
	}  

}


.blink-one {
	animation:blink-one 12s infinite;
}

.blink-two {
	animation:blink-two 12s infinite;
}

.blink-three {
	animation:blink-three 12s infinite;
}

@keyframes blink-one{

	0%	{color: transparent;}
	5%	{color: #ff00ff;}
	10%	{color: #ff00ff;}
	15%	{color: transparent;}
	20%	{color: transparent;}
	25%	{color: transparent;}
	30%	{color: transparent;}
	35%	{color: #ccff00;}
	40%	{color: #ccff00;}
	45%	{color: transparent;}
	50%	{color: transparent	;}
	55%	{color: transparent;}
	60%	{color: transparent;}
	65%	{color: #ff8D03;}
	70%	{color: #ff8D03;}
	75%	{color: transparent;}
	80%	{color: transparent;}
	85%	{color: transparent;}
	90% {color: transparent}
	91% {color: #FF3103;}
	92% {color: transparent;}
	93%	{color: #FF3103;}
	94%	{color: transparent;}
	95% {color: #FF3103;}
	96%	{color: transparent;}
	97% {color: #FF3103;}
	98%	{color: transparent;}
	99% {color: #FF3103;}
	100%{color: transparent;}
}

@keyframes blink-two{
	0%	{color: transparent;}
	5%	{color: transparent;}
	10%	{color: transparent;}
	15%	{color: #F205CB}
	20%	{color: #F205CB}
	25%	{color: transparent;}
	30%	{color: transparent;}
	35%	{color: transparent;}
	40%	{color: transparent;}
	45%	{color: #E6ED07;}
	50%	{color: #E6ED07 ;}
	55%	{color: transparent;}
	60%	{color: transparent;}
	65%	{color: transparent;}
	70%	{color: transparent;}
	75%	{color: #ff6103;}
	80%	{color: #ff6103;}
	85%	{color: transparent;}
	90% {color: transparent}
	91% {color: #FF3103;}
	92% {color: transparent;}
	93%	{color: #FF3103;}
	94%	{color: transparent;}
	95% {color: #FF3103;}
	96%	{color: transparent;}
	97% {color: #FF3103;}
	98%	{color: transparent;}
	99% {color: #FF3103;}
	100%{color: transparent;}
}

@keyframes blink-three{
	0%	{color: transparent;}
	5%	{color: transparent;}
	10%	{color: transparent;}
	15%	{color: transparent;}
	20% {color: transparent;}
	25%	{color: #FF1493;}
	30%	{color: #FF1493;}
	35%	{color: transparent;}
	40%	{color: transparent;}
	45%	{color: transparent;}
	50%	{color: transparent;}
	55%	{color: #7FFF00;}
	60%	{color: #7FFF00;}
	65%	{color: transparent;}
	70%	{color: transparent;}
	75%	{color: transparent;}
	80%	{color: transparent;}
	85%	{color: #FF3103;}
	89%	{color: #FF3103;}
	90% {color: transparent}
	91% {color: #FF3103;}
	92% {color: transparent;}
	93%	{color: #FF3103;}
	94%	{color: transparent;}
	95% {color: #FF3103;}
	96%	{color: transparent;}
	97% {color: #FF3103;}
	98%	{color: transparent;}
	99% {color: #FF3103;}
	100%{color: transparent;}
}




/* 

	Animation colors:

5%	{color: hotpink;}
30%	{color: rgb(214, 0, 221);}
50%	{color: rgb(87, 0, 201);}
70%	{color: rgb(172, 66, 66);}
90%	{color: rgb(252, 192, 82);}

*/



Plastic Pink:
#FF1493

Bright Pink:
#F205CB

Magenta:
#ff00ff

Dark Magenta:
#7700b3

Purple:
#D705F2

Proton Purple:
#8A2BE2

Absinthe:
#E6ED07

Neon Green:
#7FFF00;

Electric Lime:
#ccff00

