* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #2b2b2b;
  background-image: url(./img/background-one.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(219, 218, 218, 0.5)));
  background-image: url(./img/background-one.jpg), linear-gradient(rgba(255, 255, 255, 0.5), rgba(219, 218, 218, 0.5));
  background-attachment: fixed;
  background-position: center;
}

header {
  background-color: rgba(136, 136, 136, 0.7);
  padding: 20px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header a {
  font-size: 2em;
  text-decoration: none;
}

header a:visited {
  color: #2b2b2b;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* About me, Projects and Contact */
}

main .transparent {
  background-color: transparent;
}

main .transparent:hover {
  background-color: rgba(136, 136, 136, 0.1);
}

main .solid {
  background-color: rgba(115, 126, 150, 0.8);
}

main section {
  min-height: 80vh;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section h2 {
  padding-bottom: 2em;
  color: blue;
}

main .ed {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .ed span {
  overflow: hidden;
  margin: 0 auto;
}

main .projects {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}

main .projects .container .box {
  border: 2px solid #2b2b2b;
  height: 20vh;
  width: 25vw;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
}

main .cv-and-contact {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .cv-and-contact .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .cv-and-contact .contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
  padding: 10px;
}

main .cv-and-contact .contact div ul li {
  list-style-type: none;
}

main .cv-and-contact .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 60px;
  color: #2b2b2b;
  text-decoration: none;
}

main .cv-and-contact .icons a {
  display: inline-block;
}

main .cv-and-contact .icons a:visited {
  color: #2b2b2b;
}

footer {
  background-color: #292828;
  color: whitesmoke;
  padding: 20px;
}

footer:hover {
  font-size: 1.1em;
}
/*# sourceMappingURL=style.css.map */