.light-mode-text {
  color: #1f1f1f;
}

.light-mode-background {
  background-color: #fbfef9;
}

.dark-mode-background {
  background-color: #1f1f1f;
}

.dark-mode-text {
  color: #fbfef9;
}

.dark-mode-box-shadow {
  box-shadow: 0 0 16px -3px rgba(251, 254, 249, 0.19);
}

.light-mode-box-shadow {
  box-shadow: 0 0 16px -3px rgba(31, 31, 31, 0.19);
}

.transparent-background {
  background-color: transparent;
}
