h1, h2, p {
  display: inline-block;
  margin: $small-margin;
}

h1, h2 {
  padding: $small-padding 0;
}

nav {
  z-index: 998;
  position: fixed;
  height: 100vh;
  left: -100vw;
  width: 100vw;
  transition: left 1s;

  ul {
    @include flex-column-around;
    height: 80vh;
    padding-top: 10vh;
    opacity: 0;
    transition: opacity 2s;
  }
}

#fixed-header {
  @include flex-row-between;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
  background-color: transparent;
  div {
    margin: $small-margin;
  };
}

#languages-wrapper {

  @include flex-column-center;
  text-align: center;
  height: auto;
  
  p {
    text-align: center;
    width: $small-width;
  }

  #languages-icon-wrapper {
    display: inline-block;
    @include flex-row-between;
    width: $small-width;
    padding: $small-padding;
    i {
      display: inline-block;
      margin: $tiny-margin;
    }
  } 
}

section {
  @include flex-column-center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.section-wrapper {
  @include flex-column-center;
}

footer {
  position: absolute;
  bottom: 0;

  ul {
    @include flex-row-between;
    width: $small-width;
    padding: $small-padding;
  }

  p {
    text-align: center;
    
  }
}

main {
  @include flex-column-even;
  width: 100vw;
}

.hidden-link-location {
  height: 7.5vh;
}

article {
  height: auto;
  margin: 20vh $small-margin;
  border: 1px solid transparent;
  border-radius: 25px;
  box-shadow: 0 0 16px -3px rgba(31, 31, 31, 0.19);
  text-align: center;

  header {
    border: 1px solid transparent;
    border-radius: 25px;
  }
  
  .project-links {
    @include flex-row-even;
    margin: 0;
    width: $small-width;
    padding: $small-padding;
  }

  &:last-child {
  margin-bottom: 27.5vh;
  }
}

.project-header {
  @include flex-row-start;
  position: static;
}

header {
  h2 {
    margin: 0 $small-margin;
  }
}

#menu-toggle, #color-toggle, svg {
  background: transparent;
}
