@media (min-width: $breakpoint-tablet) {
  #about {
    margin: 0 auto;
    width: 80vw;
  }

  article {
    width: 80vw;
    padding: 20px;
  }
}

@media (min-width: $breakpoint-desktop) {
  main {
    margin: 0 auto;
  }

  article {
    width: 40vw;
  }

  #about {
    width: 60vw;
    margin: 0 auto;
  }

  h1 {
    font-size: $large-font * 1.125;
  }

  h2,
  i,
  li {
    font-size: $medium-font * 1.125;
  }

  p {
    font-size: $small-font * 1.125;
  }

  header {
    .social-media-wrapper {
      i {
        font-size: $small-font * 1.125;
      }
    }

    .project-links {
      i {
        font-size: $small-font * 1.75;
      }
    }
  }
}
