@media (min-width: $breakpoint-tablet) {
  h1, h2, p {
    margin: $medium-margin;
    width: $medium-width;
  }

  p {
    margin-top: 0;
  }  
  
  #fixed-header {
    div {
      margin: $medium-margin;
    };
  }

  article {

    .project-wrapper {
      width: $medium-width;
    }
  }

  header {
    h2 {
      margin: 0 $medium-margin;
    }
  }


}

@media (min-width: $breakpoint-desktop) {
  #about {
    h1, p {
      width: 45vw;
    }
  }
}
