@media (min-width: $breakpoint-tablet) {
  h1,
  h2,
  p,
  #languages-icon-wrapper {

    margin: $medium-margin;
    width: $medium-width;
  }

  #about-content {

    margin: 0 $medium-margin 48px $medium-margin;
  }

  #languages-wrapper {

    padding: 20px 0;

    p {

      margin-bottom: 0;
    }
  }

  #about-content p,
  .project-wrapper p {

    margin-top: 0;
  }
  
  #fixed-header {
    div {
      margin: $medium-margin;
    };
  }

  article {

    min-width: unset;

    .project-wrapper {

      width: $medium-width;
    }
  }

  header {
    h2 {
      margin: 0 $medium-margin;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #about {
    h1,
    p {
      width: $large-width;
    }
  }
}
