@media (max-width: 640px) {
  body {
    padding-top: 20px;
    margin: auto;
  }
  body h2 {
    font-size: 40px;
  }
  body h3 {
    font-size: 25px;
  }
  main {
    max-width: 100vw;
  }
  header nav {
    display: none;
  }
  .container-landing {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr) [20];
    grid-template-rows: repeat(20, 1fr);
    height: 100vh;
  }
  .container-landing .big-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
  .container-landing .big-type h1 {
    font-weight: 100;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
  }
  .container-landing .landing-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    -ms-grid-row: 3;
    -ms-grid-row-span: 12;
    grid-row: 3 / span 12;
  }
  .container-landing .landing-text p,
  .container-landing .landing-text span {
    font-size: 30px;
    margin-top: 20px;
  }
  .container-landing .landing-text p span,
  .container-landing .landing-text span span {
    font-size: 30px;
    border-bottom: 1px dotted #383838;
  }
  .container-landing .contact-links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    -ms-grid-row: 8;
    -ms-grid-row-span: 10;
    grid-row: 8 / span 10;
  }
  .container-landing .contact-links p {
    margin-top: 50px;
    font-size: 20px;
  }
  .container-landing .headshot-1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    -ms-grid-row: 14;
    -ms-grid-row-span: 4;
    grid-row: 13 / span 4;
    text-align: center;
  }
  .container-landing .headshot-1 img {
    height: 200px;
  }
  .container-landing a {
    border-bottom: 1px dotted #383838;
    font-size: 20px;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    color: #4630eb;
  }
  .container-landing a:hover {
    color: #df15a2;
  }
  .title-1 {
    border-bottom: solid 1px #c5c5c5;
    margin-bottom: 20px;
    width: 260px;
  }
  .container-resume {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr) [8];
    grid-template-rows: repeat(8, 1fr);
  }
  .container-resume li {
    font-size: 14px;
    line-height: 2;
    color: #4630eb;
  }
  .container-resume .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    border-bottom: 1px solid #c5c5c5;
    margin-top: 20px;
  }
  .container-resume .card-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / span 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / span 6;
    margin-top: 20px;
  }
  .container-resume .card-4 {
    margin-top: 20px;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7 / span 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / span 6;
    margin-left: 20px;
  }
  .container-resume .card-5 {
    margin-top: 20px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / span 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / span 6;
  }
  .container-resume .card-6 {
    margin-top: 20px;
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / span 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / span 6;
    margin-left: 20px;
  }
  .container-resume h3 {
    margin-bottom: 40px;
  }
  .container-resume p {
    font-size: 14px;
    line-height: 2;
  }
  .skills {
    -ms-grid-rows: (1fr) [6];
    grid-template-rows: repeat(6, 1fr);
  }
  .skills li {
    font-size: 20px;
    list-style: none;
  }
  .container-about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr) [6];
    grid-template-rows: repeat(6, 1fr);
  }
  .container-about .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 20px;
  }
  .container-about .card-7 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / span 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / span 12;
  }
  .container-about .card-7 p {
    line-height: 2;
    font-size: 16px;
  }
  .container-about .headshot-2 {
    display: none;
  }
  footer {
    margin-bottom: 10px;
  }
  footer p {
    font-size: 20px;
  }
}
