$color: #0000ee;
$outline: 120px;

* {
  color: #383838;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  height:75vh;
  padding-top: 20px;
  max-width: 95vw;
  margin: auto;
}
main {
  .email {
    writing-mode: vertical-rl;
    position: fixed;
    bottom: 10px;
    right: 30px;
    a {
      transition: ease 0.5s;
      &:hover {
        color: $color;
      }
    }
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    a {
      padding-left: 30px;
      transition: ease 0.3s;
      &:hover {
        color: $color;
      }
    }
  }
  span {
    color: $color;
  }
  p{
    font-family: youngserif ;
  }
}
.landing {
  padding: 40px 0px;
  width: 100%;
  h1 {
    font-family: youngserif,Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 100;
    font-size: $outline;
    margin-bottom: 20px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }

  p {
    width: 800px;
    margin-bottom: 40px;
    font-size: 48px;
    span {
      border-bottom: 2px dotted #383838;
      font-size: 48px;
    }
  }
  a {
    border-bottom: 1px dotted $color;
    font-size: 40px;
    transition: ease 0.3s;
    &:hover {
      color: $color;
    }
  }
  .contact-links {
    font-size: 40px;
  }
}

