$color: #00ee;

* {
  color: #383838;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  padding-top: 20px;
  max-width: 95vw;
  margin: auto;
  h2 {
    font-size: 56px;
  }
  h3 {
    font-size: 32px;
  }
}
main {
  max-width: 85vw;
}
header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  nav {
    a {
      padding-left: 10px;
      transition: ease 0.3s;
      &:hover {
        color: #df15a2;
      }
    }
  }
  span {
    color: $color;
  }
}
// LANDING SECTION
.container-landing {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  grid-gap: 20px 20px;
  & > div {
    border-radius: 10px;
  }

  .big-type {
    grid-column: 1 / span 12;
    grid-row: 2 / span 2;
    h1 {
      font-weight: 100;
      font-size: 120px;
      font-family: youngserif;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #000;
    }
  }
  .landing-text {
    grid-column: 1 / span 8;
    grid-row: 4 / span 6;
    p,
    span {
      font-size: 48px;
      span {
        font-size: 48px;
        border-bottom: 1px dotted #383838;
      }
    }
  }
  .contact-links {
    margin-top: 20px;
    grid-column: 1 / span 10;
    grid-row: 8 / span 10;
    p {
      font-size: 48px;
    }
  }

  .headshot-1 {
    border: 1px solid;
    grid-column: 10 / span 4;
    grid-row: 4 / span 4;
    text-align: center;
  }
  a {
    border-bottom: 1px dotted #383838;
    font-size: 40px;
    transition: ease 0.3s;
    color: $color;
    &:hover {
      color: #df15a2;
    }
  }
}

// SELECTED WORK SECTION
.container-work {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);

  .title {
    grid-column: 2 / span 5;
    border-bottom: 1px solid rgb(197, 197, 197);
  }
  .card-1 {
    border: 1px solid;
    grid-column: 2 / span 5;
    grid-row: 3 / span 8;
    border-radius: 10px;
    p {
      padding: 20px;
    }
  }
  .card-2 {
    border: 1px solid;
    grid-column: 8 / span 5;
    grid-row: 4 / span 8;
    margin-left: 20px;
    border-radius: 10px;
    p {
      padding: 20px;
    }
  }
}

// RESUME SECTION

.container-resume {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  .title {
    grid-column: 2 / span 2;
    border-bottom: 1px solid rgb(197, 197, 197);
  }
  .card-3 {
    grid-column: 2 / span 5;
    grid-row: 3 / span 6;
  }
  .card-4 {
    grid-column: 7 / span 5;
    grid-row: 3 / span 6;
    margin-left: 20px;
  }
  .card-5 {
    grid-column: 2 / span 5;
    grid-row: 3 / span 6;
  }
  .card-6 {
    grid-column: 7 / span 5;
    grid-row: 3 / span 6;
    margin-left: 20px;
  }
  h3 {
    margin-bottom: 40px;
  }
  p {
    font-size: 24px;
    line-height: 2;
  }
}

//ABOUT SECTION
.container-about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);

  .title {
    grid-column: 2 / span 3;
    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 40px;
  }
  .card-7 {
    grid-row: 2 / span 4;
    grid-column: 2 / span 7;
    p {
      line-height: 2;
      font-size: 24px;
    }
  }
  .headshot-2 {
    border: 1px solid;
    grid-row: 3 / span 2;
    grid-column: 10 / span 2;
    border-radius: 10px;
    text-align: center;
  }
}

footer {
  bottom: 10px;
  left: 10px;
  .email {
    position: fixed;
    writing-mode: vertical-rl;
    position: fixed;
    bottom: 10px;
    right: 10px;
    a{
      color: #8d8787;
    }
    
    a {
      transition: ease 0.5s;
      &:hover {
        color: #df15a2;
      }
    }
  }
}
