* {
  color: #383838;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  padding-top: 20px;
  max-width: 95vw;
  margin: auto;
}

body h2 {
  font-size: 56px;
}

body h3 {
  font-size: 32px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  padding-left: 10px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

header nav a:hover {
  color: #00ee;
}

header span {
  color: #00ee;
}

header p {
  font-family: youngserif;
}

.landing {
  padding: 40px 0px;
  width: 100%;
  height: 100vh;
}

.landing h1 {
  font-family: youngserif, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100;
  font-size: 120px;
  margin-bottom: 20px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.landing p {
  width: 800px;
  margin-bottom: 40px;
  font-size: 48px;
}

.landing p span {
  border-bottom: 1px dotted #383838;
  font-size: 48px;
}

.landing a {
  border-bottom: 1px dotted #383838;
  font-size: 40px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  color: #00ee;
}

.landing a:hover {
  color: #df15a2;
}

.landing .contact-links {
  font-size: 40px;
}

.title {
  margin-left: 50px;
  margin-bottom: 20px;
}

.about {
  margin: 20px auto;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px 80px;
  text-align: left;
}

.about .card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / span 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 20;
  grid-row: 1 / span 20;
}

.about h3 {
  margin-bottom: 40px;
}

.about p {
  line-height: 2;
  font-size: 24px;
}

.work {
  margin-bottom: 150px;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px 80px;
}

.work div {
  border: 3px solid black;
  border-radius: 13px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 18;
  grid-row: 1 / span 18;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / span 5;
}

.work .card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / span 5;
}

.work h3 {
  padding: 20px;
}

.resume {
  margin: 20px auto;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px 80px;
  text-align: left;
}

.resume div {
  border-radius: 13px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / span 12;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / span 5;
}

.resume .card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / span 5;
}

.resume h3 {
  margin-bottom: 40px;
}

.resume p {
  line-height: 2;
  font-size: 24px;
}

.skills {
  margin: 20px auto;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px 80px;
  text-align: left;
}

.skills div {
  border-radius: 13px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / span 12;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / span 5;
}

.skills .card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / span 5;
}

.skills h3 {
  margin-bottom: 40px;
}

.skills p {
  line-height: 2;
  font-size: 24px;
}

footer {
  bottom: 10px;
  left: 10px;
}

footer .email {
  position: fixed;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer .email a {
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

footer .email a:hover {
  color: #00ee;
}
/*# sourceMappingURL=style.css.map */