$primary-color:#6B8E23;

body {
    background-color: #f9f9f9;
  }

  strong {
    font-style: bold;
  }
  img {
    width: 100%;
  }
  h1, h2, h3, h4, h5 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
  }

  h3 {
    text-transform: capitalize;
    font-size: 1.875em;
    padding: 0 0 5% 0;
    color: #001833;
    font-weight: 800;
  }


header {
  background-color:$primary-color;
  background-size: cover;
  background-position: center top;
  width: 100%;
}

.intro {
  max-width: 960px;
  margin: 0 auto;
  padding: 8% 0;
}

.intro h1 {
  font-size: 6em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 800;
  line-height: 1.5em;
}

.intro h2 {
  font-size: 2em;
  text-align: center;
  color: #fff;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.09em;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  font-family: proxima-nova, sans-serif;
}

.about {
  padding: 4% 0;
}

.about p {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #616569;
  margin: 10px auto;
  font-size: 1.5em;
  padding: 2% 0;
}

.about p a {
  color: #E1CCC9;
  border-bottom: 2px solid;
}

.edwin-image {
  padding: 15% 0;
  width:100%;
  background: /* bottom, image */
  url("Edwin.JPG");
}

.work {
  height: 300px;
  padding: 2% 0;
}

.work h3 {
  padding: 4% 0;
}

.text-box {
  float: left;
  text-align: left;
  width: 480px;
  background-color: #fff;
  height: 100%;
}

.text-box-content {
  padding: 4% 8%;
}

.text-box-content p {
  line-height: 1.8;
  color: #616569;
  letter-spacing: .03em;
  font-size: 1em;
}

.button {
  padding: 5% 3%;
  border: 3px solid $primary-color;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: $primary-color;
  text-align: center;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 4%;
}

.button:hover {
  color: #fff;
  background-color: #e0ccc8;
}

.image-area {
  width: 480px;
  height: 300px;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.contact {
    width: 100%;
    background-color: #011833;
    padding: 5% 0;
    margin-top: 5%;
    clear: both;
  }
  .contact-content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  .contact-content h4 {
    font-size: 1.875em;
    padding: 1% 0;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.04em;
  }
  .contact-content a {
    color: $primary-color;
    text-decoration: none;
  }

  footer {
    background-color: $primary-color;
    color: #fff;
    padding: 2% 0;
    width: 100%;
    clear: both;
    height: 100px;
  }
  .footer-content {
    max-width: 960px;
    padding: 2% 0;
    margin: 0 auto;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    color: #fff;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .social {
    float: right;
  }
  .social li {
    display: inline;
  }
  .social li a {
    color: #fff;
    padding: 0.2em;
    font-size: 1.8em;
    font-weight: 600;
  }
  .social li a:hover {
    color: #011833;
  }