* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: gray;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #0B0014;
  height: 10vh;
  width: 100vw;
}

main {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    position: relative;
    height: 90%;
    width: 90%;
    border: 1px #0B0014 solid;
    background-color: whitesmoke;
  }

  span {
    font-family: sans-serif;
    position: absolute;
    width: 10px;
    height: 10px;
    color: blue;
    transition: all 5s ease 5s;

  }
}




footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #0B0014;
  height: 10vh;
  width: 100vw;
}