@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d263b;
}

#nametag {
  border: 2px solid black;
  height: 80vh;
  border-radius: 10px;
  padding-top: 20px;
  margin: 80px;
  text-align: center;
  background-color: #5c6784;
}

h1 {
  font-size: 65px;
  font-family: 'Bangers', cursive;
  color: #1D263B;
  letter-spacing: 3px;
  padding-top: 235px;
  padding-bottom: 10px;
}

p {
  font-size: 25px;
  color: #98B6B1;
}
