* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 50, 111);
  box-shadow: 0px 15px 10px -15px rgb(70, 50, 111);
}

.logo {
  height: 2rem;
  margin: 0 20px;
  // background-color: rgb(70, 50, 111);
}

h3 {
  text-align: center;
  // background-color: rgb(236, 69, 102);
  padding: 20px;
  color: white;
  font-size: 1.7rem;
  // font-weight: lighter;
  font-family: Morganite-Medium, Helvetica, sans-serif;
  vertical-align: top;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  grid-gap: 20px;
  justify-content: space-evenly;
  padding: 20px;
}

a {
  width: 280px;
  color: white;
  text-decoration: none;
  // border: solid 1px rgb(221, 221, 221);
  // border-radius: 5px;
  text-align: center;
  box-shadow: 0px 15px 10px -15px rgb(175, 175, 175);
}

a:visited {
  color: white;
}

a:hover > .trainee-img {
  // border: solid 2px rgb(236, 69, 102);
  border-bottom: none;
  opacity: 0.5;
  transition: 0.5s;
}

.trainee-img {
  width: 280px;
  height: 350px;
  border-bottom: none;
  display: block;
  background-color: white;
  border-radius: 5px 5px 0 0;
}

p {
  width: 280px;
  background-color: rgb(70, 50, 111);
  padding: 1em;
  text-align: center;
  font-size: 20px;
  border-radius: 0 0 5px 5px;
} 

@media only screen and (min-width: 575px) {
  h1 {
    font-size: 2.5rem;
  }

  .logo {
    height: 2.5rem;
  }
}
