html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.9))), url("./images/lights.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("./images/lights.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Play', sans-serif;
}

body nav {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  display: relative;
}

body nav #dropdown {
  position: fixed;
  z-index: 1;
  background-color: white;
  opacity: 0.97;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 25%vw;
  height: 50%vh;
  padding: 10px;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

body nav #dropdown.hide {
  display: none;
}

body nav #dropdown.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body nav #dropdown ul {
  margin-top: 40px;
  list-style-type: none;
}

body nav #dropdown ul a {
  text-decoration: none;
  margin-bottom: 10px;
}

body nav #dropdown ul li {
  color: black;
  font-size: 1.5em;
}

body nav #dropdown ul li:active {
  color: black;
  background-color: lightgray;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body nav .burger {
  position: fixed;
  display: inline-block;
  width: 10%vw;
  background-color: none;
  cursor: pointer;
  margin: 4px 10px;
  z-index: 2;
}

body nav .burger .bar1 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 1px 2px 2px black;
          box-shadow: 1px 2px 2px black;
}

body nav .burger .bar2 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 1px 2px 2px black;
          box-shadow: 1px 2px 2px black;
}

body nav .burger .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 1px 2px 2px black;
          box-shadow: 1px 2px 2px black;
}

body nav .burger.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: black;
}

body nav .burger.change .bar2 {
  opacity: 0;
}

body nav .burger.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: black;
}

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideup {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidedown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

body main .splash {
  height: 100vh;
}

body main .splash .jumbotron {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  padding-top: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .splash .jumbotron h2 {
  font-size: 48px;
  font-weight: 100;
  margin: 30px 20px 5px;
  -webkit-animation: slideup 3s;
          animation: slideup 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

body main .splash .jumbotron p {
  color: white;
  text-align: center;
  font-size: 30px;
  -webkit-animation: slidedown 3s;
          animation: slidedown 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

body main .header {
  background-color: transparent;
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: 1px 2px 2px black;
  font-size: 48px;
}

body main .header h2 {
  font-size: 48px;
  font-weight: 100;
  margin: 30px 20px 5px;
  padding: 20px;
}

body main .about-me {
  background-color: white;
  opacity: 0.8;
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  width: 70vw;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .about-me h2 {
  margin-top: 20px;
  font-size: 50px;
}

body main .about-me h3 {
  font-size: 25px;
}

body main .about-me p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

body main .my-work {
  background-color: white;
  opacity: 0.8;
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  width: 70vw;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .my-work .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .my-work .grid .frame {
  height: 200px;
  min-width: 160px;
  background-color: darkgray;
  border: solid 2px black;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

body main .get-in-touch {
  background-color: white;
  opacity: 0.8;
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  width: 70vw;
  margin: 0 auto;
  display: inline-flexbox;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main .get-in-touch .icons {
  display: inline-flexbox;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 80px;
}

body main .get-in-touch .icons i {
  opacity: 1;
  padding: 20px;
  color: grey;
}

body main .get-in-touch .icons i:hover {
  color: black;
}

body main .footer {
  background-color: black;
  display: block;
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  padding: 30px;
  height: 40px;
}

@media only screen and (min-width: 900px) {
  body #dropdown:hover {
    color: black;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body .frame:hover {
    -webkit-box-shadow: 2px 2px 20px white;
            box-shadow: 2px 2px 20px white;
    border: solid 2px white;
  }
}
/*# sourceMappingURL=style.css.map */