body {
  background-color: red;
}

.board {
  display: grid;
  margin: 0 auto;
  border: 2px solid black;
  height: 300px;
  width: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  border: 1px solid black;
}
